[2017-10-05 20:54] flukeout commented on #429
Edited: changed session duration to 60 mins.

[2017-10-05 21:12] flukeout commented on #419
Thanks @emrysgreen - still aiming for 90 minutes? Will schedule for Saturday.

[2017-10-05 21:20] flukeout commented on #763
Edited - changed duration to 60 minutes.

[2017-10-05 21:32] flukeout commented on #631
Hey @caffebd - what is your preferred session format? Do you have a time or length in mind that would be ideal? Also, how many laptops will you be bringing? I'll see what's available to provide at the venue.

[2017-10-05 21:52] flukeout commented on #12
@shillontheroad - Hey are Lars and Björn attending as well, we'll need their email addresses to get them the tickets and access to your session in our Schedule App. Can you email them to @edovio - his email is edoardo.viola@mozillaitalia.org - thanks!

Also, do you have an ideal session length in mind? I'm working out a draft schedule now, would be good to know what works well.

[2017-10-05 21:57] flukeout commented on #771
Edited - updated session length to 60 mins.

[2017-10-05 22:00] flukeout commented on #605
Also, if possible, please let us know if it's possible to run this as a 60 minute session, we have too many 90 minute proposals so are reaching out to see they can be adjusted. Thanks and let us know!

[2017-10-05 22:10] kaodro commented on #654
@viswanathamsantosh @harsha171993 It would be great if this worked out, folks! Once you have arranged it between you two, just shoot me an email at kasia@mozillafoundation.org with a short description of the session and I will take it from there.

[2017-10-05 22:28] Halfcompass commented on #709
Hi @flukeout and @jonathanprozzi. Here is the outline for my session. Looking at it, I'm thinking that we will be hard-pressed to squeeze it into 60 minutes. What do you think?
**WHO is the audience: 10 minutes**
Introduction Activity–? Introduce yourself to the person next to you and find out their name, home, occupation, and childhood nickname or their passion. They each introduce their partner

[2017-10-05 22:28] kaodro commented on #151
@timcowlishaw sure, he can shoot me an email at kasia@mozillafoundation.org. Looking forward to chat in the Hub, it looks like we might have many overlaps!

[2017-10-05 22:45] tingeber commented on #605
Hey @flukeout and @jonathanprozzi sorry for the delay.

It can be adapted to a 60 minute session if needed, sure.

[2017-10-05 23:43] EPIKhub commented on #419
@emrysgreen - we cant provide the ipads, not something we have in stock

[2017-10-06 00:17] flukeout commented on #57
@ottagit Based on the scheduling demands, we'll have to shorten the session to 60 minutes. Thanks for your understanding!

[2017-10-06 00:36] KirkMelkonian commented on #350
Hi Luke.  We can condense down to 60 minutes.  Looking forward to being there!

[2017-10-06 06:59] KirstieJane commented on #836
@marcwalsh - changed session format. I've updated the end of the description in the guidebook.

[2017-10-06 07:07] KirstieJane commented on #231
@marcwalsh - changed session format. I've updated the end of the description in the guidebook.

[2017-10-06 07:10] KirstieJane commented on #595
@marcwalsh - changed session format. I've updated the end of the description in the guidebook.

[2017-10-06 07:17] KirstieJane commented on #264
@marcwalsh - changed session format. I've updated the end of the description in the guidebook.

[2017-10-06 07:19] KirstieJane commented on #142
@marcwalsh - changed session format. I've updated the end of the description in the guidebook.

[2017-10-06 07:27] KirstieJane commented on #116
@marcwalsh - changed session format. I've updated the end of the description in the guidebook.

[2017-10-06 07:59] caffebd commented on #631
Hello,

Our session is about sharing some of the work and projects our students have been working on. It will be something that people can come along to and browse and use; if there is a group we can give a more formal talk.

We will probably use a mixture of raspberry pi and laptops. We are currently working out how many we can get together… maybe around 4 laptops/screens in total.

There will al

[2017-10-06 08:15] KirstieJane commented on #392
Hi @marcwalsh - please can you close this issue and delete the session from the guidebook - Bianca is no longer able to attend 😿

[2017-10-06 08:16] KirstieJane commented on #740
Hi @marcwalsh - please could you close this issue and remove the session from the guidebook, I'm not able to facilitate this session as well as wrangle 😥

[2017-10-06 08:26] ghost commented on #170
Hi @EPIKhub! Just thought of this afterwards, but wondering if it'll be possible to get a screen (PC screen or TV screen) big enough to showcase the experience to people who are outside of it?
Also, we didn't have a feedback on last Sunday's call that we couldn't attend. Are there more information on session's length and confirmation on the date?
Thanks!

[2017-10-06 08:45] KirstieJane commented on #632
@marcwalsh - please close this issue and remove from the guidebook - @AndyForest is not able to attend this year 😿

[2017-10-06 09:22] dvigneshwer commented on #519
Thanks for this and noted the sound system requirement.

[2017-10-06 09:42] EPIKhub commented on #734
@marcwalsh - please close this issue and remove from the guidebook /cc @ArthurGuy @oceanblue222

[2017-10-06 09:44] EPIKhub commented on #292
@marcwalsh - please close this issue and remove from the guidebook

[2017-10-06 10:01] oceanblue222 commented on #734
Sorry the scanner turned out not to be suitable for the youth zone. Best of luck with Mozfest!

[2017-10-06 12:34] DanRad95 commented on #784
I've checked through the comments for supplies. All good here!

[2017-10-06 12:53] DanRad95 commented on #19
@KirstieJane I would love an Amazon link to all your requested paints! You can bring your own camera and I would recommend bringing Laptops to provide but I'm also arranging Laptops out to spaces.

Thanks,
Dan Rad

[2017-10-06 13:01] KirstieJane commented on #19
Thank you @DanRad95! I'm about to join a call with @Lexacious, I'll ask him to send along some amazon links!

[2017-10-06 13:38] Lexacious commented on #19
Hi Dan,

Please find below two links to paper for the paper crafting element of the Future Aleppo worksop - as discussed with Kirtsie, I will bring all paints/ pens/ scissors/ glues etc.

A3: https://www.amazon.co.uk/Artway-Studio-A3-Cartridge-Paper/dp/B014T0QW76/ref=sr_1_20_sspa?ie=UTF8&qid=1507296865&sr=8-20-spons&keywords=paper+180gsm&psc=1 <https://www.amazon.co.uk/Artway-Studio-A3-Cartridge-P

[2017-10-06 13:41] Carotejada commented on #353
Hola @flukeout! YES! I'D LOVE TO!! Thank you :)

[2017-10-06 14:06] abdavidson commented on #676
Hi - I am still working on a session outline, to make this work best for potential participants. I should have something early next week.

Query: Do we have a time and date set yet for the session? I had invited other speakers to join but they are pending the exact timing. Thanks!

[2017-10-06 14:14] atiqueahmedziad commented on #473
Sorry for late response. I was trying to cover the session within 60 min so I had to exclude a few points from above. Here, is the outline with time mentioned -

- Introduction to attendees about Extensions ( 5 min)
- Difference between WebExtensions add-ons and legacy add-ons. (5 min)
    - Benefits of webExtensions
- Build a basic Extension (15 min)
- Anatomy of Extension (5 min)
- Porting a bas

[2017-10-06 17:01] flukeout commented on #473
Thanks very much @atiqueahmedziad!

[2017-10-06 17:04] flukeout commented on #676
@abdavidson - looking forward to the outilne. I'm working on a first pass of the schedule and will share it with all participants later today (or early tomorrow)!

[2017-10-06 17:25] flukeout commented on #350
Thanks @KirkMelkonian - looking forward to it.

[2017-10-06 17:26] flukeout commented on #350
@KirkMelkonian - Also, are you able to provide a brief breakdown / outline of the session, including topics & activities along with a time estimate for each? Much appreciated.

[2017-10-06 17:28] flukeout commented on #539
Another question @georgiamoon - I'm in contact with Matteo, who has run a session in the past about creating board/card games for social change. He'll be attending Mozfest and is interested in connecting - let me know if you're interested and I can make an introduction.

[2017-10-06 18:23] C-Air-Uh commented on #432
Hey @bunnybooboo totally flexible in using space outside or shorting the session to 60 minutes. We can provide a link to the physical self-defense portion which people can do at home and truly focus on the online portion if that will help. This will then cut the session to 45-60 minutes.

[2017-10-06 18:56] abdavidson commented on #676
Thanks @flukeout, appreciate the quick response. If there is any chance of this session landing on Saturday (instead of Sunday) that will work much better for my collaborators...

[2017-10-06 18:57] KirkMelkonian commented on #350
1. Explore various examples of student work (ages 5 - 12) from students in Southern California, U.S. using open digital tools.  Student work samples include digital art, TEDx presentations, student-run learning networks, student generated platforms (30 min)
2. Learn how students are developing their web literacy and connecting their personal experiences with career opportunities using open interne

[2017-10-06 20:53] gbaman commented on #805
@louisdewar great to hear on laptops.
I **still** have not received any facilitators from this session having filled in the form.

**We are not able to schedule this session without that information, so this session will be held back from being scheduled unless it is filled in ASAP.**

I will also reiterate, that form **must** be filled in by all the facilitators involved in this session, not just

[2017-10-06 21:52] flukeout commented on #274
Hello, we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!

Please take a few minutes to locate your session (I've had to abbreviate the session names) and let us know if you h

[2017-10-06 21:56] flukeout commented on #418
Hello @prashanthrock, we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!

Please take a few minutes to locate your session (I've had to abbreviate the session names) and let u

[2017-10-06 21:57] flukeout commented on #252
Hello @meggieann, we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to

[2017-10-06 21:57] flukeout commented on #252
Also, thank you for the detailed outline!

[2017-10-06 21:58] flukeout commented on #580
Hello @WinnieMakokha, we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes

[2017-10-06 21:58] flukeout commented on #542
Hey @davedarch, we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to lo

[2017-10-06 21:59] flukeout commented on #446
Hello @amyhearn, we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to l

[2017-10-06 21:59] flukeout commented on #763
Hello @redshiftzero & @Btayeg, we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a fe

[2017-10-06 21:59] flukeout commented on #429
Hello @CelineBoudier, we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes

[2017-10-06 22:00] flukeout commented on #771
Hello @noneck, we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to loc

[2017-10-06 22:01] flukeout commented on #539
Hello @georgiamoon, we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes t

[2017-10-06 22:03] flukeout commented on #676
Hello @abdavidson - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes t

[2017-10-06 22:03] flukeout commented on #676
PS - put your session in on the Saturday.

[2017-10-06 22:03] flukeout commented on #327
Hello @anouchk - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to l

[2017-10-06 22:03] flukeout commented on #840
Hello @RebeccaEvans22 - - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few min

[2017-10-06 22:04] flukeout commented on #281
Hello @samouna - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to l

[2017-10-06 22:04] flukeout commented on #766
Hello @secmorris - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to

[2017-10-06 22:04] flukeout commented on #753
Hello @cs4allnyc - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to

[2017-10-06 22:05] flukeout commented on #733
Hello @AndreaPocketsChange - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few

[2017-10-06 22:05] flukeout commented on #725
@joannalibrary - - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to

[2017-10-06 22:06] flukeout commented on #709
Thanks very much for the outline @Halfcompass, and also, we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-i

[2017-10-06 22:06] flukeout commented on #644
Hello @zlechelt - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to

[2017-10-06 22:07] flukeout commented on #636
Hey An-me - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * It's a public Trello board, so please don't make any changes!
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate

[2017-10-06 22:10] flukeout commented on #631
Hello @caffebd - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) and

[2017-10-06 22:10] flukeout commented on #38
Hello @AyahSoufan - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) a

[2017-10-06 22:11] flukeout commented on #605
Hello @tingeber - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) and

[2017-10-06 22:11] flukeout commented on #594
@poshaughnessy - - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) an

[2017-10-06 22:12] flukeout commented on #522
Hey @gideonthomas - - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names)

[2017-10-06 22:12] flukeout commented on #515
Hello @ammienoot - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) an

[2017-10-06 22:12] flukeout commented on #498
@mhawksey - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) and let u

[2017-10-06 22:12] flukeout commented on #473
Hello @atiqueahmedziad - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session nam

[2017-10-06 22:13] flukeout commented on #373
@techkim - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) and let us

[2017-10-06 22:13] flukeout commented on #353
@Carotejada - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) and let

[2017-10-06 22:13] flukeout commented on #350
@KirkMelkonian - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) and

[2017-10-06 22:14] flukeout commented on #312
@anothersidecast - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) an

[2017-10-06 22:14] flukeout commented on #308
@gautha91 - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) and let u

[2017-10-06 22:14] flukeout commented on #254
@sarahlongfield - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) and

[2017-10-06 22:14] flukeout commented on #254
Oh, cool article @emrysgreen - thanks for posting!

[2017-10-06 22:16] tantek commented on #297
Blogged about this very topic:  [Of Dating Preferences, Public Profiles, and Formats For Federating It All](http://tantek.com/2010/336/b1/dating-preferences-public-profiles-formats-federating) - feel free to re-use any of the material there for this talk.

[2017-10-06 22:24] flukeout commented on #238
@secmorris - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) and let

[2017-10-06 22:24] flukeout commented on #167
Hey @janhohner - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) and

[2017-10-06 22:24] flukeout commented on #109
Hello @vi5halc - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) and

[2017-10-06 22:24] flukeout commented on #57
Hello @ottagit - - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) an

[2017-10-06 22:25] flukeout commented on #12
@shillontheroad - we've created the first version of the Web Literacy Space schedule for the weekend and wanted you to have a look...

* [Web Literacy Space Schedule](https://trello.com/b/NLgH4lTm/mozfest-web-literacy-schedule)
  * We are still finalizing the longer Gallery Space session drop-in times.

Please take a few minutes to locate your session (I've had to abbreviate the session names) and

[2017-10-06 22:37] KirkMelkonian commented on #350
This looks good Luke, thank you.  We'll also need a projector and speakers for the session.

[2017-10-06 22:41] flukeout commented on #771
One last question for now @noneck - are you interested in connecting with Matteo. He's attending this year and has led sessions about using games to teach about social issues at previous Mozfests and might be interesting to talk to? He's interested in connecting, so let me know if you are interested and I'll connect you.

[2017-10-06 22:48] flukeout commented on #350
Thanks @KirkMelkonian - I'll add the equipment request and flag the production team.

[2017-10-06 22:49] flukeout commented on #350
_Edited - added new equipment request_

[2017-10-06 23:12] tantek commented on #69
This recent post also provides a good overview for "those who perhaps aren't as technically literate" as @timcowlishaw put it: https://medium.com/@m_ott/going-indie-step-2-reclaiming-content-matthias-ott-user-experience-designer-85667a797121

[2017-10-07 00:24] flukeout commented on #254
@sarahlongfield @emrysgreen - oops, I just re-read the issue and noticed the scheduling request! Will update our schedule accordingly.

[2017-10-07 02:14] barrosgeraldo commented on #195
Hi @bunnybooboo, I'm sorry for the delay in adding some notes here.
- Cynthia Pereira, the additional facilitator described in the form will not attend this session as facilitator.
- Carolina Tejada will work with me in this session as a facilitator too, so me and Carolina will run session (our another approved session is on #353).

Thank you. Have a nice weekend. 😄

[2017-10-07 06:47] AyahSoufan commented on #38
Hello @flukeout ,

I hope that my session "Girls for a change" will be earlier by one hour. Because I booked my ticket to go back from London to Southampton city on Sunday evening at 18:30 Which means that I should left early to catch the train. Nothing is guaranteed for London jams.

Thanks a lot
Ayah

[2017-10-07 07:05] caffebd commented on #631
Hi @flukeout . There is no problem with the time you have given us. I know you say you are still finalising the Gallery Space times so I just wanted to let you know that we are keen to run our session for as long as possible. We are coming from Bangladesh and funding the trip ourselves so we it would be good to get the most out of it. Thanks, Luke.

[2017-10-07 08:28] Maya-Alvarado commented on #312
Hi @flukeout

Thanks for your message. Could we please hold a slot on the Friday? Would this be possible? A team member has another commitment so it would be great to find out if this could be moved.

Thanks very much

[2017-10-07 08:30] Maya-Alvarado commented on #312
(its me that has a commitment would be great to discuss the schedule for Friday)

Thanks
Maya

[2017-10-07 09:46] KirstieJane commented on #264
Disregard my previous post @marcwalsh - @jdpigeon let me know what they've been working on and it actually does fit much better as a gallery session. REVERTING CHANGES 😄

[2017-10-07 10:12] bunnybooboo commented on #432
@amirad @C-Air-Uh IDK I feel the self defence portion is a kinda important activity? Strengthening bonds in the group, adding a moment of physicality and further discussion.

My main reason for asking is an assumption that the class activity would be less locked to our P&S space and could travel through Ravensbourne or indeed outside - weather permitting. Rather than remove the self defence portio

[2017-10-07 10:23] bunnybooboo commented on #195
Thank you @barrosgeraldo. As each of you are lead facilitators in each session there is no issue I can see regarding ticketing, or even bio in the scheduling app. You'll gain access to the scheduling app next week, where you'll be able to update details of the session and add your bio information.

[2017-10-07 12:13] shillontheroad commented on #12
@flukeout - The WebLit Space looks fab- too many cool sessions. Running all day Saturday sounds perfect. I'm part of the Mozilla Club Showcase too, just trying to figure out how to be at both or how to combine. I'll discuss with @jvallera next week too.
Unfortunately, due to starting a new school Lars & Björn will not be joining me this year:( they'll be there in spirit! Thanks! for all you suppor

[2017-10-07 12:35] jonathanKingston commented on #468
Harry requested that this be on the 28th which appears this is where it is on the current draft schedule:
https://github.com/MozillaFoundation/mozfest-program-2017/projects/2?fullscreen=true

[2017-10-07 13:29] aariops commented on #364
Sorry for the delayed reply. The ideia is to split the session. Give people a brief overview of what to take into account when creating a radio piece, and then let people go on recording things. Recording things should be an autonomous activity done throughout the weekend (maybe a day or an afternoon, at least). After that, then we'd meet up again (for hopefully an hour), where we'd go through the

[2017-10-07 13:58] jonathanKingston commented on #473
Hey @flukeout,

I don't mean to be a pain, however would it be possible to make this earlier than my session:
https://github.com/MozillaFoundation/mozfest-program-2017/issues/433

As I am also an organiser we can shuffle my session around too, however given the slot here being last thing Sunday there simply isn't the ability to move it later.

My rationale is that beginners to extensions would ben

[2017-10-07 18:04] techkim commented on #373
@flukeout I was really hoping to attend the Girls for a Change session (being Tech-Girls founder and all:). Any chance our session could move to a slot that is not at the same time.

[2017-10-07 20:46] bunnybooboo commented on #826
cc/ @arroway request received to move this session to Saturday.

[2017-10-07 20:49] bunnybooboo commented on #715
@marcwalsh please re-open this session. Stipend changes has meant we can now accom this. Please also advise re adding to Guidebook. Can I do this manually?

[2017-10-07 21:02] bunnybooboo commented on #672
@Melechuga Science Fair, correct? Checking as I'm finalising scheduling app.

[2017-10-08 10:43] bunnybooboo commented on #205
@cryptomancer-actual Hi Chad reaching out to you requesting confirmation of your attendance for Mozfest
@chadsansing clarifying this is correctly labelled as Shed and not Privacy Arcade. Correct?
cc/ @jonathanKingston

[2017-10-08 10:52] bunnybooboo commented on #453
@joana-varon reaching out to you asking for you to please confirm your attendance for Mozfest. Please also email me your additional facilitator's details for ticketing. Finally, please make sure your materials request is precisely what you require - I need any changes to stationery and tech materials requests in particular by Thursday Oct 12. Anything ordered after this date will not be guaranteed

[2017-10-08 12:25] chadsansing commented on #205
@bunnybooboo - my core desire is to use Mozilla Privacy Arcade (MPA) as a label to link sessions from Chad W., Antero G., Tiphaine R., and Geraldo B. together thematically. I think @cryptomancer-actual could use a classroom space for the presentation he suggests, but a shed space for running sessions of his game he suggests as an alternative. If there is space and time for both, we might invite hi

[2017-10-08 22:41] noneck commented on #771
@flukeout i'd love to talk with Matteo.

also, i see that we're back to our 90 min schedule. that's great. thanks. lastly, our transit plans means we can't go on sunday after 1.

[2017-10-09 07:41] unarbc commented on #281
Hi @flukeout,
Thank you and great re projector.

It'd be great to engage with your artist in residence and participate in the Meme-maker lab! Sure, connect us :)

Also, all good regarding the time slot I've been assigned with.

Thanks!

[2017-10-09 09:22] sarahlongfield commented on #254
Shelby has now added a bit to the article with her perspective. Sorry about our limited timings. Let me know when you've updated the schedule.  thanks!

[2017-10-09 10:37] timcowlishaw commented on #182
Aha, great stuff - thanks @jkilpatr, that's good to know!

[2017-10-09 10:41] timcowlishaw commented on #599
Hi there all - can confirm that #728 is scheduled from 11am 'til 1pm on the Sunday. Is this ok for everyone?

[2017-10-09 10:43] maboa commented on #575
@npscience - just to confirm we're moving this to The Shed - the hands-on area :)

[2017-10-09 10:48] natalia44 commented on #599
#599 is scheduled from 3 pm, so shall be ok;)

[2017-10-09 10:58] jontutcher commented on #565
Oli can't do this, so I'm closing the issue :)

[2017-10-09 10:58] #565 closed, assigned to cubicgarden, jontutcher

[2017-10-09 11:44] dvigneshwer commented on #10
Thanks for this @KadeMorton I will get back to regarding the types of cords available.

[2017-10-09 12:44] jonathanprozzi commented on #594
Hello @poshaughnessy!

Since we'll be aiming to run the session for the full 90 minutes would you be able to provide a bit more detail in the outline?

If you could send over how much time you think each section/activity takes that would be great.

Thanks again,

Jonathan

[2017-10-09 13:07] kaodro commented on #618
Here is a final summary of what we need in terms of logistics (a copy from the concept doc @DanRad95 has access to):

- space with couches on the 1st floor (space for emerging sessions) and wall space for M-lab installation (space on the 1st floor has all of this)
- 3- 4 tables with chairs
- paper and pens
- 3 flipcharts with pens/highlighters, post-its and pins
- Something to hang up printed bann

[2017-10-09 13:17] janhohner commented on #167
Hey @flukeout, Saturday 13-13.45 works for me :) And yeah, we really should indicate that people should bring their own laptops and projects.

[2017-10-09 14:31] edovio commented on #840
Hello @RebeccaEvans22 I need to ask you to give me the Email contact of all the additional Facilitators in your Session. You can send me by Email at the address: edovio@mozillaitalia.org. Thanks you & see you at the MozFest!!!

[2017-10-09 14:32] edovio commented on #539
Hello @georgiamoon, I need to ask you to give me the Email contact of all the additional Facilitators in your Session. You can send me by Email at the address: edovio@mozillaitalia.org. Thanks you & see you at the MozFest!!!

[2017-10-09 14:32] edovio commented on #725
hello @joannalibrary, I need to ask you to give me the Email contact of all the additional Facilitators in your Session. You can send me by Email at the address: edovio@mozillaitalia.org. Thanks you & see you at the MozFest!!!

[2017-10-09 14:33] edovio commented on #631
hello @caffebd, I need to ask you to give me the Email contact of all the additional Facilitators in your Session. You can send me by Email at the address: edovio@mozillaitalia.org. Thanks you & see you at the MozFest!!!

[2017-10-09 14:33] edovio commented on #594
Hello @poshaughnessy, I need to ask you to give me the Email contact of all the additional Facilitators in your Session. You can send me by Email at the address: edovio@mozillaitalia.org. Thanks you & see you at the MozFest!!!

[2017-10-09 14:36] edovio commented on #498
Hello @mhawksey , I need to ask you to give me the Email contact of all the additional Facilitators in your Session. You can send me by Email at the address: edovio@mozillaitalia.org. Thanks you & see you at the MozFest!!!

[2017-10-09 14:36] edovio commented on #350
Hello @KirkMelkonian , I need to ask you to give me the Email contact of all the additional Facilitators in your Session. You can send me by Email at the address: edovio@mozillaitalia.org. Thanks you & see you at the MozFest!!!

[2017-10-09 14:37] edovio commented on #281
Hello @samouna , I need to ask you to give me the Email contact of all the additional Facilitators in your Session. You can send me by Email at the address: edovio@mozillaitalia.org. Thanks you & see you at the MozFest!!!

[2017-10-09 14:37] edovio commented on #12
Hello @shillontheroad , I need to ask you to give me the Email contact of all the additional Facilitators in your Session. You can send me by Email at the address: edovio@mozillaitalia.org. Thanks you & see you at the MozFest!!!

[2017-10-09 14:38] edovio commented on #636
HelloAn-me, I need to ask you to give me the Email contact of all the additional Facilitators in your Session. You can send me by Email at the address: edovio@mozillaitalia.org. Thanks you & see you at the MozFest!!!

[2017-10-09 15:10] caffebd commented on #631
Hello,

the emails are me (I am using caffebd@gmail.com) and Kobir (mdkobiruddin@gmail.com).

Thanks,

Luke.

http://www.caffebd.org/

Computers Are Free For Everyone Ltd.

Registered Charity England & Wales (1147000)

Company Number: 7978453

4 The Pyghtle, Westoning, MK45 5LJ

On Mon, 09 Oct 2017 at 20:33 Edoardo Viola

<
mailto:Edoardo Viola <notifications@github.com>

a, pre, code, a:link, bod

[2017-10-09 15:15] Melechuga commented on #672
@bunnybooboo
No, this event is happening outside of the official MozFest hours (Friday afternoon). No need to add to the schedule; thanks!

[2017-10-09 15:41] mwakaswanga commented on #254
@sarahlongfield @emrysgreen unfortunately there wont be any iPads, but Nexus can be provided instead, hope they can serve the purpose.

[2017-10-09 15:46] flukeout commented on #38
Hey @AyahSoufan - thanks for letting me know. I've made a note of that and will let you know when the schedule has been updated to accommodate your time. Thanks!

[2017-10-09 15:56] flukeout commented on #312
Hello @Maya-Alvarado - unfortunately all of the sessions at the festival are held on Saturday & Sunday. On Friday there is a kind of welcoming reception and science fair exhibit, but it's kind of an informal demo space where people walk around randomly and drop by each station for a few minutes.

Let me know if you can still go ahead with the session, we can move it around to best accommodate you.

[2017-10-09 15:58] flukeout commented on #473
Hey @jonathanKingston - that makes a lot of sense. Do you know yet when #433 is scheduled for? Let me know!

Oh, and also, if you haven't yet - are you able to let to organizers in that space to maybe try to schedule it for sometime Sunday? That would give us more flexibility to find a spot for it. Thanks again.

[2017-10-09 17:29] flukeout commented on #167
@janhohner - Cool, you should be receiving an invite to Guidebook sometime soon, where you can edit the description of the session. We'll send along some guidelines about what's good to include in that description (including equipment needed etc).

[2017-10-09 17:39] janhohner commented on #167
@flukeout - I've already received the invite and edited the description accordingly. I hope that's alright.

[2017-10-09 18:07] bunnybooboo commented on #205
@chadsansing As we've only just the floor allocation today the draft layout is being worked on Thu/Fri. Prepare for some rough designs. These MPA sessions are all likely in the same physical location. We're sharing a rather large floor (Level 6) with Decentralization and they have a pretty hefty volume of sessions. Will share as an when we have further info.

[2017-10-09 18:30] sarahlongfield commented on #254
Yes that's grand.  Will use android based apps, or if people attend with their own iPads, we could do a mix of apple and android.
Thanks for checking.

[2017-10-09 18:36] mhawksey commented on #498
Hi @flukeout - don't think there are any problems with that scheduling (I'm co-facilitator on https://github.com/MozillaFoundation/mozfest-program-2017/issues/435 - but don't think draft prog. is out for that space )

[2017-10-09 18:37] flukeout commented on #167
@janhohner - yeah for sure, no worries at all.

[2017-10-09 18:39] flukeout commented on #498
@mhawksey - good to hear. If you could please post in that issue about this session time, that would be great and could help to avoid conflicts with their scheduling. Thanks!

[2017-10-09 18:46] flukeout commented on #350
@edovio - I've got the emails for both of the facilitators for this session already and will forward it to you. Thanks!

[2017-10-09 18:57] flukeout commented on #636
@edovio - I've requested the info via email and have cc'd you as well.

[2017-10-09 18:59] flukeout commented on #12
Hey @edovio - looks like unfortunately the co-facilitators will not be able to attend.

[2017-10-09 18:59] cryptomancer-actual commented on #205
@bunnybooboo Confirming I'm still attending.
@chadsansing Thanks for figuring out the logistics.

[2017-10-09 19:06] mhawksey commented on #435
For info also facilitating https://github.com/MozillaFoundation/mozfest-program-2017/issues/498 which has been scheduled for Sat 14.00-15.00

[2017-10-09 19:18] flukeout commented on #631
Thanks for providing these, cc @edovio

[2017-10-09 20:00] edovio commented on #636
Perfect! Thanks @flukeout !

[2017-10-09 20:01] edovio commented on #312
Hello  @Maya-Alvarado , I need to ask you to give me the Email contact of all the additional Facilitators in your Session. You can send me by Email at the address: edovio@mozillaitalia.org. Thanks you & see you at the MozFest!!!

[2017-10-09 20:02] edovio commented on #446
Hello @amyhearn , I need to ask you to give me the Email contact of all the additional Facilitators in your Session. You can send me by Email at the address: edovio@mozillaitalia.org. Thanks you & see you at the MozFest!!!

[2017-10-09 20:02] edovio commented on #274
Hello @Jayapreethi , I need to ask you to give me the Email contact of all the additional Facilitators in your Session. You can send me by Email at the address: edovio@mozillaitalia.org. Thanks you & see you at the MozFest!!!

[2017-10-09 20:03] edovio commented on #753
Hello @cs4allnyc , I need to ask you to give me the Email contact of all the additional Facilitators in your Session. You can send me by Email at the address: edovio@mozillaitalia.org. Thanks you & see you at the MozFest!!!

[2017-10-09 20:05] edovio commented on #109
Hello @vi5halc , I need to ask you to give me the Email contact of all the additional Facilitators in your Session. You can send me by Email at the address: edovio@mozillaitalia.org. Thanks you & see you at the MozFest!!!

[2017-10-09 20:06] edovio commented on #763
Hello @Btayeg , I need to ask you to give me the Email contact of all the additional Facilitators in your Session. You can send me by Email at the address: edovio@mozillaitalia.org. Thanks you & see you at the MozFest!!!

[2017-10-09 20:42] gowolade commented on #577
Hi Dorine & Andrew

Hope this email finds you well.

Apologies for delay - working on 4 key projects over the half term break.

There some change that I hope we can incorporate in the  Reconstructing Realities and VR Track, if possible. The Digital Maker Collective UAL are willing to support us with the VR track over the duration of MozFest.  We would still like to do the Reconstructed Realities,

[2017-10-09 20:51] hannahkane commented on #636
Hey @flukeout - just wanted to flag that one of the facilitators for this session (Matthew Kopel) is also booked for a Digital Inclusion session (https://github.com/MozillaFoundation/mozfest-program-2017/issues/449). We've currently scheduled that for Saturday at 4:30pm. Will that conflict with this session? Please let us know so we can ensure Matthew can attend both sessions. Thanks!

[2017-10-09 20:53] hannahkane commented on #650
hey @shwetal27 - it's Hannah from the Digital Inclusion track. Can you let me know for what day/time you've scheduled this session? We've had a request from a facilitator to make sure one of our sessions doesn't conflict with this, if possible. Thanks!

[2017-10-09 21:08] bunnybooboo commented on #815
Hope you're well @s-rah? Listen we're handling ticketing confirmation for each session this week. So so close now! Just wanted to confirm with you, you're holding this session on your own? Correct?

[2017-10-09 21:18] stephwright commented on #574
@npscience I would <3 to help set this up on Friday!  I will be taking the train back from an engagement in Cardiff but should be back before noon and ready to dig in!

[2017-10-09 21:19] bunnybooboo commented on #700
Hi @claudijd and @april - hope you've both had a great start to the month. We locking in ticketing this week so I wish to confirm that you are the only facilitators for this session? Anyone's name missing will cause trouble this year as security likely stepped up.

[2017-10-09 21:25] bunnybooboo commented on #713
Hi @herahussain hope you've had a great start to the week? We're locking in ticketing this week so I need details of all additional facilitators for your session.

We're only able to offer 3 free facilitator tickets per session, including yourself. I notice you have 4. We can offer a discounted rate for that person. I'll need you to EMAIL me all their names and email addresses by THURSDAY October

[2017-10-09 21:27] bunnybooboo commented on #592
Hi @tromand hope you're well? Just checking that you are down as the only facilitator for this session? Is this correct? We're locking in all ticketing this week.

[2017-10-09 21:31] bunnybooboo commented on #526
@anterobot we're locking in ticketing this week. Wahoo! We're getting so close now. Just wanted to double check the names for facilitators of this session are you and Chris Proctor. Is this correct? Please EMAIL me the names and email addresses of any additional facilitators by THURSDAY October 12.

[2017-10-09 21:32] bunnybooboo commented on #538
Hiya @01fade We're doing all the ticketing this week so I wanted to double check that you are the only facilitator for your session? Correct?

[2017-10-09 21:34] bunnybooboo commented on #554
Hiya @vecna we're locking in ticketing this week. I have Renata's email contact info but need all the additional facilitators names and emails. Could you please have this sent by EMAIL to me by THURSDAY October 12?

[2017-10-09 21:39] bunnybooboo commented on #530
Hi @billfitzgerald we're getting so so close now! Locking in ticketing this week so I need all the names and emails of additional people for this session, aside from Allison. Could you please see that's EMAILED me by THURSDAY October 12?

[2017-10-09 21:45] bunnybooboo commented on #525
Hey @redshiftzero we're locking in ticketing this week so I need to double check you're the only facilitator for this session? Correct?

[2017-10-09 21:46] billfitzgerald commented on #530
Sounds good, @bunnybooboo  - aside from Allison, Robert, and me, there's one other person. Tracking the email down now, and will send it along shortly, hopefully by tomorrow at the latest!

[2017-10-09 21:49] bunnybooboo commented on #510
Hey @idigitalized we're in the home stretch now - exciting hey? As we're locking down ticketing this week, I want to double check that you are the only facilitator for this session? Correct?

[2017-10-09 21:53] bunnybooboo commented on #405
@mickfuzz thanks for sending those contact details in email. I can now confirm those additional 2 names have been added, along with yours, for ticketing. Getting close now!

[2017-10-09 21:57] bunnybooboo commented on #475
Hi @tiagofassoni we're now locking down ticketing, so I need all the names and email addresses for your additional facilitators. Could you have these EMAILED to me by THURSDAY October 12 please?

[2017-10-09 22:06] herahussain commented on #713
Yes! Sorry I'll get these details to you asap.

On Mon, Oct 9, 2017 at 10:25 PM, David Ross <notifications@github.com>
wrote:

--

*Hera Hussain*

Transparency | Civic tech | Open data | Gender rights
Founder, CHAYN <http://chayn.co>
Co-Founder, EmpowerHack <http://empowerhack.com>
Senior Advocacy Manager, Open Contracting Partnership
<http://open-contracting.org>
+447403442852 | @herahussain <htt

[2017-10-09 22:06] bunnybooboo commented on #259
Hiya @unalee we're locking in ticketing this week so I need the names and emails for all your additional facilitators. Could you please have the EMAILED to me by THURSDAY October 12?

[2017-10-09 22:08] bunnybooboo commented on #205
haha thank @cryptomancer-actual Sorry to ping you again, but I'm now locking down ticketing. Just checking it's only you as facilitator for this session? No additional names I need to grab from you?

[2017-10-09 22:12] 01fade commented on #538
Hi @bunnybooboo! Yes that's correct!

[2017-10-09 22:17] bunnybooboo commented on #203
Hiya @amandabee we're locking down ticketing this week, so I'm seeking the names and emails of any additional facilitators for your session. Could you please EMAIL them to me by THURSDAY October 12?

[2017-10-09 22:25] bunnybooboo commented on #193
This was a placeholder for the Privacy Arcade sessions and we ultimately accepted FOUR of them. TWO each day. Wahoo!! This GH issue can now be closed @marcwalsh @Saallen

[2017-10-09 22:26] cryptomancer-actual commented on #205
@bunnybooboo Just me!

[2017-10-09 22:31] bunnybooboo commented on #384
Hey @elidron we're getting so close now we're locking in facilitator tickets. Could you please EMAIL me any additional names and email addresses for your team by THURSDAY October 12?

[2017-10-09 22:33] bunnybooboo commented on #262
Hey @ethantseng we're so close to the event we're locking down facilitator tickets. Wahoo! Can you please EMAIL me the name and emails of any additional people needed to deliver your session, by THURSDAY October 12?

[2017-10-09 22:56] bunnybooboo commented on #301
Sorry for the delay @gangadharansp - no I think your sessions are free to run on their own. Note the draft schedule here in Github https://github.com/MozillaFoundation/mozfest-program-2017/projects/2?fullscreen=true where you're currently down for 2pm on Sunday in the Learning Forum. You should have received an email today with access details to the scheduling app, Guidebook, where you can update

[2017-10-09 23:12] bunnybooboo commented on #530
Cool. Hey we can only do THREE free facilitators tickets @billfitzgerald, including Allison. We can get the extra one in on a discounted rate. When emailing be sure to designate who is the free, and who is the discounted rate.

[2017-10-10 03:29] biancadanforth commented on #287
I have made my travel arrangements and will be there!

[2017-10-10 04:28] claudijd commented on #700
@bunnybooboo It's just the two of us.  Thanks for checking!

[2017-10-10 04:37] devcer commented on #190
Hey @gbaman @emrysgreen , Should I also mail someone to take care of VR devices or commenting on this issue was enough?

[2017-10-10 07:25] mickfuzz commented on #405
Equipment Update - pens, paper, projector (vga), and screen

[2017-10-10 08:01] emrysgreen commented on #190
Hi,

How many will you be looking for Santosh?

Emrys Green MInstLM LCGI FRSA BA(Hons)
www.cloudartisans.co.uk
07905 253099

Please consider the environment when printing this email.  Please refer to the sending domain's terms and conditions for Email usage & data protection.  The views expressed are that of the sender and not of the organisation represented.

On 10 Oct 2017, at 05:37, Santosh Vis

[2017-10-10 08:01] bunnybooboo commented on #203
Thanks for sending that info @amandabee Confirming receipt. Looking forward to meeting you both!

[2017-10-10 08:05] bunnybooboo commented on #475
Thanks so much for supplying that information @tiagofassoni Confirming receipt. Looking forward to meeting you both.

[2017-10-10 08:12] avilarenata commented on #556
1. I will be able to attend the Mozfest
2. No big modifications from whats written above.
3. It will be great to have extra markers and sticky notes.

[2017-10-10 08:14] bunnybooboo commented on #826
Confirmed ticketing details. Excited about this session. Looking forward to meeting you all.

[2017-10-10 08:27] devcer commented on #190
Hi emrys, 10 cardboards can easily handle 30-50 audience.

[2017-10-10 08:36] cameralibre commented on #472
I have been working out how to reduce space a bit, and I think that an [expanding file](https://duckduckgo.com/?q=expanding+file&t=ffab&iax=1&ia=images) will work as the repo, and a cutting mat, utility knife + ruler will replace a paper trimmer. I can hire a small desktop A4-only photocopier too, and I'm sure that I'll be able to get one of those compact travel typewriters.

I'm still not altoget

[2017-10-10 08:36] bunnybooboo commented on #243
Confirming that contact information is in hand for both you @franziskuskiefer and Mark Goodwin. We're locking in ticketing this week. Looking forward to meeting you both.

[2017-10-10 08:59] s-rah commented on #815
Yup just me.

On Mon, 09 Oct 2017 21:08:31 +0000 (UTC)
David Ross <notifications@github.com> wrote:

[2017-10-10 09:50] KadeMorton commented on #10
@vigneshwerd I've reworked the session based on the information sent to MozFest presenters:

## Decentralising academic publishing with Aletheia

*Participants will explore the problems in academic publishing and how a decentralised open source publishing platform called Aletheia can help build a healthier ecosystem. This session would be applicable for anyone interested in emerging technologies b

[2017-10-10 11:24] Srinivas1193 commented on #749
Hi @vigneshwerd,

PFB my comments,

1.
Outline of my session:

* Brief Introduction to blockchain (5 mins)

* Current AI based business models (5 mins)
   * Discussion on dystopian future of AI ecosystem (10 mins)

*  Building decentralized ownership of data and AI (25 mins):
    * How do we Democratize Access to Data?
    * Federated learning, homomorphic encryption, and blockchain smart contract

[2017-10-10 11:45] emrysgreen commented on #190
Thanks.

--

*Emrys Green *MInstLM LCGI FRSA BA(Hons)

Cloud Artisans

*tel:*  01379 882525 *mob:*  07905 253099

*email:*emrys@cloudartisans.co.uk <mailto:emrys@cloudartisans.co.uk>
*web:* cloudartisans.co.uk <http://cloudartisans.co.uk>

Cloud Artisans Ltd - Registered in England & Wales with Company Number
06686084 - at Cloud Artisans Ltd, Diss Business Hub, Hopper Way, Diss,
IP22 4GT.

[2017-10-10 11:51] dvigneshwer commented on #749
@Srinivas1193  Thanks for this.

[2017-10-10 11:57] ottagit commented on #57
Hello @flukeout -- the schedule works well with me. Thanks for the update.

[2017-10-10 12:05] dvigneshwer commented on #10
@KadeMorton noted the changes! I will get back to you regarding the tables?  We are currently working on the space design and will keep this in mind as a requirement for your session.

[2017-10-10 12:24] dvigneshwer commented on #523
@eledroos Thanks for the update.

[2017-10-10 12:25] dvigneshwer commented on #556
Thanks @avilarenata  Noted the requirements. Have you designed your session outline? it will be great if you can share it here or via email.

[2017-10-10 12:30] dvigneshwer commented on #435
@mhawksey Thanks for the heads-up, we will make sure there's no clash in the schedule.

[2017-10-10 13:29] tromand commented on #592
Hello !

Yes I am the only facilitator needing a ticket. If more than 10 non-security practitionners show up and some security practitioners show up, maybe some of those can play Game Master for the first group. To discuss on Etherpad/Slack.

I also confirm the need to 3 paper boards (I will *use* one by group of 10 people) and one projector.

[2017-10-10 14:07] bunnybooboo commented on #815
Thanks for getting back so rapido. Confirming ticketing lockdown! (Sorry the incessant pings but half of them are to communicate to the team across 4 timezones)

[2017-10-10 14:08] bunnybooboo commented on #592
Confirming ticket lockdown! And thanks for the rapid response.

[2017-10-10 14:28] amirad commented on #432
yes, I wouldn't want to loose some of the fun self defense portion. I think we can reduce it though so it's shorter and maybe not as loud.
At every event we have waivers for people to sign in case anything happens. We can bring waivers with us as well and one of us can make sure anyone who joins has completed one.

[2017-10-10 14:45] bunnybooboo commented on #287
Confirming ticket lockdown!

[2017-10-10 14:47] bunnybooboo commented on #700
Confirming ticket lockdown!

[2017-10-10 14:59] bunnybooboo commented on #432
Hey thanks @amirad I didn't want to be a downer. Stoked that's on yer radar! Thanks for getting back to me. We're sharing Level 6 this year so we'll have a pretty big area. P&S wranglers will be drafting floor designs etc end of the week in London office. Do reach out if you feel there needs to be specific design considerations for this session.

One last thing as we're locking in ticketing this w

[2017-10-10 15:06] amirad commented on #432
No worries, totally understandable! Safety first :)

Sure thing - you mean the emails of us facilitators right? Amira and Sierra? I can email that over - where do I email - can you give me an address?

[2017-10-10 15:06] bunnybooboo commented on #432
sw1ayfe@gmail.com

[2017-10-10 15:09] amirad commented on #432
Done!

[2017-10-10 15:15] bunnybooboo commented on #432
Confirming ticket lockdown!

[2017-10-10 15:24] billfitzgerald commented on #530
Just responded via email, @bunnybooboo  - thank you!

[2017-10-10 15:25] zlechelt commented on #644
@flukeout
Wonderful, this looks great, thank you.
On a side note, I will have a co-facilitator during the session, whose name is Can Liu (Researcher at the UCL Interaction Centre). Would it be possible to add her name where relevant, and make sure she has a facilitator pass for the weekend? (if there is someone else I need to contact, just let me know!)

Thanks so much

[2017-10-10 15:28] bunnybooboo commented on #530
Top man! Confirming ticket lockdown

[2017-10-10 15:45] flukeout commented on #644
Yes of course. Could you please send me her email to luke@mozillafoundation.org and I'll make sure she is added. Thanks!

[2017-10-10 15:49] zlechelt commented on #644
thanks! just e-mailed you

[2017-10-10 15:51] omnignorant commented on #530
I shouldn't count as a ticket. I'm Mozilla staff.

[2017-10-10 15:55] bunnybooboo commented on #530
I know as Bill has discussed with me already in email. As a precautionary measure I am taking all names and emails so there is zero problem at the door. By all accounts security is being stepped up this year and I'm crossing my t's and dotting those i's. We're cool @omnignorant Real cool.

[2017-10-10 16:05] bunnybooboo commented on #259
Confirming receipt of ticketing info so ticketing is now locked down

[2017-10-10 16:07] flukeout commented on #644
👍

[2017-10-10 16:54] seplute commented on #684
update @kenyatta1:
[ Facilitator 4 Name ] Laurynas Pasakarnis
[ Facilitator 4 Github ] :question:
[ Facilitator 4 Twitter ] :question:

Also a question - since I already have a ticket (I am running two other sessions as well) - is there a chance to reimburse the tickets for the facilitators 2-4 on this session?

Also - when can we expect to hear about our session time? :) since I have other sessio

[2017-10-10 17:15] kenyatta1 commented on #684
@seplute Greetings! I've updated the facilitators.   Have you participated in the digital inclusion facilitators call?  Leah sent an email with additional information to all DI facilitators.  Please let me know if you have not received it and I can get that to you ASAP!  "MozFest: Facilitator guide, coaching + google form submissions"

In terms of scheduling. @hannahkane can assist with any questi

[2017-10-10 17:19] hannahkane commented on #684
hey @seplute - your session is currently scheduled for Sunday from 11am to 12pm.

[2017-10-10 17:23] Halfcompass commented on #709
@flukeout, Am I reading the Trello right, that my session is at the end of the day on Sunday?

[2017-10-10 17:26] hannahkane commented on #829
Note: remote facilitator in EST time zone

[2017-10-10 17:27] louisdewar commented on #805
Hi @gbaman , I haven't been able to get in contact with the other person who originally organised this but could you send the forms to this address: --Email address removed-- and I will get them filled out by both me and Hamdan straight away.

[2017-10-10 17:35] seplute commented on #684
hi @kenyatta1 & @hannahkane - thanks much for your answers!

@kenyatta1 nope - I have not received that email :( could you send it to emramanauskaite@gmail.com? thanks much!!

[2017-10-10 18:16] anmechung commented on #636
Session outline: Web Literacy Leaders-- How to Grow the Internet Health Network
Moderator: An-Me Chung
[ Additional facilitators ]
Iris Bond Gill
Matthew Kopel
Davis Erin Anderson
Joanna Milner
Kelly Hudson
Sherry Lehane

5 min: Introductions of facilitators and participants in workshop
who, where, and what you hope to learn today

5 min: Brief overview of Web Literacy Leaders

20 min: Each web li

[2017-10-10 18:27] Saallen commented on #636
cleared for all tickets

[2017-10-10 18:48] flukeout commented on #709
That is correct @Halfcompass - does that work for you? We'll be making a few more adjustments as some of the facilitators have requested changes due to travel and other conflicts.

[2017-10-10 18:59] Halfcompass commented on #709
@flukeout Yes, that's fine; I'm not leaving until Monday. I just worry about having no one show up. I'll try to make some enticing posters. :)

[2017-10-10 19:01] Saallen commented on #823
@connieimdialog confirming you don't need any additional tech than already outlined above?

[2017-10-10 19:13] flukeout commented on #709
I hear ya - you know, I think it might make sense to have the session a little earlier. Something lighter or more hands-on might work better at the end of the day, I'll keep you posted!

[2017-10-10 19:18] Halfcompass commented on #709
Cool. Either way, I'll just be happy to be there. I'm guessing that "military" or "veterans" as a subject may not appeal to this crowd, so I'm brainstorming ways to make it approachable via posters. Do you know if we'll be allowed to tape paper posters to the college walls?

[2017-10-10 19:25] bunnybooboo commented on #838
Confirming ticketing info for Callum and Sam. Ticketing is in lockdown!

[2017-10-10 19:47] cs4allnyc commented on #753
@flukeout! Looks like one of our presenters did not book their flight in such a way that we can present on Sunday. Any chance we can swap with someone and present on Saturday? Thanks!

![](https://media.giphy.com/media/p4cqQ0gUIMcU0/giphy.gif)

[2017-10-10 19:54] flukeout commented on #125
@jvallera - we'll also want to get some kind of banner made up. Can you provide copy for that?

![image](https://user-images.githubusercontent.com/25212/31407530-135c900e-adba-11e7-9ed9-610a938a437d.png)

Something along these lines ^

If you could chuck it into the etherpad, that would be handy...

https://public.etherpad-mozilla.org/p/leaders-showcase

[2017-10-10 20:08] flukeout commented on #753
Lol at the gif - sure yeah, for now I'm just collecting feedback on the schedule. It's still rolling in. I'll make a note and re-shuffle things. Will send out anther note when it's "final".

[2017-10-10 20:11] flukeout commented on #125
Dropping the WIP poster design for this here for now as well for reference...

![image](https://user-images.githubusercontent.com/25212/31408184-8de0528c-adbc-11e7-95b7-7bb784fb629f.png)

[2017-10-10 20:33] jvallera commented on #125
Yay to banner! added copy to pad. and notes about what to change on poster.

[2017-10-10 21:25] bunnybooboo commented on #713
Sorry for all the pings @herahussain as I see @jonathanKingston has also emailed you. Just to clarify that free facilitator tickets is THREE in total including yourself. We can give you more just they would be at a discounted rate. Adding this clarity as I see your proposal was for FOUR in total.
Deadline for these names and emails is Wednesday October 11 @ 17:00 UTC
The materials request deadline

[2017-10-10 21:51] bunnybooboo commented on #287
@biancadanforth have another deadline this time for the materials request. Please check the above list of items and confirm this is correct, or let me know of any changes. I need this info by Thursday October 12 @ 17:00 UTC.

[2017-10-10 21:59] hannahkane commented on #616
Hi @pazbc - given your request for a 90-minute time slot, we've scheduled this session for Sunday, October 29th at 11am (London time), which is one of our 90-minute slots. However, I noticed you have a remote facilitator who will be participating from Chile. Will 7am local time be too early? An alternative would be to move this to a later time slot, but it would be 60 minutes. Let me know what you

[2017-10-10 22:06] bunnybooboo commented on #538
One last deadline this week @01fade is for the stationery and tech materials. Your PDF linked above (cc/ @brettgaylor ) Are these materials you shall be bringing with you, or are by placing that link in your materials needs making a request for these?

If we need to source items please note the deadline for the materials requests from Mozfest Production is Thursday October 12 @ 17:00 UTC.

[2017-10-10 22:32] flukeout commented on #125
👍

[2017-10-10 22:39] gbaman commented on #805
@louisdewar email sent, check your inbox

[2017-10-10 23:38] flukeout commented on #125
Added a redpen to track design work:

* https://redpen.io/p/bgbc1b5221fedeced9

[2017-10-11 01:27] Jayapreethi commented on #274
Hi @edovio , Please check your Email for my additional facilitators email contact .

[2017-10-11 01:35] Jayapreethi commented on #274
Hello @flukeout ,
I am okay with the schedule which you have fixed, so please freeze it without any changes.

[2017-10-11 04:13] 01fade commented on #538
@bunnybooboo, actually I’ve discussed a different setup than proposed originally, as I think it might be quite complicated and time consuming to hang things from the ceiling.

I would need 3 ipads and 3 pedestals/high tables. (The rest I will bring.) How could I request these?

[2017-10-11 05:57] gautha91 commented on #308
@flukeout Thanks for the update. Yes, I am comfortable with the given date and time for my session.

[2017-10-11 06:27] mhawksey commented on #435
@vigneshwerd thanks (if this can also be scheduled on a Saturday it would help greatly)

[2017-10-11 08:53] emrysgreen commented on #860
Hi @bunnybooboo - I've noticed the allocated time of Saturday 10am to 11am for this session.  Is this correct?

Apologies, but I wonder if we might be able to request a later slot in the day for this session at all?  As Hannah will be coming in from Birmingham she'll need to be on a 6am train already and I don't overly trust the trains/tube to be running smoothly.  Is a slot closer to 12pm possibl

[2017-10-11 10:21] bunnybooboo commented on #510
Confirming receipt of additional ticketing information so we now have a lockdown!

[2017-10-11 11:51] ppolsinelli commented on #52
Now has a logo :-)

![coops-and-dragons_240](https://user-images.githubusercontent.com/485211/31439122-4e0d7232-ae8b-11e7-96f1-34552bc73364.png)

[2017-10-11 12:15] matteomenapace commented on #771
Hey @noneck I'm looking forward to your session! Hopefully it won't clash with another session that I'm going to attend by Nicky Case and Alex Dytrych on _explorable explanations_

Thanks for connecting us @flukeout :)

[2017-10-11 12:23] Saallen commented on #428
This session is no longer taking place- I will close this issue and delete the guidebook submission- thanks

[2017-10-11 12:23] #428 closed, assigned to EPIKhub

[2017-10-11 12:37] vbhv commented on #811
Hi @Saallen, I was wondering where I could update the facilitator's names and session descriptions so that it's reflected across the program? Is Guidebook the right place to do it since it was mentioned on our call?  Thank you.

[2017-10-11 12:39] Saallen commented on #811
Hello- yes please change on guidebook- I sent you a link yesterday- Did you receive it?

[2017-10-11 12:46] vbhv commented on #811
I just checked and don't seem to have one. Can you please re-send at bhawsar.vaibhav@globalvoices.org

[2017-10-11 13:26] bunnybooboo commented on #860
cc/ @arroway

[2017-10-11 13:32] connieimdialog commented on #823
@Saallen thanks! i was just wondering if there will be stickies and a writing surface/flip-chart paper that i can grab?  I know that the Faciliator's Guide says they will be available on each floor, but wasn't sure if that's also the Library space.  Thanks!

[2017-10-11 13:33] connieimdialog commented on #823
and also assuming that session participants can try and logon to the wifi? but also know i have to come up with a back-up no tech plan!

[2017-10-11 13:49] herahussain commented on #713
Sorry guys for the delay. I am at the airport right sending this to you
from a phone!

Roxanne Leitao
Jess morley

I would need a discount code for another volunteer who would be coming with
her child (8yrs old).

On 10 Oct 2017 10:25 pm, "David Ross" <notifications@github.com> wrote:

[2017-10-11 14:14] bunnybooboo commented on #538
Hey no worries at all @01fade. I'll be contacting Mozfest logistics. Not sure about the ipads but will try my best!

[2017-10-11 15:15] CelineBoudier commented on #429
Thank you @flukeout :) As said in a previous email, I will be presenting with @j4mesholland Is it possible to add him to the loop?

[2017-10-11 15:19] flukeout commented on #429
Apologies if I missed that. @j4mesholland - can you email (or post if public) me your email address and I'll make sure you're added to Guidebook, the scheduling app for the festival.

I'm at luke@mozillafoundation.org - cheers.

[2017-10-11 15:35] amirad commented on #125
These posters/banners look amazing. Great job on the design @flukeout and edits @jvallera - thank you both for all the work in making this showcase a unified and exciting experience

[2017-10-11 16:07] npscience commented on #575
Thanks @vigneshwerd & @maboa!

Key resources:

* [The plan for the workshop](https://github.com/npscience/MozFest2017/blob/master/Blockchain-workshop/Blockchain-workshop-schedule.md) (plus copied in full below)
* [A template for the output documentation from the workshop](https://github.com/npscience/MozFest2017/blob/master/Blockchain-workshop/Blockchain-outputs-template.md)

# Materials required

[2017-10-11 17:50] biancadanforth commented on #287
@bunnybooboo , thanks for following up! Additional materials requested after attending the Facilitator coaching meeting:
* 4X Giant notepads on easels
* 10-20X colored markers for these notepads
* 10-20X packs of post-it notes
* Computer speakers or other hardware to play an audio clip from my computer (if the microphone system won't cut it)

[2017-10-11 18:00] npscience commented on #574
@stephwright - you are a super star, help gratefully received - however much you can offer. And it’ll be wonderful to meet you in person :)

[2017-10-11 18:06] bunnybooboo commented on #826
Materials request confirmed as none required.
Regarding the day change in the schedule, this is highly likely to be sorted. Should hear further within 48 hours.

[2017-10-11 18:39] bunnybooboo commented on #196
Ticketing and materials locked down. Thanks for supplying the info!

[2017-10-11 18:46] bunnybooboo commented on #453
Confirming receipt of the requested ticketing and materials information. This session is now locked down!

[2017-10-11 19:07] bunnybooboo commented on #526
Confirming receipt of the requested ticketing and materials info. This session is now locked down!

[2017-10-11 19:12] bunnybooboo commented on #243
Materials request confirmed. If this session was a roast dinner, I'd be sitting guests at the table in preparation!

[2017-10-11 19:19] bunnybooboo commented on #713
That awesome! Hope you had (or are having) a great flight!!
Could you possibly EMAIL all their names and email addresses, please?
cc/ @jonathanKingston

[2017-10-11 19:26] joana-varon commented on #453
thanks @bunnybooboo
also solved through email, right? how do we confirm Danae as faciltator in the description here? through the guidebook , right?

[2017-10-11 19:33] j4mesholland commented on #429
Hi Luke, I've just emailed you my email address.

[2017-10-11 19:41] flukeout commented on #429
👍

[2017-10-11 20:30] Mothercyborg commented on #647
Hello! I am wondering what day and time our session is. I am having a hard
time finding it online.

Thanks so much!
`Diana

On Wed, Sep 6, 2017 at 3:11 PM, Kenyatta <notifications@github.com> wrote:

--
Diana J Nucera
Director of  Detroit Community Technology Project
www.alliedmedia.org/dctp <http://www.alliedmedia.org>

[2017-10-11 20:37] flukeout commented on #125
👍 thanks! I've updated the redpen to also include a kind of intro poster we can use to direct people towards the stations...

https://redpen.io/p/bgbc1b5221fedeced9

Maybe we can put it on a kind of stand. Looks like we'll have to handle our own printing via https://www.pixartprinting.co.uk/

@jvallera would you be able to look through that website and see what our options would be for the posters

[2017-10-11 21:04] cameralibre commented on #472
There is now an (illustrated) explanation of the main process involved in the workshop, to give you a better understanding of how it works:

[How to commit](https://gitlab.com/cameralibre/cut-copy-and-paste/blob/master/How-to-commit.md)
![tmp_6402-01_typewriter-1188769671](https://user-images.githubusercontent.com/15368010/31467224-8b270874-aed9-11e7-88ca-ffb4b9586e1b.png)

@auremoser @KirstieJane

[2017-10-11 21:27] bunnybooboo commented on #453
@joana-varon The additional names that have been collected today will get invite to edit in Guidebook, be added to Mozfest Slack, and get a ticket to actually get in. Guidebook info will be what is used for programming now. Github is kind of legacy moving forward. Yes all sorted via email. Adding in here as a backup. Shouldn't be too long a wait.

[2017-10-11 21:33] bunnybooboo commented on #287
gotcha
p.s. only keynotes have amplification - all sessions are commanded by your 'drama voice' alone ;)

[2017-10-11 21:55] joana-varon commented on #453
perfect, @bunnybooboo! Ive also added info/image and edited the description through guidebook as well. all fine. looking forward to it! thanks!

[2017-10-11 22:21] Saallen commented on #823
Yes, they come as standard in each space.
I would have a no wifi plan....always worth a plan b :)

[2017-10-11 22:22] flukeout commented on #125
Am thinking maybe of something like this...

https://www.pixartprinting.co.uk/wide-format/printing-flat-bed-rigid-materials/acrylic/

100cm x 140cm

[2017-10-11 22:31] amirad commented on #125
Those boards are dreamy. I was talking to Julia about playing around with some multi-lingual posters or signage as pointers to the space. It could be multi-lingual signs or one word in many languages that emphasize the global-ness of the area.

[2017-10-11 22:33] flukeout commented on #125
We could leave some blank white space on the intro banner where people can write in different languages maybe?

[2017-10-11 23:28] hannahkane commented on #674
hey - @vigneshwerd. I'm wondering if you've scheduled this session yet, and, if so, for what day/time? I believe a couple of your panelists are also running sessions in the Digital Inclusion space, and I want to make sure we don't create a conflict. Thanks!

[2017-10-12 00:06] flukeout commented on #125
For the individual posters, I'm thinking of this...

![image](https://user-images.githubusercontent.com/25212/31472921-56fd8998-aea6-11e7-954a-6701949b7531.png)

50x70 or maybe 70x100 cm?

[2017-10-12 00:18] flukeout commented on #125
**Poster Update**

Hey so I'm prepping the files for ``70cm x 100cm`` for print on the cardboard stock. I'll print 11 pieces in case one gets messed up. That should come to $75 which we can split between our budgets? Let me know.

Please provide any final comments & thoughts on the posters in the redpen:

* https://redpen.io/oncb419136bab7fe9c

I want to send the print job tomorrow.

[2017-10-12 01:27] pdurbin commented on #472
@cameralibre this is great!

[2017-10-12 01:42] avilarenata commented on #554
Hi Bunny, can you share with me your email info so I can send those? Thanks.

[2017-10-12 01:59] avilarenata commented on #556
Please note the facilitators (2 additional ones) and their emails (for ticketing)

Kristen Robinson Kristen Robinson <kristen.robinson@webfoundation.org>
Andres Guadamuz <anduril13@gmail.com>

among the participants who agreed to share their experiences is Nanjira Sambuli and Joana Varon, who are already attending.

[2017-10-12 03:06] unalee commented on #260
Hi there! Here are our requests.

- Laptop with Chrome installed
- Large (6' or so) table
- Large divider that we can pin things to
- Pens & markers
- Pushpins

Thank you!

[2017-10-12 03:21] ethantseng commented on #262
@bunnybooboo Sorry for the delay.  I emailed you the names and emails.  I also added them to the etherpad https://public.etherpad-mozilla.org/p/festival.fabriders.facilitatorcoaching2017.

[2017-10-12 04:41] kenyatta1 commented on #260
@unalee have you filled out a digital inclusion space Google form yet?   Let me know if you have received it or not.

[2017-10-12 08:55] dvigneshwer commented on #674
Hey @hannahkane , We have scheduled this session on Oct 28th from 4:30 PM - 5:30 PM.

[2017-10-12 12:26] jvallera commented on #125
Thanks @flukeout these boards are perfect. Leaving white space on the banner will be great. They can also use paper and markers to make personal signs like we did at the entrance of the web lit space last year. @amirad is best to answer budget q.

[2017-10-12 13:14] EPIKhub commented on #734
@marcwalsh closing session, can you pls remove from guidebook /cc @Saallen

[2017-10-12 13:16] #734 closed, assigned to gbaman, EPIKhub

[2017-10-12 14:01] amirad commented on #125
Yesssss to white space. And yes to splitting that cost.

[2017-10-12 14:15] thornet commented on #866
No longer taking place

[2017-10-12 14:15] #866 closed, assigned to nobody

[2017-10-12 14:26] unalee commented on #260
@kenyatta1 I did a search through my email and can't seem to find it. Can you please share the link? Thanks!

[2017-10-12 14:31] kenyatta1 commented on #260
@unalee https://docs.google.com/forms/d/e/1FAIpQLSdMPrGx0Ixr-B6_KRXOLnrc0BWqliLqj1Pm1DmrJI6q8Jljmg/viewform

[2017-10-12 14:32] kenyatta1 commented on #260
@leahcatherine can you email @unalee all the facilitator details for the digital inclusion space?

[2017-10-12 14:38] unalee commented on #260
Thank you, I’ve filled it out.

[2017-10-12 15:55] leahcatherine commented on #260
@unalee I have your name in our contact list but do not have an email address for you. Can you send it to me please?

[2017-10-12 16:10] hannahkane commented on #647
Hi @Mothercyborg - this session is scheduled for Saturday, October 28th from 11:15am to 12:45pm.

[2017-10-12 16:16] msaunby commented on #845
Changed facilitators to University of Exeter students - Tanguy, Loise, Max.

[2017-10-12 17:06] unalee commented on #260
It’s una@andalsotoo.net.

[2017-10-12 18:09] redshiftzero commented on #525
Yep, that's correct

[2017-10-12 18:19] Saallen commented on #287
Update with the tracking piece off the back of our conversation earlier- on the poster advertising the person you are tracking - can it contain the line " this activity is taking place with this persons consent" -

[2017-10-12 18:55] esylvan commented on #717
Update: we've decided that financially it makes more sense for only one of our team members to attend Mozfest. So I'll be attending and presenting this topic but my associate, David Cole, will not.

[2017-10-12 20:07] auremoser commented on #624
Hey @diekus!
Excited for your session at Mozfest!

I'm assembling a facilitator's list for free mozfest tickets and invitation to our slack. Would you be able to share the emails and githubs of your co-facilitators (David Johnston and Daniel Appelquist) please? Thank you: aurelia@mozillafoundation.org!

[2017-10-12 20:12] auremoser commented on #598
**[ Facilitator 1 Name ]** Brian Byrne
**[ Facilitator 1 Github ]** @brianlinuxing
**[ Facilitator 1 Twitter ]** ?

### Requirements
* projector

[2017-10-12 21:34] flukeout commented on #125
Okay an update... I've sent the entrance poster to print. 100cm x 140cm on a foam board. It's got blank speech bubbles that the leaders can write "Welcome" into in their native language (or something like that). Looks like this...

<img src="https://user-images.githubusercontent.com/25212/31520346-641e1f2a-af5a-11e7-891f-d6d946ccc89e.png" width="400" />

Good news, we can print our other posters a

[2017-10-12 21:35] idigitalized commented on #510
Materials needed:

- 2 laptops/tablets (with working Internet connection)
- whiteboard, pens, sellotape
- 1-2 table(s) and chairs

[2017-10-13 00:40] EPIKhub commented on #190
@viswanathamsantosh We have scheduled you for Sat (TBC) would you like a second slot in the VR Lab as we have capacity?

[2017-10-13 00:47] #292 closed, assigned to EPIKhub

[2017-10-13 01:07] jvallera commented on #125
Sounds great! Could we also print posters/pics from leaders at Ravensbourne? or better to print separately...

Thanks a million.

[2017-10-13 05:14] devcer commented on #190
Sure @EPIKhub ! will that be on saturday or sunday?

[2017-10-13 05:30] #392 closed, assigned to auremoser

[2017-10-13 05:38] auremoser commented on #322
Hi there @booyaa, would you mind sharing your email with me so I can properly include you on future correspondence and mail out your ticket confirmation? I only have Florian's, but you'll both be offered comp tickets and invites to festival activities. You can ping me here: aurelia[at]mozillafoundation.org

[2017-10-13 09:42] RadManDan commented on #784
@georgiamoon Do you still need easels and how many? :)

[2017-10-13 09:44] RadManDan commented on #575
Hi, due to the sizing to the venue, we don't allow Mics for sessions. We don't have close rooms, all sessions are open so we don't want to disturb other sessions. @npscience Regarding an illustrator, you are more than welcome to source it but this is something we can not provide

[2017-10-13 09:52] RadManDan commented on #418
Hello @prashanthrock If you have stuff needing printing for the festival, we advise you do this before you arrive as we don't have access to printing.

[2017-10-13 10:39] EPIKhub commented on #613
@batch-works @zdennignton Ive scheduled you for Sat Afternoon in our open space area, you will have part of the space for the afternoon 13:00 - 16:00

[2017-10-13 10:55] HarryTrimble commented on #468
Can we edit the additional facilitators on here to: Sarah Gold, Ian Hutchinson and Georgina Bourke?

[2017-10-13 10:58] Saallen commented on #618
@DanRad95 can you add the size of the room dividers here too for printing measurements

[2017-10-13 11:10] Saallen commented on #618
ping @radmandan instead

[2017-10-13 12:00] kristiprogri commented on #253
Hello Vigneshwer
Please find below the outline, the estimated time will be 30 min (Q&A
included)

* Abstract -

Mozilla is so much more than a browser vendor. Let's have a look at how
Mozilla handles advocacy and policymaking in various countries, especially
Europe, to keep the web open and free.

* Description -

How did technology affect nowaday's diplomacy and policymaking? While
distancing its

[2017-10-13 14:47] cubicgarden commented on #427
Hi @Treora. Room size will be roughly between 20-50 people. Exact estimates are unsure till we are in the space. Many to many discussions are much better and you can move the chairs around as much as you like. Make the space yours for the hour session

[2017-10-13 14:49] cubicgarden commented on #435
Its on Saturday and we haven't got a clash with your other session thanks @mhawksey but its after the break

[2017-10-13 14:56] cubicgarden commented on #10
@KadeMorton Cords, I would bring HDMI and VGA adapters if possible, don't rely on there being one spare.
Table wise, the space has lots of chairs and tables can be pulled out and used. You can build the space before the session to suit your session

[2017-10-13 15:01] nicola commented on #132
Hello you all!
I will actually lead this session in collaboration with David

Notes for @vigneshwerd

1. I will be able to attend MozFest 17
2. The presentation will be about 30 minutes with 15 mins of questions.

3. Projector only
4. Add me as presenter with David Dias!

[2017-10-13 16:06] mhawksey commented on #435
Thanks @cubicgarden - much appreciated

[2017-10-13 16:26] RadManDan commented on #618
@kaodro I've added your requested items onto my list! Looking forward to seeing these inflatable dinosaurs!

[2017-10-13 16:32] kaodro commented on #618
@RadManDan now I just need the size of the room dividers cause of printing! thanks!

[2017-10-13 18:56] npscience commented on #575
Hi @RadManDan thanks for the info.

We actually don’t need a mic anymore (new session materials info in amended details, see comment above, basically only stationery) and I looked into getting an illustrator but they weren’t affordable.

Thanks though!

[2017-10-13 20:13] flukeout commented on #419
Sorry please ignore my last message (that I deleted) I posed it in the wrong issue! Cheers!

[2017-10-13 20:16] flukeout commented on #542
Hey @davedarch - I'm writing to see if you'd be interested in helping out with the Thimble Zone. I'm trying to organize a few folks with HTML, CSS & JS skills who would like to demo mozilla's [Thimble Editor](https://thimble.mozilla.org). We'll have a few laptops set up with a sign and it would be great if we had a few volunteers to introduce people to it as well as get them started on some kind o

[2017-10-13 20:23] GeorgLink commented on #414
Hi everyone. I will help with the table and session.
You can contact me via email: linkgeorg@gmail.com

[2017-10-13 20:25] flukeout commented on #327
Hello @anouchk - I'm writing to see if you'd be interested in helping out with the Thimble Zone. I'm trying to organize a few folks with HTML, CSS & JS skills who would like to demo mozilla's [Thimble Editor](https://thimble.mozilla.org). We'll have a few laptops set up with a sign and it would be great if we had a few volunteers to introduce people to it as well as get them started on some kind o

[2017-10-13 20:26] flukeout commented on #522
Hey @gideonthomas - I'm writing to see if you'd be interested in helping out with the Thimble Zone. I'm trying to organize a few folks with HTML, CSS & JS skills who would like to demo mozilla's [Thimble Editor](https://thimble.mozilla.org). We'll have a few laptops set up with a sign and it would be great if we had a few volunteers to introduce people to it as well as get them started on some kin

[2017-10-13 20:26] flukeout commented on #594
Hey @poshaughnessy (and others) I'm writing to see if you'd be interested in helping out with the Thimble Zone. I'm trying to organize a few folks with HTML, CSS & JS skills who would like to demo mozilla's [Thimble Editor](https://thimble.mozilla.org). We'll have a few laptops set up with a sign and it would be great if we had a few volunteers to introduce people to it as well as get them started

[2017-10-13 20:26] flukeout commented on #498
Howdy @mhawksey - I'm writing to see if you'd be interested in helping out with the Thimble Zone. I'm trying to organize a few folks with HTML, CSS & JS skills who would like to demo mozilla's [Thimble Editor](https://thimble.mozilla.org). We'll have a few laptops set up with a sign and it would be great if we had a few volunteers to introduce people to it as well as get them started on some kind

[2017-10-13 20:28] flukeout commented on #12
Hey @shillontheroad - I've got some space design updates. We ordered a ton of cardboard and construction paper as well as some glueguns, etc etc and will be decorating the space with hand-made cardboard / paper craft plants. We've also got some live plants and a few pads of artificial turf.

If you've got some plans / ieas / background / experience in making paper plants / flowers please share! I'

[2017-10-13 20:36] flukeout commented on #312
Hi @Maya-Alvarado - I'm writing to see if you'd be interested in helping out with the Thimble Zone. I'm trying to organize a few folks with HTML, CSS & JS skills who would like to demo mozilla's [Thimble Editor](https://thimble.mozilla.org). We'll have a few laptops set up with a sign and it would be great if we had a few volunteers to introduce people to it as well as get them started on some kin

[2017-10-13 20:36] flukeout commented on #167
Hey @janhohner - I'm writing to see if you'd be interested in helping out with the Thimble Zone. I'm trying to organize a few folks with HTML, CSS & JS skills who would like to demo mozilla's [Thimble Editor](https://thimble.mozilla.org). We'll have a few laptops set up with a sign and it would be great if we had a few volunteers to introduce people to it as well as get them started on some kind o

[2017-10-13 20:37] flukeout commented on #274
Hello @Jayapreethi - I'm writing to see if you (or any co-facilitators) would be interested in helping out with the Thimble Zone. I'm trying to organize a few folks with HTML, CSS & JS skills who would like to demo mozilla's [Thimble Editor](https://thimble.mozilla.org). We'll have a few laptops set up with a sign and it would be great if we had a few volunteers to introduce people to it as well a

[2017-10-13 20:37] flukeout commented on #308
Hello @gautha91 - I'm writing to see if you'd be interested in helping out with the Thimble Zone. I'm trying to organize a few folks with HTML, CSS & JS skills who would like to demo mozilla's [Thimble Editor](https://thimble.mozilla.org). We'll have a few laptops set up with a sign and it would be great if we had a few volunteers to introduce people to it as well as get them started on some kind

[2017-10-13 20:37] flukeout commented on #763
@Btayeg - I'm writing to see if you'd be interested in helping out with the Thimble Zone. I'm trying to organize a few folks with HTML, CSS & JS skills who would like to demo mozilla's [Thimble Editor](https://thimble.mozilla.org). We'll have a few laptops set up with a sign and it would be great if we had a few volunteers to introduce people to it as well as get them started on some kind of begin

[2017-10-13 20:37] flukeout commented on #57
Hey @ottagit - I'm writing to see if you'd be interested in helping out with the Thimble Zone. I'm trying to organize a few folks with HTML, CSS & JS skills who would like to demo mozilla's [Thimble Editor](https://thimble.mozilla.org). We'll have a few laptops set up with a sign and it would be great if we had a few volunteers to introduce people to it as well as get them started on some kind of

[2017-10-13 21:51] jvallera commented on #12
This sounds great @flukeout !! @shillontheroad those stencils you made for the showcase might come in handy here too!

[2017-10-14 07:57] dvigneshwer commented on #253
@kristiprogri Thanks for the update.

[2017-10-14 08:55] dvigneshwer commented on #132
@nicola Thanks for the update. I have added you as a facilitator.

[2017-10-14 09:53] shillontheroad commented on #12
@flukeout @jvallera cool- letting participants print pixel flowers and leaves with my stencil would be great- this will connect nicely with my surveillance camera tulips! I also was thinking of html tag leaves- printed to add to cardboard trees/ plants- we could print directly to construction paper.
Also- if we had some compost bags we could invite participants to plant ideas...can't wait to get t

[2017-10-14 13:49] ottagit commented on #57
Hey @flukeout - I'm not that  good of a front-end guy, and will also be showcasing as a local leader during the festival and may find it difficult to help out with the Thimble Zone.

Thanks for the heads-up!

[2017-10-14 19:42] poshaughnessy commented on #594
@flukeout Sounds good. I'll need to step out for this session ^ and the [Voice Assistants session](https://github.com/MozillaFoundation/mozfest-program-2017/issues/210), but I'd be happy to help otherwise. I haven't really used Thimble, but I presume I can pick that up quickly before the event. We could try to rope @uveavanto and possibly @diekus into helping out too?!

While I'm here... If we wan

[2017-10-15 02:16] auremoser commented on #472
Thank you @cameralibre! I'm sorry for my radio silence, it's been a busy few weeks of Mozprep, but I think your idea is spot-on for the gallery. Installations will be persistently available throughout the weekend, every gallery session is given a dedicated slot to demo/explain or describe their install to an audience that we'll guide toward the install space at the time of your session window. Hop

[2017-10-15 02:17] ryanwarsaw commented on #821
I'm down to help with this if necessary, I'll make sure I show up as well.

[2017-10-15 02:19] auremoser commented on #472
PS, about the materials would you be able to add them in a list (things you might need us to get for you) like this:

**[ Facilitator 1 Name ]** Jason Schultz
**[ Facilitator 1 Github ]** ❓
**[ Facilitator 1 Twitter ]** [@lawgeek](https://twitter.com/lawgeek)
**[ Facilitator 2 Name ]** Terah Lyons
**[ Facilitator 2 Github ]** ❓
**[ Facilitator 2 Twitter ]** ❓

### Requirements
*
*

[2017-10-15 03:02] auremoser commented on #595
Hey @marcosvital !
Apologies for my delayed reply on this, we've been swamped with scheduling arrangements. But this looks good, we switched your session format to a learning forum, because that fits better for your workshop/tutorial style session. So, per the schedule that Kirstie sent out and the one that will go live in our "guidebook" / schedule, you're all set to present 16:30-17:30 on Sunday

[2017-10-15 05:42] Jayapreethi commented on #274
Hello Luke , I am interested  and few of my team members might be a part of
it ...Can i know the exact shedule of this thimble editor demo ? so that we
can plan accordingly :)

[2017-10-15 06:56] prashanthrock commented on #418
Hello @flukeout  - Due to my personal issues , I won't be attending this Mozfest . My additional facilitator named Gowtham would be replacing me. I'm sorry for this inconvinence .

[2017-10-15 08:30] bunnybooboo commented on #554
Finally reading this on Sunday! Sorry for the silence. Thanks for already supplying the info in email.

This session is now locked down.

[2017-10-15 08:42] bunnybooboo commented on #468
Github is now a legacy feature as we race towards the event @HarryTrimble I have asked with production though, as I too can see the relevance of having an archive, a true reflection of those from your team who will be attending. I've also noted the day change and have escalated this to return your session to Saturday.

[2017-10-15 08:48] bunnybooboo commented on #715
@edrushka late addition due to stipend reshuffle - cc'ing you to be aware of languages

[2017-10-15 09:02] bunnybooboo commented on #287
some additional visual cue might be helpful also @jonathanKingston - something like a big badge or rosette?
e.g. https://www.amazon.co.uk/Come-Darkside-Cookies-Large-Badge/dp/B01LR83VCM/

[2017-10-15 09:20] bunnybooboo commented on #262
Thanks matey! And hey, nice call on the additional people to go to the training @ethantseng Added note in Slack about that too, as I agree the more members of a team to have done this could be hugely beneficial to attendees experience.

[2017-10-15 11:15] WinnieMakokha commented on #580
@jonathanprozzi & @flukeout
Apologies for delayed response. Se below my sessions topics & estimated time.
5 minutes: Introduction: (name & interests). Can type out on etherpad
8- 10 minutes: Bingo game (game on learning environments)
5 minutes : Debrief about the bingo game
5 minutes: Which are you favourite chat platforms(bots?) & why?
[Side note: Sticky note exercise]
8-10 minutes : Discussion o

[2017-10-15 13:44] Saallen commented on #752
hello @JWexlerBM we sent the team an invitation to the science fair but have heard nothing back as of yet- can you confirm you are still interested?

[2017-10-15 13:49] janhohner commented on #167
Hey @flukeout - sounds cool! I'd be happy to help a couple of hours :)

[2017-10-15 17:09] edrushka commented on #715
@bunnybooboo Thanks! Please let me know if any special language support is required.

[2017-10-15 19:38] biancadanforth commented on #287
@Saallen , What conversation earlier? I don't think I was a part of that conversation -- are you referring to Part I of the activity?

[2017-10-15 20:38] flukeout commented on #539
CC @matteomenapace - wanted to put this other game-related session on your radar!

[2017-10-15 23:00] flukeout commented on #57
No problem @ottagit!

[2017-10-15 23:34] KadeMorton commented on #10
@cubicgarden I'll need to buy adapters, could you confirm specifically which connections the projectors use, HDMI or VGA?

[2017-10-16 03:14] biancadanforth commented on #287
I have updated the agenda for my activity; here's a new summary:

Participants will learn through interactive activities about web privacy.
- Part 1: Depending on number of people, either as a single group or a bunch of smaller groups, each person introduces themselves and explains what they hope to get out of the session.
- Part 2: We pass around giant cards with fake ads that use embarrassing to

[2017-10-16 05:10] ottagit commented on #57
Cool @flukeout

[2017-10-16 09:51] JWexlerBM commented on #752
Apologies, I didn't receive the invite! Yes, we are definitely still interested -- 3 of us will attend, how can we sign up? Thanks!

[2017-10-16 09:52] Saallen commented on #752
Hey - can you email me via sarah@mozillafoundation.org?

[2017-10-16 10:03] JWexlerBM commented on #752
Cool, will do!

[2017-10-16 11:20] bunnybooboo commented on #287
Please be very careful of everyone introducing themselves. I've sat in on sessions before where this has ended up taking 20+ mins of an hour long session.

[2017-10-16 11:25] bunnybooboo commented on #287
@biancadanforth Jonathan has an additional tracking activity in mind for an attendee who volunteers themselves. He's likely to use your session as an introduction to the concepts, then a self selected person will be (offline) tracked through Mozfest. Details to follow,

[2017-10-16 11:49] EPIKhub commented on #833
@marcwalsh Ill close the session can you make sure it gets removed from Guidebook please

[2017-10-16 11:49] #833 closed, assigned to EPIKhub

[2017-10-16 12:09] EPIKhub commented on #284
this session is no longer running Ill close it; @marcwalsh can you make sure it get removed from guidebook pls

[2017-10-16 12:09] #284 closed, assigned to shwetal27, EPIKhub

[2017-10-16 12:09] EPIKhub commented on #808
this session is no longer running Ill close it; @marcwalsh can you make sure it get removed from guidebook pls

[2017-10-16 12:09] #808 closed, assigned to gbaman, EPIKhub

[2017-10-16 12:10] EPIKhub commented on #808
this session is no longer running Ill close it; @marcwalsh can you make sure it get removed from guidebook pls

[2017-10-16 12:11] cubicgarden commented on #760
Closing this one as @goldfarb said they couldn't run the session anymore

[2017-10-16 12:11] #760 closed, assigned to erikao, cubicgarden, marcwalsh

[2017-10-16 12:12] cubicgarden commented on #209
@brobertzadeh can't run this session anymore, so closing now

[2017-10-16 12:12] #209 closed

[2017-10-16 14:08] marcosvital commented on #595
Hi, @auremoser ! Thanks! No worries about the delayed reply, I was in a hurry with another event, and wouldn't be able to answer anyway... ;)

I'm still catching up  with the last messages in my email about MozFest, and hope to read everything today.
Learning forum sounds great for me! :D

I'll let you know soon if I have any questions.

[2017-10-16 16:15] sarahlongfield commented on #254
Hi. Any news on when our session will now be? Thanks

[2017-10-16 16:16] sarahlongfield commented on #254
Sorry should have tagged @flukeout there

[2017-10-16 16:26] joana-varon commented on #453
hi friends, do you know if we have or when we will have the time of this session scheduled? cheers jo

[2017-10-16 17:44] flukeout commented on #254
Hi @sarahlongfield - I switched your session to be at 15:15 on Saturday instead! Thanks for the heads up. You should also be able to find your session in Guidebook the official scheduling app for the festival. Did you receive an invite to Guidebook?

[2017-10-16 17:59] bunnybooboo commented on #453
@joana-varon the only draft we have today is [this one](https://github.com/MozillaFoundation/mozfest-program-2017/projects/2?fullscreen=true) in Github. However, I did spot a scheduling error where someone was allocated Sunday and they can't present on Sunday. So even now this will be due to a small change, though unlikely to affect your session. The schedule in the app (Guidebook) is due to go li

[2017-10-16 19:12] sarahlongfield commented on #254
Thanks @flukeout. Yes I did get an invite... got lost in the to do list. Will add stuff there tomorrow.  3.15 on the Sat is perfect.

[2017-10-16 19:46] anmechung commented on #636
FYI - revised outline and activities:

5 min: Introductions of facilitators and participants in workshop using a remixed spectrogram activity:  Spectrogram (discuss points of tension of IH) - openness vs protection, decentralization vs single point of access, privacy vs protection, inclusion vs safety, web literacy vs wall gardens

5 min: Brief overview of Web Literacy Leaders

20 min: Each web li

[2017-10-16 21:30] jonathanprozzi commented on #57
Hi @ottagit! I just wanted to check - which office supplies will you be needing for the session? Post-its, pens, etc?

Thanks!

[2017-10-16 21:34] hannahkane commented on #674
Great. Seems like there's no conflict then. Thanks, @vigneshwerd!

[2017-10-17 08:08] arroway commented on #521
@bunnybooboo we kept them as two sessions.

[2017-10-17 08:48] bunnybooboo commented on #468
Done @HarryTrimble Let me know if they want bios in the Guidebook app associated with your session. I'd personally have to do this and manually.

[2017-10-17 10:37] KirstieJane commented on #364
Hi @aariops! Thank you for the additional informaion - it’s really helpful!!

Can I suggest a slight difference: a hands on session in the shed on Saturday, and then a 1 hour show case session in the gallery on Sunday afternoon?

Are you sure the intro session should be short? It seems like you could use at least an hour to talk through the whys and hows of podcasting, and then maybe troubleshoot

[2017-10-17 10:56] aariops commented on #364
Makes sense! :D Thank you so much! I can take two bluetooth speakers with me for the gallery. Is there any possibility of having a few more?

[2017-10-17 11:08] zdennignton commented on #613
@EPIKhub Hello! Thanks for this. I see we're down in the schedule from 3.15- 4.15 pm. Is this our time slot or do we have the space from 1-4pm as above?

Best wishes,
Zoe

[2017-10-17 12:54] amyhearn commented on #446
Hi @flukeout sorry I've not sent this information through yet!

Session outline: 60 mins
10 mins - introductions (facilitators and workshop attendees)
5 mins - explanation of computational thinking, the basic key skills we can help toddlers develop, and the need to embed these foundations.
5 mins - introduction to key coding toys for under 5s (code-a-pillar, beebot, cubetto) and the skills they te

[2017-10-17 13:51] EPIKhub commented on #613
@zdennignton 1-4pm

[2017-10-17 14:26] bunnybooboo commented on #510
This session has been renamed: `Data for the common good`

[2017-10-17 14:34] brianlinuxing commented on #598
Sorry, been tied up after a chest infection, am catching up on emails.

I have revised it to:

"In this session Brian Byrne will provide a condensed history of computing
and show how older negative attitudes have given way to increased openness
in technology.

And how, with the perspective of history, we can fully appreciate what we
have now and why it is important to defend that openness and spir

[2017-10-17 14:44] KirstieJane commented on #598
@brianlinuxing - do you have your personal link (sent from the MozFest team) to update your description in the guidebook?

[2017-10-17 14:54] brianlinuxing commented on #598
Hi Kirstie,

This is my guide link, does it work for you too?
https://builder.guidebook.com/#/portal-access/750c5c39a3566acb05f1349054a24f/

BTW, my talks are mostly fast-paced, full of facts and funny!

Cheers,

Brian.
https://twitter.com/BrianLinuxing

On Tue, Oct 17, 2017 at 3:48 PM, Kirstie Whitaker <notifications@github.com>
wrote:

[2017-10-17 14:56] KirstieJane commented on #598
Hi @brianlinuxing - I've just deleted your comment as that link should be kept private (otherwise anyone can change your description I think!)

The point I should have made more clear was to ask if you'd updated the description there as well as here. You have! YAAAAY!

Thank you, and see you soon!

[2017-10-17 15:10] noneck commented on #771
@matteomenapace THANKS! i'd love to circle us via email to schedule a time to chat. I just sent you an email.

[2017-10-17 15:15] seplute commented on #735
I'd like to edit the facilitators list (one dropout):

[ Facilitator 1 Name ] Egle Marija Ramanauskaite
[ Facilitator 1 Github ] @seplute
[ Facilitator 1 Twitter ] @seplute
[ Facilitator 2 Name ] Alice Sheppard
[ Facilitator 2 Github ] :question:
[ Facilitator 2 Twitter ] @PenguinGalaxy
[ Facilitator 3 Name ] Claire Baert
[ Facilitator 3 Github ] @ClaireCSG
[ Facilitator 3 Twitter ] @Claire_csg

[2017-10-17 15:39] KirstieJane commented on #735
Updated! So Pietro isn't able to attend, right? I'll have @marcwalsh and the MozFest team take him off the mailing lists.

Can you make sure to update your entry in the guidebook @seplute?

[2017-10-17 16:09] ottagit commented on #57
Hi @flukeout - Post-its, marker pens (permanent or whiteboard, if there'll be one) will do.

Is the space layout fitted with sockets just to accommodate those whose laptops may not last on power for an hour?

[2017-10-17 16:36] cameralibre commented on #472
Hi @auremoser & @KirstieJane - I would like to add Judith's bio to the Guidebook as well if possible, I asked on the #help slack channel and David suggested asking my wranglers nicely - could you please arrange it for us? 🍎 🍬 💐

EDIT: all good! @bunnybooboo has sorted it out. Thank you!

[2017-10-17 18:09] seplute commented on #735
I will update the guidebook.

Pietro will not attend, although I'm sure it's not a big deal if he keeps
receiving the emails ;p thanks for taking care of all of this tho! :D

On Oct 17, 2017 7:16 PM, "Kirstie Whitaker" <notifications@github.com>
wrote:

[2017-10-17 19:31] flukeout commented on #57
Hey @jonathanprozzi - pinging to let you know about the suppl request here so you can add it to our list. Cheers!

[2017-10-17 19:40] mickfuzz commented on #405
hi there,
I've just noticed the change of time.
one of our facilitators is coming in from the airport and won't be able to make this earlier time.
Is there a chance of it being moved back?
Let me know if not and we'll replan the session.
thanks
Mick

[2017-10-17 20:11] shillontheroad commented on #12
@edovio @flukeout any chance we could source an old school overhead projector from Ravensbourne for the mozfest weekend? I've just experimented with this at American School Milan and the visuals were super cool. Thx

[2017-10-17 22:24] flukeout commented on #12
Hey @shillontheroad - I'll check into it!

[2017-10-17 22:36] flukeout commented on #109
Unfortunately, @vi5halc is no longer able to attend so I'm removing the milestone and closing this issue just in case we have any more communication with facilitators here.

[2017-10-17 22:36] #109 closed

[2017-10-17 23:50] flukeout commented on #446
Great, thanks very much @amyhearn!

[2017-10-18 01:28] pietrop commented on #237
Hi @joenash,
Just a reminder that I'm co-facilitating the session with Gideon Goldberg (@gidsg ) and wanted to make sure that there's a ticket for him, and that he has been added to the various slack and mailing list groups for facilitators as well?

Thanks!

[2017-10-18 03:42] #632 closed, assigned to KirstieJane

[2017-10-18 10:05] matteomenapace commented on #539
Thanks @flukeout, looking forward to this!

[2017-10-18 14:09] seantma commented on #724
@KirstieJane Will this session be streamed for attendees outside of London? I look forward learning more about your `Brain networks in Python` development!

[2017-10-18 15:33] emrysgreen commented on #419
Hi @EPIKhub - they're fine with Android if that's easier than iPads?

[2017-10-18 16:02] EPIKhub commented on #419
@emrysgreen we dont have androids either, if they need those they will have to bring their own.

[2017-10-18 16:16] emrysgreen commented on #419
OK, I think andrew has sorted Surface RT's

[2017-10-18 16:17] gbaman commented on #419
Yip, I will bring along 2 Surface RT tablets.

[2017-10-18 18:23] vecna commented on #554
I'm really sorry @bunnybooboo, I was passing by some trouble and I forget to do it. There is anything I can do now?

[2017-10-18 18:25] npscience commented on #574
**UPDATE RE EQUIPMENT LIST**

I've sorted the 'tree' (subject to a trip to IKEA this weekend) and the 'wishes' etc.

Remaining items that would be useful if provided:

- [ ] beanbags (3-6?) and/or chairs
- [ ] 2 tables
- [ ] space for 'tree': this will need to stand on one of the tables, and should not extend too far out from it...

^^ Hope that helps @KirstieJane @auremoser :crossed_fingers:

[2017-10-18 18:50] kaodro commented on #618
@RadManDan any news on the size of the room dividers? Asking cause the designer needs it to design the banners in the right size. Thanks!

[2017-10-18 19:22] joenash commented on #237
Hey @pietrop,

Thanks for this, I'll check in!

[2017-10-19 09:16] jonathanKingston commented on #473
Hey @flukeout we currently have set that session at 12:15 on Sunday, as a wrangler we could also move it however we just spent a few days organising that and I'm not sure we can easily.
Let me know if that works, sorry I missed this totally.

[2017-10-19 11:28] marcwalsh commented on #740
Thanks Kirstie! Closing and deleting on Guidebook.

[2017-10-19 11:28] #740 closed, assigned to auremoser

[2017-10-19 11:30] marcwalsh commented on #464
Thanks Kirstie. Closing and Deleting on Guidebook

[2017-10-19 11:30] #464 closed, assigned to natalia44

[2017-10-19 11:33] marcwalsh commented on #75
Thanks Kirstie - Closing and Deleting

[2017-10-19 11:33] #75 closed

[2017-10-19 11:36] marcwalsh commented on #99
Thanks all - removing from guidebook and closing

[2017-10-19 11:36] #99 closed

[2017-10-19 12:11] bunnybooboo commented on #619
Additional facilitator Dan Ramsey added to ticketing

[2017-10-19 12:23] marcwalsh commented on #796
Closing

[2017-10-19 12:25] marcwalsh commented on #712
Closing

[2017-10-19 12:33] bunnybooboo commented on #554
Hey no worries @vecna I think we're all good here now. Renata supplied additional details for you and Suzie.

[2017-10-19 13:36] fcoel commented on #219
Hi  Momi Peralta twitter is @momiperalta

[2017-10-19 15:44] auremoser commented on #472
Sorry for the delay @cameralibre, glad it was sorted! Thank you @bunnybooboo

[2017-10-19 18:55] emceeaich commented on #546
We'll be using Firefox bugzilla issues as a default.

[2017-10-19 20:16] dmarti commented on #414
Mozilla is providing laptops.  I understand that the show will provide a large monitor.

There is a work in progress repository here: https://github.com/mozilla/bugmark-docs with some bugs that we can trade on. It's a Jekyll repo so all you need is Markdown (or plain text) to contribute.

@malvikarao has added some issues for suggested topics.

[2017-10-19 21:02] EPIKhub commented on #170
@tbalouet the VR Lab is being setup for SAT only, the gear mentioned wotn be available on SUN - We have schedueld you for a AM SAT slot if you plan to use our gear. Else you will have to bring your own for a SUN slot.

[2017-10-19 22:24] flukeout commented on #418
Hey @prashanthrock - I'm sorry you won't be able to make it!

Is Gowtham on Github? Could you please ask him to email me at `luke@mozillafoundation.org` - thanks very much!

[2017-10-20 01:55] elidron commented on #384
Hi David! sorry, this e-mail went to spam for no reason. The only ones
attending are Alex Fuser alexfuser3@gmail.com and me :)

2017-10-09 17:31 GMT-05:00 David Ross <notifications@github.com>:

--
*Liza Durón*
Full-stack Marketer
Chief *Empowerment* Officer Srita. Confeti <http://www.sritaconfeti.com>
*#Soyelamordemivida *[image: 🌟]
*Start making magic on: sritaconfeti.com <http://sritaconfeti.co

[2017-10-20 07:25] KirstieJane commented on #682
Hi @marcwalsh - we're going to pull this session as it overlaps thematically with another and @daviserinanderson has two other sessions to run. Please could you close this issue and remove the session from the guidebook?

[2017-10-20 08:57] mhawksey commented on #498
@flukeout happy to contribute - I'll have a think if there is a thimble example that links with Google Sheets ;)

[2017-10-20 11:16] prashanthrock commented on #418
hey @flukeout

 i am sharing his contact details. mail:gowthamrinzler@outlook.com,
                                                   Github:@gowthamrinzler
          Thank you.

On Fri, Oct 20, 2017 at 3:54 AM, Luke Pacholski <notifications@github.com>
wrote:

[2017-10-20 11:40] bunnybooboo commented on #194
DO NOT MOVE THIS SESSION. Commitments elsewhere require this to be locked to the current scheduling.
cc @mmmavis @arroway

[2017-10-20 11:43] bunnybooboo commented on #468
This session MUST remain on Saturday's schedule
cc @mmmavis @arroway

[2017-10-20 12:23] Saallen commented on #412
closing this issue as its not comiing to mozfest- thanks for submitting!

[2017-10-20 12:23] #412 closed, assigned to natalia44

[2017-10-20 13:04] ghost commented on #170
Thanks, yes if possible I'd rather do it on Sunday. Salvador de la Puente is lending us a VR kit that we can use on Sunday, plus we should have some gear VR so it should be enough for the demo, and we'll be two participators to handle the workshop, so easier.
Thank you!

[2017-10-20 13:09] katedodgson commented on #413
I'm embarrassed to admit I don't know how to use Github. That's my secret shame... So for now I'll just have to add a note here saying that my description has now changed to the following:

Can blockchain help with human rights and international development? If so, how?

This workshop will present attendees with a humanitarian issue: civil registration and vital statistics (CRVS) in developing cou

[2017-10-20 13:26] KirstieJane commented on #413
Hi @katedodgson - the sessions are now in the guidebook webapp: you should have a link in your email that allows you to log in and update your session. This is important because it allows you to connect with participants (and upload pictures and things like that). You can ask questions in the #help slack channel if you can't find the guidebook invite email or have any challenges logging in etc.

[2017-10-20 13:28] KirstieJane commented on #413
(@katedodgson - I have just uploaded your description though, but please try to access the webapp so you can upload a bio and pictures etc).

[2017-10-20 13:40] katedodgson commented on #413
I have?! I did it last week and then I made edits to it today. It has the same description as above, and I added HumanityX's logo. Don't know why it's not coming up for you as it comes up when I click the links in my email

[2017-10-20 13:42] KirstieJane commented on #413
I see a header banner for you (but no thumbnail picture) but nothing on the
session itself.

Sorry for not realising the description was already up to date. You're all
set! No need to do anything else (unless you want to add the pictures!)

On 20 October 2017 at 14:40, katedodgson <notifications@github.com> wrote:

--
Kirstie Whitaker, PhD

Research Fellow, Alan Turing Institute
Research Associate

[2017-10-20 13:53] katedodgson commented on #413
Great, thanks!

[2017-10-20 14:37] danielhjames commented on #84
Hi Sarah, is there any vehicle access for the Science Fair e.g a nearby car park, or must all equipment be brought through the front door of Ravensbourne?

[2017-10-20 15:14] Saallen commented on #473
closing session as the facilitator can no longer attend

[2017-10-20 15:14] #473 closed, assigned to nobody

[2017-10-20 19:20] bunnybooboo commented on #384
@elidron Silly emails. Hate when that kind of thing happens. Managed to find a way to add you. Looking forward to meeting you both!

[2017-10-20 19:32] bunnybooboo commented on #293
Following further discussion adding to P&S schedule. Sunday 15:15-16:15 in 601.

[2017-10-20 23:30] flukeout commented on #473
Okay @jonathanKingston - just an FYI here, unfortunately this session is no longer running.

[2017-10-21 10:08] davedarch commented on #542
@flukeout Thimble Zone sound fascinating. I won't know until quite short notice my availability over the weekend unfortunately. If I'm free I'd love to help out but can't confirm as yet. Will check the slack for updates in the meantime.

[2017-10-21 10:11] davedarch commented on #542
@flukeout re: scale and set-up - should be good. Extra hands always welcome. Will have several young people with me to assist. After lunch is ideal to allow us to unpack and set-up. Can you confirm HTML Scratch Explorer is scheduled for Sunday 12:45-13:45. I was sure we were on **Saturday** 12:45 and have organised my young people as such. May be able to reschedule them. Will check once you confir

[2017-10-21 14:07] Saallen commented on #84
Hello

There is a loading bay at the back of ravensboure but you cannot park there.

So you can drop stuff off but need to park elsewhere. I dont recommend
using o2 parking as its SUPER expensive
Thanks
Sarah

Sarah Allen

Executive Festival Director, MozFest
Mozilla Foundation

Find out more about MozFest <https://mozillafestival.org/> and follow the
conversation on twitter <https://twitter.com/m

[2017-10-21 17:43] flukeout commented on #542
Hey @davedarch - I looked over both the original draft Trello we used internally to plan and you were scheduled for Sunday then as well, which seems to be in line with what I remember.

Anyway, I'm going to reach out to the other 3 sessions running at 12:45 on Saturday and see if they can swap and let you know when I hear back!

[2017-10-21 18:04] davedarch commented on #542
Fantastic Luke!

many thanks!

On 21 October 2017 at 18:43, Luke Pacholski <notifications@github.com>
wrote:

--
*DAVID DARCH*
Creative Director
A Little Learning

t:  07990 547 946
e: davedarch@gmail.com
w: alittlelearning.org

@ALL_educators

[2017-10-21 18:08] flukeout commented on #238
@secmorris - I shot you an email about possibly switching your session to the same time on Sunday instead of Saturday at 12:45, when it's currently scheduled for. Let me know if that would work, we're trying to accommodate another session that can only get some youth helpers in on the Saturday. Cheers!

[2017-10-21 18:08] flukeout commented on #580
@WinnieMakokha - thank you for the outline! And also, I shot you an email about possibly switching your session to the same time on Sunday instead of Saturday at 12:45, when it's currently scheduled for. Let me know if that would work, we're trying to accommodate another session that can only get some youth helpers in on the Saturday. Cheers!

[2017-10-21 18:09] flukeout commented on #429
@j4mesholland @CelineBoudier - I shot you an email about possibly switching your session to the same time on Sunday instead of Saturday at 12:45, when it's currently scheduled for. Let me know if that would work, we're trying to accommodate another session that can only get some youth helpers in on the Saturday. Cheers!

[2017-10-22 10:54] daviddias commented on #131
Hi all!

We've been actively brainstorming about how to make this session more in line with Mozfest model and set a goal that would enable us to transform the session from a lecture to a participatory discussion. We believe we came up with something that will be fun and informative!

**Our goal is for everyone to leave this session with a shared understanding of the current issues presented in the

[2017-10-23 07:25] mickfuzz commented on #405
I also notice we are down for 1.30 instead of the one hour originally scheduled.
We met up to reschedule our session to bring it down to one hour!
This may not be a problem however. I'll get in touch with the team. Hope you are enjoying london.

[2017-10-23 09:33] KirstieJane commented on #421
Hi @marcwalsh - I chatted with @georgiamoon on Friday and we decided that this session is best merged with #615. Please could you therefore close this issue. I've already removed it from the guidebook.

Thank you!! ✨

[2017-10-23 10:28] KirstieJane commented on #724
Hi @seantma - no - there's no streaming unfortunately (it will be really noisy and busy!!) Check out https://github.com/WhitakerLab/BrainNetworksInPython for updates though!

[2017-10-23 10:35] danielhjames commented on #84
Thanks @Saallen !

[2017-10-23 10:37] kenyatta1 commented on #251
@Nkl96 Hello!  We've been trying to get in contact with you via email.  Can you respond to our requests?

[2017-10-23 12:43] prefontaine commented on #710
Putting final descriptions in here, as well as link to planning documents.

## Final Descriptions in Guidebook
### **Create Your Own StoryEngine**
**Learn how to set up your very own StoryEngine.io** — a simple yet rigorous way to conduct design research, evaluate the impact of projects / decisions / policies, boost organisational learning, and power feedback and engagement loops — all the while c

[2017-10-23 13:53] traceypooh commented on #661
@kaodro hi Kasia -- sure I'd be happy to participate.  I focus on TV and video -- though I've been focusing a lot on artificial intelligence and machine learning recently (especially image matching and face detection/tracking).

[2017-10-23 13:55] traceypooh commented on #661
@vigneshwerd whups, sorry I've been at many conferences and vacation so been trying to sort out loose ends...
1) Yes, confirmed will be there and can't wait.  Arriving Wed...
2) Rough outline is:

- overview/introduction in archive.org, and TV Archive
- go over of file checksums and mod times and external blockchain-based integrity proofs
- discussion on AI in use in TV Archive
    - audio fingerp

[2017-10-23 13:59] marcwalsh commented on #421
Closing as merged with #615 ...

[2017-10-23 13:59] #421 closed, assigned to auremoser

[2017-10-23 14:57] kaodro commented on #661
@traceypooh great!Just pass by our Hub (first floor, Fri-Sat) and you can sign up for a session spontaneously or shoot me an email at kasia@mozillafoundation.org if you would like to book a spot in advance. We will have tables and screens, you just need your own laptop and in case you want to present sth, be prepared for very weak Internet. In any case please come to our Research & Coffee grinder

[2017-10-23 17:17] zlechelt commented on #644
@flukeout one more question: the schedule shows our session as being only one hour, 1-2 pm. is this right? thought it would be a drop in over a few hours
thanks,
Susan

[2017-10-23 17:41] flukeout commented on #644
@zlechelt Yes, that's right—sorry! I'll find a 3 hour spot and update the schedule accordingly!

[2017-10-23 17:44] flukeout commented on #57
Closing and removing as the facilitator was unfortunately not able to obtain a Visa to attend.

[2017-10-23 17:44] #57 closed

[2017-10-23 20:59] #620 closed, assigned to nobody

[2017-10-23 20:59] #73 closed

[2017-10-23 22:05] cubicgarden commented on #749
Unfortunately @Srinivas1193 won't be able to give this session due to a late visa delivery - closing this session

[2017-10-23 22:05] #749 closed, assigned to cubicgarden, dvigneshwer

[2017-10-23 22:38] flukeout commented on #753
Hey @cs4allnyc - would it be possible to run this session on Sunday @ 12:15 (also a 90m slot) instead of the scheduled Saturday @ 11:15? We've got a Sunday person with a conflict looking to swap. Let me know, cheers!

[2017-10-23 22:39] flukeout commented on #605
Hey @tingeber - would it be possible to run this session on Sunday @ 12:15 (also a 90m slot) instead of the scheduled Saturday @ 11:15? We've got a Sunday person with a conflict looking to swap. Let me know, cheers!

[2017-10-24 03:02] cs4allnyc commented on #753
Hey @flukeout we'd asked to move to Saturday because of the same issue...

[2017-10-24 06:11] daviddias commented on #130
Hi all, sharing an update here from me and @pgte.

The outline for this session is:

- Intro and Goals
- Describe issues with Centralized Applications and present the motivations for Decentralized Apps
- Workshop/Tutorial on how to build a simple Flipchart app
- Intro to Peerpad
- QA/Buffer time

People will work in groups for the Workshop/Tutorial part and instructions will be provided. As for re

[2017-10-24 06:55] flukeout commented on #753
Oh, rats - I'm really sorry about that @cs4allnyc - please disregard. I'd forgotten about that and didn't notice the comments above when asking again.

[2017-10-24 07:59] tingeber commented on #605
hey @flukeout - sure let's move it to Sunday. and thanks for keeping it in a 90 minute slot!

[2017-10-24 11:33] SofieScholten commented on #419
For any re-scheduling purposes: We are running a session in YZ at 11:15 (90 min) and one in web lit at 3:15 (60 min).

Q- Do all facilitators need to bring their DBS certificate?

for context, our session is led by Sheryl Jenkins (animator/workshop leader), Katie Jayne Appleyard (young youth leader trainee), and myself, Sofie Scholten, Helix Arts ex-intern.

[2017-10-24 11:40] CatherineHearne commented on #419
Hi Sofie
Thanks for this.
I am completely happy you describe yourself as Helix Arts Creative
Production Assistant (freelance) if that works for you?
Or you may have a better idea? I'm just a bit concerned ex-intern sounds as
though we've "dumped" you or vice versa!
Catherine

On 24 October 2017 at 12:33, SofieScholten <notifications@github.com> wrote:

--
*Catherine Hearne*
*Helix Arts*
*Chief Exe

[2017-10-24 12:28] SofieScholten commented on #419
Catherine, happy to describe myself as Creative Production Assistant.

Above Q is more so for DBS context, than anything else.

Sofie

[2017-10-24 12:28] CatherineHearne commented on #419
lovely

On 24 October 2017 at 13:28, SofieScholten <notifications@github.com> wrote:

--
*Catherine Hearne*
*Helix Arts*
*Chief Executive*

--

------------------------------
Please note that from *4 October 2017* our address will be:  2nd Floor, 51
Bedford Street, North Shields, NE29 0AT.  All other contact information
remains the same.

Find out more about us at: http://www.helixarts.com

See us

[2017-10-24 12:37] emrysgreen commented on #419
Hi @SofieScholten - if you put in the YZ Admin form that you have a current DBS then please do bring them along.  If you don't have them & have said you're not current, then don't worry about bringing them.

[2017-10-24 12:40] SofieScholten commented on #419
Okay, thanks Emrys.

[2017-10-24 15:16] bunnybooboo commented on #405
This can absolutely be brought down to 60 mins

[2017-10-24 15:44] emrysgreen commented on #190
Hi @EPIKhub could @viswanathamsantosh have a gap between his first & second sessions programmed please?

[2017-10-24 16:15] flukeout commented on #605
Thank you @tingeber - I'll confirm with the other session and update the schedule and this issue when it's finalized.

[2017-10-24 16:23] flukeout commented on #605
OK - I've updated the schedules and you are now on Sunday @ 12:15 - thank you for your flexibility!

[2017-10-24 16:36] mickfuzz commented on #405
@bunnybooboo actually after talking to the team they are keen for it to be 1.30
I'm sorry about the wobble on that.
Also I just want to really thank you for going the extra mile with us on scheduling it's really appreciated :)

[2017-10-24 20:44] batch-works commented on #613
Hi @EPIKhub , sorry we missed the call yesterday. I hope most of it was covered during the last one! I had a few specific questions about how we'd run things on saturday. I saw we've got the openspace from 1-4pm, does that mean we should keep our printers and all equipment setup in the space for the entire day or just take everything from a safe space and set it up only for our time block? Like I

[2017-10-24 21:14] EPIKhub commented on #190
@viswanathamsantosh said he was happy with 2 sessions when I asked. @emrysgreen you know how the timing blocks are set for the scheduling purpose and so also know having a break between them is not possible. The VR lab is only running on one day, we have done the best we could with the resources we have.

[2017-10-25 00:43] flukeout commented on #644
@zlechelt Still finalizing the schedule, but I think we'll find a spot for you that will run roughly from 12:30 to 3:15 on Saturday. I'll re-jig the calendar and let you know, just about to board the plane to London. I'll assume that you are available sometime in and around that time range, let me know if you won't be.

[2017-10-25 09:19] devcer commented on #190
I'm still happy with 2 sessions but thought a gap between 2 sessions would
help me in improving my 2nd session with the feedback I receive from 1st
session. But anyways this works. I can Handle it back to back. \o/

On Wed, Oct 25, 2017 at 2:44 AM, Dorine Flies <notifications@github.com>
wrote:

[2017-10-25 10:15] bunnybooboo commented on #405
@mickfuzz That's really great actually, as those 1.30 slots on the schedule are quite precious. We'd rather see them utilised to their capacity. And thanks so much for saying that. It's my priority to fix as many issues as humanly possible through collective flexibility. Mozfest is usually pretty chaotic so our purposeful adaption to what goes down is probably a coping mechanism hahaha.

Really lo

[2017-10-25 13:19] EPIKhub commented on #734
@oceanblue222 @sedgwickkm we have had a session not being able to attend due to illness, this has released one twin room which I can offer to you if you still wanted to come?

[2017-10-25 13:21] EPIKhub commented on #190
@viswanathamsantosh Fab, Ill keep both your sessions in as they are.

[2017-10-25 14:10] pgte commented on #130
@vigneshwerd is it possible to have 2 projectors in this session?
(This way we could have me conducting and @diasdavid following along, minimising the confusion of going back and fourth between presentation, code and app.)

[2017-10-25 15:01] gbaman commented on #564
This activity is no longer able to take place due to space constraints (in my car...)

[2017-10-25 15:01] #564 closed, assigned to gbaman

[2017-10-25 15:28] EPIKhub commented on #613
@batch-works ok sorted the schedule out for you. As you wanted timed slots I created a new "space" for you. You will now show up in the shedule twice. Your 1st session starts at 14:00, 2nd at 15:15. You will be able to settup at Lunch time which starts at 12:30 - We will sort out on Friday if we have a locked room or not this year

[2017-10-25 15:56] cubicgarden commented on #130
adding @maboa, I think this might be tricky to do...  Made a note and see what we can do about this.

[2017-10-25 16:06] flukeout commented on #167
@janhohner - due to screw-up by yours truly, I've had to rearrange the Saturday schedule a little bit and your session is now an hour later, from 14:00 - 15:00 - I hope that's OK! I've updated it in Guidebook.

[2017-10-25 16:07] flukeout commented on #498
@mhawksey Due to screw-up by yours truly, I've had to rearrange the Saturday schedule a little bit and your session is now an hour later, from 15:15 - 16:15. I hope that's OK! I've updated it in Guidebook.

[2017-10-25 16:35] flukeout commented on #644
Hello @zlechelt - I've updated your session time on Saturday so that it runs from 12:45 until 3:00. Let me know if that works for you! If you'd like additional time, we could schedule some extra time on the Sunday. I've updated Guidebook to reflect this. Cheers!

[2017-10-25 16:37] zlechelt commented on #644
Hi @flukeout that's perfect -- thanks a mil, and see you this weekend.

[2017-10-25 18:06] libbyhoy commented on #814
Andrew, ill do this one. Dont ask me to work Github.

[2017-10-25 18:21] maboa commented on #130
All I can say is that we'll do our best, but please plan for a single projector as well.

[2017-10-25 19:51] hackerfemo commented on #820
Imi and Kirstin hasn't been able to collaborate due to external factors - however, South London raspberry jam . and Digital Maker Collective have continued to develop VR skills to produce experiments 360 video content for VR.  Please substitute details below.  They would very much like to keep to the Friday evening slot! UAl have allocated work hours to Friday pm.

VR 360 Video: Reconstructed Real

[2017-10-25 20:05] janhohner commented on #167
@flukeout Don't worry, 14h works for me too :)

[2017-10-25 21:45] mhawksey commented on #498
@flukeout unfortunately that directly clashes with another session I'm co-facilitating :( Any chance of another time on Saturday?

[2017-10-25 22:56] cubicgarden commented on #131
projector or screen is problem, wall might be more tricky however... Ravensbourne is mainly open plan and has few walls

[2017-10-25 23:00] cubicgarden commented on #10
i'm unsure till i get to ravensbourne sorry. maybe @marcwalsh knows?

[2017-10-25 23:02] marcwalsh commented on #10
@kademorton @cubicgarden - I’m pretty sure they all have both, and some have mini displayport also.

[2017-10-25 23:02] cubicgarden commented on #717
ok thanks for the update

[2017-10-26 00:45] EPIKhub commented on #820
@hackerfemo - Im in London tomorrow lets have coffee to sort this out, I have no idea why @emrysgreen got the tickets for you when, we needed you to fill in the forms sent to you by Andrew to include the BDS details to get tickets! Also there is no sessions scheduled on Friday so I have no idea what information you was given by whom!

[2017-10-26 01:23] EPIKhub commented on #820
@hackerfemo ive sent you an email

[2017-10-26 05:28] emrysgreen commented on #820
Could you clarify the deleted comment please @EPIKhub ? I don't see a question or anything before that...  If the additional facilitator Tomas is the same Thomas Grace Owalade-Coombes requested yesterday as an additional facilitator to Femi's Microbit Robot Challenge then that could be where a confusion on tickets has arisen? Although I've had no conversations with anyone about Friday beyond encou

[2017-10-26 07:36] flukeout commented on #498
@mhawksey Sure yeah, let me look around and I'll get back to you. Hopefully we can trade your slot with another session that day. Thanks for letting me know and apologies.

[2017-10-26 07:46] flukeout commented on #167
@janhohner - sorry for the one last change. One of the sessions I moved back an hour later had a conflict, so I've traded your session spot with it, so now your session is at 15:15. Sorry for the last minute changes as I work to finalize things. Let me know if this is OK. You can review the final schedule here:

* https://trello.com/b/MCuN0yDz/mozfest-web-lit-updated

It was the `Machina a machina

[2017-10-26 08:11] zdennignton commented on #613
Oh great, thanks!

[2017-10-26 09:24] AndreaPocketsChange commented on #733
@flukeout  Thanks! Look forward to meeting you and the rest of the web literacy team tomorrow!

[2017-10-26 10:21] EPIKhub commented on #820
private email address was in the thread of several people do had to delete - ill sort it out directly with them via email

[2017-10-26 12:07] EPIKhub commented on #190
@viswanathamsantosh Tech isuue notice: there are some technical issues with the Vive it is failing to start with error code 306

[2017-10-26 14:20] EPIKhub commented on #708
due to illness this session can no longer run

[2017-10-26 14:20] #708 closed, assigned to gbaman, EPIKhub

[2017-10-26 14:21] EPIKhub commented on #762
due to illness this session can no longer run

[2017-10-26 14:21] #762 closed, assigned to shwetal27

[2017-10-26 14:39] tingeber commented on #605
Hi @flukeout  - some people reached out to say that they still see my session on Saturday, so I checked and it's on Saturday for me as well. Can you please check whether the update went through?

[2017-10-26 15:26] devcer commented on #190
Hey dorine, I need only cardboards n simple VR devices without any
controllers. So Vive is not required. I can handle with cardboards.

On Oct 26, 2017 13:07, "Dorine Flies" <notifications@github.com> wrote:

@viswanathamsantosh <https://github.com/viswanathamsantosh> Tech isuue
notice: there are some technical issues with the Vive it is failing to
start with error code 306

—
You are receiving th

[2017-10-26 15:34] cubicgarden commented on #385
sorry @jharris1679 can't make Mozfest this year
closing now

[2017-10-26 15:34] #385 closed, assigned to jontutcher

[2017-10-26 16:42] flukeout commented on #605
Thanks for notifying me @tingeber - I've just updated it, I'm sorry about that! The final schedule is here https://trello.com/b/MCuN0yDz/mozfest-web-lit-updated and I'll make sure tonight that everything is updated correctly in Guidebook - I thought it was.

[2017-10-27 07:25] #712 closed, assigned to phillipadsmith

[2017-10-27 08:01] KirstieJane commented on #796
HA! This was closed by mistake - I don't know how I screwed that up. Re-opening and adding to the guidebook! 😬

[2017-10-27 08:31] rwb27 commented on #305
Hello - to anyone helping out with my session, I will be around on Friday afternoon, from about 2pm - drop me a message here :)

R

[2017-10-27 11:35] cubicgarden commented on #561
Unfortunately no one can give this talk on the mozfest weekend, closing this session now

[2017-10-27 11:35] #561 closed, assigned to cubicgarden, dvigneshwer

[2017-10-27 15:12] EPIKhub commented on #124
@plaperdr please note for operational issues we have had to change your session timing, this will now be the 11am to 12 lunch time block. Please check Guidebook for the update

[2017-10-28 12:23] jonathanprozzi commented on #498
Hello @mhawksey, we've scheduled your session for the 2 oclock block. Are you around? Apologies for the last minute communication.

[2017-10-28 22:04] daviddias commented on #131
![image](https://user-images.githubusercontent.com/1211152/32138923-2879846e-bc34-11e7-9725-90ebe4c43f7e.png)

### Looking forward to meet and chat with everyone tomorrow at 12:15h 🌟

[2017-10-29 08:02] daviddias commented on #131
### We've updated the contents of this session. Now it is 343% more participatory and 268% more fun!

The session will be hosted by me (@diasdavid) and @arcalinea with the help of @pgte, @whyrusleeping and @nicola \o/

[2017-10-29 12:23] arcalinea commented on #131
The agenda and brainstorm doc for the Distributed Web session: https://docs.google.com/document/d/1fAf_bghe0EMk8Cre892v22hc0MNCHAp3K697hUIdaL4/edit?ts=59f58f6e

[2017-10-29 15:09] jontutcher commented on #541
Tagging @winterismute as we put this down wrong in Guidebook and he turned up on Sunday! :(

[2017-10-30 12:13] nkhine commented on #130
@diasdavid do you have links to the presentation and code as this was a session i missed. thanks

[2017-10-30 12:17] pgte commented on #130
Slides:

https://www.slideshare.net/pgte/building-decentralised-realtime-collaborative-applications-building-google-docs-without-google

code:

https://github.com/ipfs-shipyard/p2p-flipchart

[2017-10-30 12:58] traceypooh commented on #661
SLIDES AT:
[https://traceypooh.github.io/mozfest17](https://traceypooh.github.io/mozfest17)

[2018-07-06 08:26] #859 closed, assigned to msaunby

[2018-07-06 08:27] #832 closed, assigned to msaunby, sedgwickkm

[2018-07-06 08:27] #828 closed, assigned to msaunby

[2018-07-06 08:28] #726 closed, assigned to msaunby, kenyatta1

[2018-07-06 08:28] #531 closed, assigned to msaunby

[2018-07-06 20:04] #469 closed, assigned to msaunby

[2018-07-06 20:05] #466 closed, assigned to msaunby, sedgwickkm

[2018-07-06 20:06] #192 closed

[2018-07-06 20:06] #185 closed

[2018-09-24 16:37] #190 closed

[2018-09-24 16:37] #354 closed, assigned to emrysgreen, gbaman

[2018-09-24 16:37] #419 closed, assigned to emrysgreen, shwetal27, EPIKhub

[2018-09-24 16:37] #542 closed, assigned to emrysgreen

[2020-04-25 08:36] Zaynex commented on #130
@pgte  hi, slides failed. Can you provide valid slides source ?

[2020-04-25 08:55] pgte commented on #130
@Zaynex Here it is: [p2p-flipchart-171028110010.pdf](https://github.com/MozillaFoundation/mozfest-program-2017/files/4532658/p2p-flipchart-171028110010.pdf)

[2020-04-25 13:20] Zaynex commented on #130
Thanks