[2017-08-31 23:40] flukeout commented on #374
Hi @karanganesan unfortunately we will not be able to accept your session at this year's festival. We had many excellent submissions and simply do not have enough travel stipends available to accommodate everyone. Thanks for your understanding and for submitting your proposal.

[2017-08-31 23:44] flukeout commented on #771
Hi @noneck - unfortunately we will not be able to accept your session at this year's festival. We had many excellent submissions and simply do not have enough travel stipends available to accommodate everyone. Thanks for your understanding and for submitting.

cc @kenyatta1 from your secondary space choice

[2017-08-31 23:45] kenyatta1 commented on #602
@flukeout thanks for the toss!  Unfortunately we do not have anymore stipends.

[2017-08-31 23:46] kenyatta1 commented on #771
Hey @flukeout !  Thanks!  Unfortunately we do not have any more stipends.

[2017-08-31 23:52] flukeout commented on #751
Hi @dchassaing - unfortunately we will not be able to accept your session at this year's festival. We had many excellent submissions and simply do not have enough travel stipends available to accommodate everyone. Thanks for your understanding and for submitting your proposal.

[2017-08-31 23:56] kenyatta1 commented on #442
@flukeout unfortunately we are all out of Stipends!

[2017-08-31 23:57] flukeout commented on #657
Hi @AngelJum - unfortunately we will not be able to accept your session at this year's festival. We had many excellent submissions and simply do not have enough travel stipends available to accommodate everyone. Thanks for your understanding and for submitting your proposal.

[2017-09-01 00:03] flukeout commented on #687
Hi @chirag08 - unfortunately we will not be able to accept your session at this year's festival. We had many excellent submissions and simply do not have enough travel stipends available to accommodate everyone. Thanks for your understanding and for submitting your proposal.

[2017-09-01 00:09] flukeout commented on #409
@satwikkansal - unfortunately we will not be able to accept your session at this year's festival. We had many excellent submissions and simply do not have enough travel stipends available to accommodate everyone. Thanks for your understanding and for submitting your proposal.

[2017-09-01 00:20] flukeout commented on #213
Hello @aboodmanna - unfortunately we will not be able to accept your session at this year's festival. We had many excellent submissions and simply do not have enough travel stipends available to accommodate everyone. Thanks for your understanding and for submitting your proposal.

[2017-09-01 00:21] noneck commented on #771
@kenyatta1 @flukeout that's a real shame. As i pointed out, some of us could travel without a stipend. Second, it is a shame that y'all don't think there is _any_ space for this type of session.

As someone who has attended MozFest for the past two years, no one is working near the work we are doing in NYC. We would love to share our learnings with "the MozFest," and know that we have something th

[2017-09-01 00:35] flukeout commented on #771
Hey @noneck - we unfortunately are out of stipends. When assigning those we wanted to strike a balance between with respect to geographical diversity and also ability for the presenters to otherwise have similar opportunities. We definitely recognize the quality of the proposal though.

Also, my bad for misreading / missing the point about being able to sponsor a person on you own. We DO have a co

[2017-09-01 00:36] flukeout commented on #771
I'll add the Web Literacy back milestone for now.

[2017-09-01 01:15] noneck commented on #771
@flukeout thanks for the update. Lauren and I would love to participate. While we were interested in a 90 min session, we are flexible and can shorten this engagement down to 60 mins. Lets us know what works for your schedule.

[2017-09-01 01:38] vongomben commented on #215
Thanks for your replies @bunnybooboo. Sorry for my silence - I tried to come back to bret via mail because I'm a little bit old fashioned.

Apparently this took too long though.

Is _rustling for plan B_ still an option?

[2017-09-01 03:26] flukeout commented on #361
Hi @yamamashakaa - unfortunately we will not be able to accept your session at this year's festival. We had many excellent submissions and simply do not have enough travel stipends available to accommodate everyone. Thanks for your understanding and for submitting your proposal.

[2017-09-01 03:32] flukeout commented on #269
Hi @arkodyuti - unfortunately we will not be able to accept your session at this year's festival. We had many excellent submissions and simply do not have enough travel stipends available to accommodate everyone. Thanks for your understanding and for submitting your proposal.

[2017-09-01 03:36] flukeout commented on #382
Hello @elidron - unfortunately we will not be able to accept your session at this year's festival. We had many excellent submissions and simply do not have enough travel stipends available to accommodate everyone. Thanks for your understanding and for submitting your proposal.

[2017-09-01 03:40] flukeout commented on #164
Hello @vipinkhushu - unfortunately we will not be able to accept your session at this year's festival. We had many excellent submissions and simply do not have enough travel stipends available to accommodate everyone. Thanks for your understanding and for submitting your proposal.

[2017-09-01 03:50] flukeout commented on #49
Hello @SpEcHiDe - unfortunately, due to the space limitations at the festival this year, we were unable to accept your session. Thank you very much for submitting.

[2017-09-01 03:50] flukeout commented on #642
Unfortunately, we have decided not to accept this session at the festival this year, but we thank you for your time in submitting.

@bunnybooboo  since this one doesn't need a travel stipend, maybe you'll consider it as a last minute addition?

[2017-09-01 03:53] flukeout commented on #781
Hello @pagepiccinini - while a very interesting session, we will unfortunately not be able to accept it at this year's festival. We felt that the contents were quite advanced and we gearing the space up for a more beginner friendly feel. Thank you for your understanding and the time you took to submit.

[2017-09-01 03:56] flukeout commented on #712
@mjhannan Unfortunately we will be unable to accept this session. While it sounds very interesting and well-researched, we had a few other sessions along this theme that had a more practical, hands-on aspect that we feel our audience will benefit from. Thank you for your understanding.

cc @phillipadsmith - not sure if you are able to find another home or forum for this great looing session.

[2017-09-01 04:00] flukeout commented on #247
@Audesome Unfortunately, since we received quite a few submissions related to this topic, we will be unable to accept yours as we felt the others offered some more concrete take-aways for educators to use their classrooms. Thank you very much for your understanding and the time you took to submit, we can only accommodate so many sessions. Cheers.

@phillipadsmith - not sure if you have the capacit

[2017-09-01 04:06] flukeout commented on #378
Unfortunately we will not be able to extend a stipend for this session, though we appreciate the time and effort to submit. Cheers.

[2017-09-01 04:25] flukeout commented on #737
@TessaSproule - thank you for submitting. Unfortunately we will not be able to accept your session in our space. We received quite a few submissions related to this theme and as such, were not able to accept them all. Thank you for your understanding.

@phillipadsmith - since a stipend is not required, would you consider it for Open Innovation? I feel like it could be adjusted a little bit to focu

[2017-09-01 04:29] flukeout commented on #66
Hey @toh82 - unfortunately we will not be able to accept your session in our space this year. However, if you are already attending because of your participation in the Youth Zone, we would be interested to see if you could maybe help us with a kind of coding demo area we are thinking of setting up that uses Mozilla's Thimble. Thanks for your understanding about the session, we just had so many to

[2017-09-01 04:47] flukeout commented on #170
Hey @Utopiah - unfortunately we will not be able to accept your session proposal at this year's festival in our space. We had so many submissions and were just unable to schedule in everything that we wanted. I ran a session last year related to game I made, and I also found it very hard to really dive into creating anything useful or meaningful with the participants within the span of a session.

[2017-09-01 05:16] yamamashakaa commented on #361
Hi @flukeout, no worries. Will try in next years festival with stronger submissions :)

[2017-09-01 05:29] flukeout commented on #429
Adding the to Web Literacy space as we finalize our selections.

[2017-09-01 05:30] flukeout commented on #283
Adding the Web Lit space for now to put a hold on it as we make our last deliberations.

[2017-09-01 05:31] flukeout commented on #769
Unfortunately we are unable to accept this session this year, thanks for the heads up however.

[2017-09-01 05:34] flukeout commented on #620
@tinchoforever OK - I've removed the stipend requested label. We've held a place for you in the Web Literacy space, pending your ability to secure travel funding.

@Saallen or @edrushka - are you able to provide something like a letter of recommendation to aid the submitter in seeking funding?

[2017-09-01 06:03] Audesome commented on #247
@flukeout No worries; looking forward to attending the other sessions!

[2017-09-01 08:38] EPIKhub commented on #170
I'll add our label to put a hold on this for our final deliberation

[2017-09-01 09:05] EPIKhub commented on #394
Removing our milestone from this submission

[2017-09-01 09:08] ghost commented on #170
Thanks @EPIKhub! We're really willing to be part of the MozFest! Please let us know if there's any further information we could give to help you make your decision!

[2017-09-01 09:11] EPIKhub commented on #356
@ashwin-phadke I'll add our youth zone milestone to put a hold on this session - the stipend issue is still a problem but I would like to explore all options, let's do a Skype call?

[2017-09-01 09:19] EPIKhub commented on #777
@seanjustice - if we was not able to offer a travel and accomodation stipend would you still be  able to attend?

[2017-09-01 09:24] EPIKhub commented on #543
@wadeatshedd - If we was no able to offer you a travel and accomodation stipend would you still be able to attend?

[2017-09-01 09:43] Saallen commented on #620
@tinchoforever @flukeout
Yes, we can assist here. Send us an email with further details to festival@mozilla.org

[2017-09-01 10:01] edovio commented on #462
Hello Thokozile Ndlebe, Unfortunately we will not be able to extend a stipend for this session, though we appreciate the time and effort to submit. Cheers.

[2017-09-01 10:12] edovio commented on #430
Hello Candy Tricia Khohliwe  unfortunately we will not be able to accept your session at this year's festival. We had many excellent submissions and simply do not have enough travel stipends available to accommodate everyone. Thanks for your understanding and for submitting your proposal.

[2017-09-01 10:13] edovio commented on #139
Hello Aleksandr Krasnov - unfortunately we will not be able to accept your session at this year's festival. We had many excellent submissions and simply do not have enough travel stipends available to accommodate everyone. Thanks for your understanding and for submitting your proposal.

[2017-09-01 10:43] bunnybooboo commented on #215
@vongomben The speed in responses had no bearing on your application decision. 2 weeks ago I was simply seeking as much information as I could obtain to assist our deliberation process. This proposal was part of our final shortlist, which means it was considered to be great quality. Unfortunately, due to the volume of great sessions, our space has had to say no to a considerable number of really g

[2017-09-01 11:10] bunnybooboo commented on #642
flagged for consideration

[2017-09-01 13:17] cubicgarden commented on #850
Great I'd like to introduce #565 together

[2017-09-01 13:23] ashwin-phadke commented on #356
@EPIKhub Yes we can do a skype call! Just let me know the time for it and I will be there.

[2017-09-01 13:48] cubicgarden commented on #114
Love to put this alongside or next to #561 think theres plenty of cross over

[2017-09-01 13:52] cubicgarden commented on #667
I'm going to add @marcwalsh as this is a technical nightmare :) But accepted

[2017-09-01 13:57] cubicgarden commented on #487
Another one for @marcwalsh

[2017-09-01 14:11] marcwalsh commented on #667
Hi @cubicgarden

I'm afraid to say that using a wifi jammer is illegal under the [Wireless Telegraphy Act 2006](https://www.ofcom.org.uk/spectrum/radio-spectrum-and-the-law/jammers). There are licences available for them, however, I suspect that they are very hard to obtain.

I would also be wary, of bringing this sort of equipment through customs as whilst they are legal to own, they are banned f

[2017-09-01 14:20] Saallen commented on #293
Want to give ppl something that they can walk away with
this becomes a resource of other sessions/talks about conceptual technology
helps frame the questions so ppl can start responding to bigger questions, and make connections with other movements-
Easily accessible way to get introduced to a complicated topic

Table of contents - I <3 FRIES - nod to Planned parenthood
Ripple map with arrive with

[2017-09-01 14:25] Saallen commented on #259
Want to give ppl something that they can walk away with
this becomes a resource of other sessions/talks about conceptual technology
helps frame the questions so ppl can start responding to bigger questions, and make connections with other movements-
Easily accessible way to get introduced to a complicated topic

Table of contents - I <3 FRIES - nod to Planned parenthood
Ripple map with arrive with

[2017-09-01 14:25] Saallen commented on #259
Referencing issue #293

[2017-09-01 14:26] Saallen commented on #293
#259

[2017-09-01 14:29] cubicgarden commented on #188
Thanks but we wont be able to take this session this time around sorry... do apply next year! Thanks

[2017-09-01 14:33] Saallen commented on #293
What we capture in this session will be used as further content in #259

Request here for smaller, tucked away area-
Additional support with facilitation pre during and post-

[2017-09-01 14:35] marcwalsh commented on #487
❤️ this - I'll be attending!

Can't see an issue for goTenna as long as it doesn't require licences for whatever frequencies it uses. It would be good to know the other RF equipment they are planning on bringing and I'll run it past Ravensbourne.

Cheers @cubicgarden

[2017-09-01 14:43] wadeatshedd commented on #543
@EPIKhub I've applied for funding from Hive Chicago to attend and I think there is a very good chance I could receive that funding, especially if our session was accepted. Nathalie Rayter, my co-presenter, also has funding available from her organization to cover her attendance. Thanks!

[2017-09-01 14:50] karanganesan commented on #374
Okkk @flukeout

[2017-09-01 14:53] EPIKhub commented on #543
@wadeatshedd thank you for the update

[2017-09-01 14:58] EPIKhub commented on #428
I'll add our youth zone milestone as our finally curation process and to hold the session

[2017-09-01 15:04] racheltoogood commented on #637
Hi Shwetal,

Yes we can make this more focused. We can discuss with Generation Code participants which coding activities to run, and we then facilitate others taking part in these activities to create across the weekend. This will also include an introduction to the BBC Micro:bit.

[2017-09-01 15:04] khoslamegha commented on #566
Yes, What we are planning to do in a session is to work on this software & find the ways to make it more efficient & accurate. Apart from this we need people from technical & localization background. So anybody can join us in this session. It's open for all. There will be many take away for the participants who will join us in this session like how to build this kind of platform, technologies we w

[2017-09-01 15:05] Saallen commented on #260
Installation - all weekend? We are mapping impact
Facilitated walk through
First seeds are the wranglers examples pre festival
What brought you to MozFest? Often we work backwards- it is better to talk about impacts rather than causes. This should be first steps. Talking about 2017- chart the experiences of the festival.
Ask ppl how they got to MozFest, what brought them there?
What was their expe

[2017-09-01 15:10] maboa commented on #323
@thomaswillz unfortunately we've allocated our limited number of stipends. Thanks very much for submitting the proposal though - it's certainly an interesting topic - we really appreciate it! :)

[2017-09-01 15:12] cubicgarden commented on #561
Like to pair this one up with #114 or put them one after another

[2017-09-01 15:15] Melechuga commented on #667
Hey @marcwalsh and @cubicgarden,
No worries about the wifi jammer; it sounds like it was just a "nice to have." Deji isn't tagged in this issue, but I know he's done this workshop in the UK before without a jammer. I'm happy to work with him on shaping this session -- I'm not so sure simulating an internet shutdown needs to be that complicated!

[2017-09-01 15:16] shwetal27 commented on #637
@racheltoogood amazing, that sounds great!

[2017-09-01 15:17] syswsi commented on #188
Hi Ian,

That's unfortunate. Can I have an explanation as to why it wasn't accepted?

Cheers

On Sep 1, 2017 10:29 AM, "Ian Forrester" <notifications@github.com> wrote:

[2017-09-01 15:23] kenyatta1 commented on #260
@Saallen thanks for tossing this our way!  The DI team meets today.  I've added to our agenda.  Will report back shortly!

[2017-09-01 15:30] cubicgarden commented on #188
There has been so many great sessions and the quality has been so high. The whole team looked at it and discussed saying Its a good session but unfortunately there had to be a lot we couldn't take into the festival.

[2017-09-01 15:32] cubicgarden commented on #493
Sorry its not quite right for Decentralization. thanks

[2017-09-01 15:38] syswsi commented on #188
Ok Understandable. What would increase my chances of getting accepted next
year? Was the subject not well enough aligned with the conference?

On Fri, Sep 1, 2017 at 11:30 AM, Ian Forrester <notifications@github.com>
wrote:

[2017-09-01 15:45] little-wow commented on #179
Hi @Saallen et al. confirmed speakers: Kevin Zawacki (Mozilla,) @AubrieJohnson (Wikimedia), Jennie Rose Halperin (Creative Commons). I've reached out to folks at EFF, FTFF, Internet Freedom Fest, and Open Media but haven't heard back yet! Anyone else I should reach out to?

[2017-09-01 15:54] edovio commented on #353
Hello @Carotejada  - We are very happy to announce you that we have decided to accept your session at the festival this year!  Congratulations!  🎉

[2017-09-01 15:58] edovio commented on #254
Hello Sarah  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:03] edovio commented on #38
Hello @AyahSoufan  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:06] edovio commented on #753
Hello @cs4allnyc  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:07] edovio commented on #473
Hello @atiqueahmedziad  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:08] edovio commented on #109
Hello @vi5halc - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:18] edovio commented on #308
Hello @gautha91  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:19] edovio commented on #763
Hello @Btayeg  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:20] edovio commented on #580
Hello @WinnieMakokha  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:21] edovio commented on #252
Hello @meggieann  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:22] edovio commented on #709
Hello Kelly Hudson - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:23] edovio commented on #57
Hello @ottagit  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:29] kenyatta1 commented on #626
@laurylzenobi Congratulations!  We are very happy to announce that we have accepted your session at the festival this year!  We will be in touch with additional information in the coming weeks.

[2017-09-01 16:33] edovio commented on #446
Hello @amyhearn - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:34] kenyatta1 commented on #348
@aromartins we would like to offer a travel stipend however we only have one available.  Would you be able to facilitate this session with one presenter and perhaps the other two remotely?  Or could you secure alternative funding for the other two facilitators?

[2017-09-01 16:35] kenyatta1 commented on #621
@nickpdawson Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 16:35] edovio commented on #167
Hello @janhohner  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:36] edovio commented on #312
Hello Maya Alvarado - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:36] theshahulhameed commented on #369
Thanks for your consideration.

[2017-09-01 16:37] edovio commented on #605
Hello @tingeber  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:37] kenyatta1 commented on #466
@joannaskao Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 16:37] phillipadsmith commented on #238
@EPIKhub Thank you for the update. Just to confirm: You've accepted the other session?

[2017-09-01 16:38] edovio commented on #281
Hello @samouna  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:39] edovio commented on #12
Hello @shillontheroad  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:40] phillipadsmith commented on #247
@Audesome Leave this with me for a few days. As you probably know, I'm in touch with your colleague Luke Burton about a related event on October 25.

[2017-09-01 16:41] janhohner commented on #167
Woohoo! 🎉

[2017-09-01 16:42] edovio commented on #644
Hello Susan Lechelt - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-01 16:44] kenyatta1 commented on #277
Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 16:47] kenyatta1 commented on #229
@AcuityDesign Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 16:48] phillipadsmith commented on #570
Subscribing

[2017-09-01 16:49] kenyatta1 commented on #210
@poshaughnessy Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 16:50] phillipadsmith commented on #82
@auremoser This one slipped through the cracks of the spreadsheet exercise. Thoughts?

[2017-09-01 16:51] kenyatta1 commented on #770
@kmahar . Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 16:52] phillipadsmith commented on #570
@auremoser This one also seems like a fit, but didn't make it through to the list yesterday.

[2017-09-01 16:52] Saallen commented on #179
looping in @phillipadsmith @KirstieJane @auremoser in case they have some ideas

[2017-09-01 16:52] kenyatta1 commented on #693
Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 16:59] kenyatta1 commented on #768
Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 17:00] kenyatta1 commented on #768
Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 17:03] kenyatta1 commented on #246
@RDBinns Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 17:06] kenyatta1 commented on #240
@meghanlazier Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 17:06] kenyatta1 commented on #185
@martina-p Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 17:08] Jayapreethi commented on #274
thanks for your response @flukeout
will you be accepting our proposal if we wont request for stipend ?

[2017-09-01 17:14] sedgwickkm commented on #845
@msaunby Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 17:23] kenyatta1 commented on #780
@flukeout Just wanted to note that Hive Chicago may be able to provide a travel stipend.

[2017-09-01 17:33] hannahkane commented on #610
@daarseraj - the final Mozfest programme will be decided upon shortly; and you'll hear from us soon.

[2017-09-01 17:35] jvallera commented on #12
I am so excited to see this!

[2017-09-01 17:39] RDBinns commented on #246
Great! Looking forward to it :)

On Fri, Sep 1, 2017 at 6:03 PM, Kenyatta <notifications@github.com> wrote:

[2017-09-01 17:47] Saallen commented on #828
Hello @konichiwakitty lets say yes to exhibiting at the science fair. So you will just be showcasing your wears on the Friday night from 6pm-9pm. We will be in touch in 2 weeks with further updates
Looking forward to collaborating together

[2017-09-01 17:50] martina-p commented on #185
Thank you so much @kenyatta1! This is awesome news!

[2017-09-01 17:50] kenyatta1 commented on #89
@mikehenrty Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 17:51] kenyatta1 commented on #288
@sedgwickkm Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 17:52] kenyatta1 commented on #222
@annmarie123 Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 17:53] kenyatta1 commented on #513
@ltagliaferri Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 17:54] kenyatta1 commented on #726
@chaynHQ Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 17:54] kenyatta1 commented on #652
@daniellecrobinson Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 17:55] kenyatta1 commented on #846
@jenny8lee Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 17:55] kenyatta1 commented on #813
@jessicarose Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 17:56] makewayforsai commented on #360
I am no more interested in contributing to Mozilla. You can just please ignore this proposal.

[2017-09-01 17:56] kenyatta1 commented on #684
@seplute Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 18:00] kenyatta1 commented on #586
@socialhack Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 18:02] hannahkane commented on #449
Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 18:04] cs4allnyc commented on #753
Wohoo!!! Thanks for the opportunity to share and learn from the mozfest community!
![giphy](https://user-images.githubusercontent.com/17147758/29982105-6b1110a0-8f1e-11e7-88e5-0514ea7ca485.gif)

[2017-09-01 18:07] kenyatta1 commented on #251
@Nkl96 Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

@emrysgreen @EPIKhub will be in touch with additional information on your travel stipend.

[2017-09-01 18:09] Nkl96 commented on #251
Thanks so much!

On 1 Sep 2017 20:07, "Kenyatta" <notifications@github.com> wrote:

[2017-09-01 18:12] sedgwickkm commented on #847
Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 18:13] kenyatta1 commented on #783
@lequanne Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 18:15] kenyatta1 commented on #149
@Sylvia-Kanari Thank you for your patience as we finish our curation process.  We are excited to announce that your session has been accepted into this year's programme. However, we cannot provide a travel stipend.  We would love to have you join us at MozFest.  Please let us know if you are able to secure alternative travel funding before the end of September.

[2017-09-01 18:16] kenyatta1 commented on #330
Thank you for your patience as we finish our curation process. We are excited to announce that your session has been accepted into this year's programme. However, we cannot provide a travel stipend. We would love to have you join us at MozFest. Please let us know if you are able to secure alternative travel funding before the end of September.

[2017-09-01 18:16] hannahkane commented on #358
Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 18:16] kenyatta1 commented on #406
@danaevalentina   Thank you for your patience as we finish our curation process. We are excited to announce that your session has been accepted into this year's programme. However, we cannot provide a travel stipend. We would love to have you join us at MozFest. Please let us know if you are able to secure alternative travel funding before the end of September.

[2017-09-01 18:20] kenyatta1 commented on #260
@Saallen We can accommodate in our Gallery Space!

[2017-09-01 18:22] kenyatta1 commented on #260
@unalee Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 18:36] konichiwakitty commented on #828
@saallen perfect!! Thank you for the opportunity!! Looking forward!

[2017-09-01 18:41] cubicgarden commented on #667
I did see this btw

WiFi Jammers vs Deauthers - What's The Difference?
https://www.youtube.com/watch?v=6m2vY2HXU60

[2017-09-01 18:42] cubicgarden commented on #487
Thanks @marcwalsh

[2017-09-01 18:43] cubicgarden commented on #675
Ok thanks @Melechuga will make a note in our sheets

[2017-09-01 18:47] hannahkane commented on #723
Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-01 18:48] seanjustice commented on #777
@EPIKhub -- unfortunately my university travel budget has been cut so I would not be able to attend without the assistance. I'm sorry about that.

[2017-09-01 19:33] cubicgarden commented on #818
Thanks, sorry we won't be able to take this one either due to the incredible number of proposals we've had in the decentralise space. Thanks for submitting!

[2017-09-01 19:41] EPIKhub commented on #777
@seanjustice thank you for the update

[2017-09-01 19:45] EPIKhub commented on #238
@phillipadsmith no, I said I would look at the schedule first.

[2017-09-01 19:56] socialhack commented on #586
Great, thanks a lot!! :)

[2017-09-01 19:57] eskimjp commented on #507
@EPIKhub No worries! Thanks for considering us!

[2017-09-01 19:57] tingeber commented on #605
🎉🎉🎉
Grazie @edovio e forza Cagliari!!

I'm looking forward to more info about logistics etc.

[2017-09-01 21:06] poshaughnessy commented on #210
Thanks @kenyatta1! Look forward to discussing it further.

[2017-09-01 22:37] flukeout commented on #771
Sounds good @noneck - we'll consider you a part of the space now, welcome! We'll reach out over the next little while as we figure out the space & schedules. Cheers.

[2017-09-01 22:40] flukeout commented on #429
Hello @CelineBoudier - we've accepted your session and would like to officially welcome you to Mozfest! We'll be in touch! Let us know if you have any questions for now.

[2017-09-01 23:38] amyhearn commented on #446
Wooooo thanks! Super exciting!

[2017-09-02 01:20] zlechelt commented on #644
amazing, thanks for the news! looking forward to it :D

[2017-09-02 08:10] edovio commented on #840
Hello Rebecca - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-02 08:11] edovio commented on #676
Hello Alan - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-02 08:13] edovio commented on #539
Hello @georgiamoon  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-02 08:16] edovio commented on #327
Hello @anouchk  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-02 08:18] edovio commented on #350
Hello Steve - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉

[2017-09-02 08:21] edovio commented on #498
Hello @mhawksey - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉 You'll receive soon news about how move forward with your proposal

[2017-09-02 08:22] edovio commented on #594
Hello @poshaughnessy - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉 You'll receive soon news about how move forward with your proposal

[2017-09-02 08:24] edovio commented on #522
Hello @gideonthomas  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉 You'll receive soon news about how move forward with your proposal

[2017-09-02 08:25] edovio commented on #631
Hello Kobir - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉 You'll receive soon news about how move forward with your proposal

[2017-09-02 08:26] edovio commented on #725
Hello @joannalibrary - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉 You'll receive soon news about how move forward with your proposal

[2017-09-02 08:27] edovio commented on #733
Hello Andrea - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉 You'll receive soon news about how move forward with your proposal

[2017-09-02 08:28] edovio commented on #73
Hello Drew - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉 You'll receive soon news about how move forward with your proposal

[2017-09-02 08:29] edovio commented on #515
Hello @ammienoot - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉 You'll receive soon news about how move forward with your proposal

[2017-09-02 08:30] edovio commented on #766
Hello @secmorris - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉 You'll receive soon news about how move forward with your proposal

[2017-09-02 08:31] edovio commented on #373
Hello Sarah - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉 You'll receive soon news about how move forward with your proposal

[2017-09-02 08:32] edovio commented on #238
Hello @secmorris  - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉 You'll receive soon news about how move forward with your proposal

[2017-09-02 08:33] edovio commented on #636
Hello An-Me Chung - We are very happy to announce you that we have decided to accept your session at the festival this year! Congratulations! 🎉 You'll receive soon news about how move forward with your proposal

[2017-09-02 08:36] poshaughnessy commented on #594
Thanks @edovio!

[2017-09-02 09:14] EPIKhub commented on #843
@emrysgreen unfortunately we don't have the funds to cover their costs either so will remove our milestone

[2017-09-02 10:46] bunnybooboo commented on #510
CONGRATULATIONS! Your session proposal has been accepted.

@idigitalized please look out for the email I just sent which contains a request for further information from you. I need this information by September 6.

[2017-09-02 11:42] bunnybooboo commented on #778
CONGRATULATIONS! Your session proposal has been accepted, and we've decided to invite you to come in person.

@antiboredom please look out for the email I just sent which contains a request for further information from you. I need this information by September 6.

[2017-09-02 11:51] bunnybooboo commented on #815
CONGRATULATIONS! Your session proposal has been accepted.

@s-rah please look out for the email I just sent which contains a request for further information from you. I need this information by September 6.

[2017-09-02 11:56] bunnybooboo commented on #475
@tiagofassoni on Friday I sent an email requesting further information from you regarding stipends. Please treat this with a matter of urgency.

[2017-09-02 12:26] bunnybooboo commented on #384
CONGRATULATIONS! Your session proposal has been accepted.

@elidron please look out for the email I just sent which contains a request for further information from you. I need this information by September 6.

[2017-09-02 12:30] bunnybooboo commented on #262
CONGRATULATIONS! Your session proposal has been accepted.

@ethantseng our team will be in further contact with you via email in the coming days.

[2017-09-02 12:32] bunnybooboo commented on #525
CONGRATULATIONS! Your session proposal has been accepted.

@redshiftzero our team will be in further contact with you via email in the coming days.

cc/ @erikao

[2017-09-02 12:34] bunnybooboo commented on #592
CONGRATULATIONS! Your session proposal has been accepted.

@tromand our team will be in further contact with you via email in the coming days.

cc/ @chadsansing

[2017-09-02 12:37] bunnybooboo commented on #433
CONGRATULATIONS! Your session proposal has been accepted.

@jonathanKingston the team will be in further contact with you in the coming days.

[2017-09-02 12:38] bunnybooboo commented on #526
CONGRATULATIONS! Your session proposal has been accepted.

@anterobot our team will be in further contact with you via email in the coming days.

cc/ @chadsansing

[2017-09-02 12:39] bunnybooboo commented on #193
CONGRATULATIONS! Your session proposal has been accepted.

@chadsansing our team will be in further contact with you in the coming days.

[2017-09-02 12:47] bunnybooboo commented on #194
CONGRATULATIONS! Your session proposal has been accepted.

@chadsansing our team will be in further contact with you in the coming days.

[2017-09-02 12:52] bunnybooboo commented on #713
CONGRATULATIONS! Your session proposal has been accepted.

@herahussain our team will be in further contact with you via email in the coming days.

[2017-09-02 12:54] bunnybooboo commented on #530
CONGRATULATIONS! Your session proposal has been accepted.

@billfitzgerald our team will be in further contact with you via email in the coming days.

[2017-09-02 12:55] bunnybooboo commented on #838
CONGRATULATIONS! Your session proposal has been accepted.

Callum our team will be in further contact with you via email in the coming days.

[2017-09-02 12:58] bunnybooboo commented on #195
CONGRATULATIONS! Your session proposal has been accepted.

@barrosgeraldo our team will be in further contact with you via email in the coming days.

cc/ @acabunoc @brettgaylor

[2017-09-02 13:03] bunnybooboo commented on #259
CONGRATULATIONS! Your session proposal has been accepted.

@unalee our team will be in further contact with you via email in the coming days.

cc/ @Saallen we need to discuss

[2017-09-02 13:05] bunnybooboo commented on #453
CONGRATULATIONS! Your session proposal has been accepted.

@joana-varon our team will be in further contact with you via email in the coming days.

[2017-09-02 13:06] bunnybooboo commented on #205
CONGRATULATIONS! Your session proposal has been accepted.

@cryptomancer-actual our team will be in further contact with you via email in the coming days.

cc/ @chadsansing

[2017-09-02 13:08] bunnybooboo commented on #301
CONGRATULATIONS! Your session proposal has been accepted.

Seeta our team will be in further contact with you via email in the coming days.

[2017-09-02 13:09] bunnybooboo commented on #405
CONGRATULATIONS! Your session proposal has been accepted.

@mickfuzz our team will be in further contact with you via email in the coming days.

[2017-09-02 13:10] bunnybooboo commented on #432
CONGRATULATIONS! Your session proposal has been accepted.

@C-Air-Uh our team will be in further contact with you via email in the coming days.

[2017-09-02 13:12] bunnybooboo commented on #578
CONGRATULATIONS! Your session proposal has been accepted.

Helena our team will be in further contact with you via email in the coming days.

[2017-09-02 13:30] rschulman commented on #234
Just checking in on this. Now that we're back from August vacation, I'd love to get a thumbs up or down on this if we can so I can start thinking about the engineering work that needs doing.Thanks! On Aug 15, 2017 12:21, Jon Tutcher <notifications@github.com> wrote:I like the idea of this and the visualisation aspect - a lot of it comes down to whether we can make it happen or not...

—You are rec

[2017-09-02 13:34] bunnybooboo commented on #262
cc/ @acabunoc

[2017-09-02 13:34] bunnybooboo commented on #405
cc/ @acabunoc

[2017-09-02 13:35] bunnybooboo commented on #578
cc/ @phillipadsmith

[2017-09-02 13:47] tromand commented on #592
Yes ! Thank you \o/

Le sam. 2 sept. 2017 à 14:34, David Ross <notifications@github.com> a
écrit :

[2017-09-02 13:49] bunnybooboo commented on #849
CONGRATULATIONS! Your session proposal has been accepted.

I know Paolo was selected by the Mozfest Production committee, but why should he miss out on being congratulated by the P&S team hey? Congrats Paolo!!!!!!!!

[2017-09-02 14:31] unalee commented on #260
@kenyatta1 @Saallen Amazing, thank you! Looking forward to talking more.

[2017-09-02 14:32] unalee commented on #259
@bunnybooboo @Saallen Great, thank you! Talk soon!

[2017-09-02 15:11] danielhjames commented on #84
Hi Dorine, hi Andrew, is the Science Fair taking place on the Friday of Mozfest this year? If so, can we apply to take part in that please?

[2017-09-02 15:23] EPIKhub commented on #84
@Saallen @marcwalsh Could we add this session to the Science fair?

[2017-09-02 15:31] danielhjames commented on #84
Thanks Dorine :-) We have a fun demo that would fit the Science Fair really well. We'd be happy to demo in the youth zone at other times too.

[2017-09-02 15:43] Mte90 commented on #107
To get consideration from others team what we have to do? We have now 6 linux day events interested.

[2017-09-02 16:08] manrajgrover commented on #72
Hi @bunnybooboo,

Is it because of stipend issue? It would be very tough for us ( @gautamkrishnar and @ManrajGrover ) to cover the cost ourselves.
Could you please consider it for any other track? Open Innovation perhaps?

/cc @auremoser, @bacharakis, @phillipadsmith

[2017-09-02 16:29] bunnybooboo commented on #196
Emailed proposal submitter for clarification on stipend requirements. Awaiting response.

[2017-09-02 16:56] bunnybooboo commented on #72
@ManrajGrover no it is not.

We had approximately 175 proposals for our space. There is only space for around 30. We went through 3 phases of collaborative deliberation. This proposal made it through to the fourth phase. We had a further 50 to cut from this fourth stage. All proposals in the fourth phase were deemed very good quality by the entire team through the process of previously mentioned c

[2017-09-02 17:14] siddhartharao17 commented on #171
Hi @bunnybooboo ,
Just thought that you might be interested in reading the Sherlock Holmes story line that I have created for the session.
Link: https://docs.google.com/document/d/16KhJetHpQHHvufeDF5kwQf-FZhrx8JFx_uvujkJtbbo/edit?usp=sharing

[2017-09-02 22:37] tiagofassoni commented on #475
It is answered. Thanks for your kind work!

[2017-09-03 00:11] bunnybooboo commented on #475
CONGRATULATIONS! Your session proposal has been accepted.

@tiagofassoni please look out for the email I just sent which contains a request for further information from you. I need this information by September 6.

[2017-09-03 00:39] bunnybooboo commented on #203
CONGRATULATIONS! Your session proposal has been accepted.

@amandabee please be on the look out for further information from us, via email, in the coming days.

[2017-09-03 00:55] bunnybooboo commented on #203
cc/ @erikao

[2017-09-03 01:14] meggieann commented on #252
@edovio I am very excited! Thank you so much! I can also shift content for a broader reach. Digital illiteracy can affect anyone in all sorts of contexts. What are my next steps?

[2017-09-03 02:13] kenyatta1 commented on #616
@pazbc Thank you for your patience!  We had an extremely high volume of sessions for the digital inclusion space!  We're excited to inform you that your session has been accepted to Mozfest. We hope you're able to join us in London from Oct 27-29.  However, we cannot provide a travel stipend.  Please let us know if you are able to secure alternative travel funding before the end of September.

[2017-09-03 02:14] kenyatta1 commented on #648
@stepaola Thank you for your patience!  We had an extremely high volume of sessions for the digital inclusion space!  We're excited to inform you that your session has been accepted to Mozfest. We hope you're able to join us in London from Oct 27-29.  However, we cannot provide a travel stipend.  Please let us know if you are able to secure alternative travel funding before the end of September.

[2017-09-03 02:25] kenyatta1 commented on #707
@bee2502 Thank you for your patience!  We had an extremely high volume of sessions for the digital inclusion space!  We're excited to inform you that your session has been accepted to Mozfest. We hope you're able to join us in London from Oct 27-29.  However, we cannot provide a travel stipend.  Please let us know if you are able to secure alternative travel funding before the end of September.

[2017-09-03 02:26] kenyatta1 commented on #197
@psubhashish Thank you for your patience!  We had an extremely high volume of sessions for the digital inclusion space!  We're excited to inform you that your session has been accepted to Mozfest. We hope you're able to join us in London from Oct 27-29.  However, we cannot provide a travel stipend.  Please let us know if you are able to secure alternative travel funding before the end of September

[2017-09-03 02:26] kenyatta1 commented on #583
@WinnieMakokha Thank you for your patience!  We had an extremely high volume of sessions for the digital inclusion space!  We're excited to inform you that your session has been accepted to Mozfest. We hope you're able to join us in London from Oct 27-29.  However, we cannot provide a travel stipend.  Please let us know if you are able to secure alternative travel funding before the end of Septemb

[2017-09-03 02:28] kenyatta1 commented on #829
@risingvoices Thank you for your patience!  We had an extremely high volume of sessions for the digital inclusion space!  We're excited to inform you that your session has been accepted to Mozfest. We hope you're able to join us in London from Oct 27-29.  However, we cannot provide a travel stipend.  Please let us know if you are able to secure alternative travel funding before the end of Septembe

[2017-09-03 03:48] tiagofassoni commented on #475
Thank you so much! I'm completely in awe about that. Will just check with Ming, will send you allthe info ASAP.

[2017-09-03 08:50] AsmaSwapna-zz commented on #152
I was wondering about any updates regarding the proposal.

[2017-09-03 09:29] bunnybooboo commented on #826
CONGRATULATIONS! Your session proposal has been accepted.

Our team will be in further contact with you via email in the coming days.

[2017-09-03 09:37] jwulf commented on #250
Negative, I'd need a plane ticket to come.

[2017-09-03 10:40] bunnybooboo commented on #554
CONGRATULATIONS! Your session proposal has been accepted.

Renata and @_vecna our team will be in further contact with you via email in the coming days.

[2017-09-03 10:45] bunnybooboo commented on #853
CONGRATULATIONS! Your session proposal has been accepted.

Hannah our team will be in further contact with you via email in the coming days.

cc/ @emrysgreen

[2017-09-03 10:46] bunnybooboo commented on #63
CONGRATULATIONS! Your session proposal has been accepted.

@TomiwaIlori our team will be in further contact with you via email in the coming days.

[2017-09-03 16:47] unarbc commented on #281
Hello @edovio! Woohoo! That is super, thank you. Will speak soon then and see you in october :)

[2017-09-03 16:54] jonathanKingston commented on #433
Looks like I will have to pull my finger out then 😃

[2017-09-03 17:30] ottagit commented on #57
Such great news @edovio So much grateful for the opportunity :+1: :+1:

[2017-09-03 18:20] avilarenata commented on #556
Hi all, sorry, I was on vacations. Let me know if the talk is accepted as I will definitely attend since my other talk on elections is accepted.

[2017-09-03 18:24] karansapolia commented on #189
Hey @jontutcher, @acabunoc and @cubicgarden. Here is an update on the project. Attached is a report with descriptions and links to the PoCs we've developed thus far, for your reference. Preping up portions from this for my stand at MozFest. Designing thw write-up for my session and codelabs ( sort of ) right now, will update you guys on the same soon. Would appreciate your inputs on this.
[DataPor

[2017-09-03 18:27] bunnybooboo commented on #433
Haha no pressure but 55 days to go 🏃

[2017-09-03 18:45] joana-varon commented on #453
yey! Thanks!

[2017-09-03 18:52] joana-varon commented on #453
about the questions on methodology: the storytelling tools are those that we have developed for the stories on the chupadados.com platform.  We can departure from these and do an interactive session discussing how users have been interacting with the apps or technologies that we mentioned in some of the chupadados stories. So it can be an evaluation, awareness raising moment of users practices and

[2017-09-03 19:17] afrinrahman15 commented on #162
ok thank you :)

[2017-09-04 04:05] psubhashish commented on #197
Hi @kenyatta1 thanks for sharing the great news. When it is really thrilling for me to hear this news, it is also saddening to share that I would not be able to self-fund my travel. I would really appreciate if we can do it remotely because I am really keen on conducting the session.

[2017-09-04 04:51] atiqueahmedziad commented on #473
@edovio thanks a lot for such opportunity 😄

[2017-09-04 07:10] mhawksey commented on #498
Hi @edovio - great news! I know there were a tonne of mozfest proposals this year so thanks for the opportunity to run this session. Look forward to hearing more in due course

[2017-09-04 09:27] CelineBoudier commented on #429
That's awesome thanks a lot!!!

[2017-09-04 10:22] Saallen commented on #84
@danielhjames we can cater for you in the science fair but you will need headphones rather than speakers as you will be one of many on a floor- still work for you? 🎧

[2017-09-04 10:33] Aganitho commented on #327
This is wonderful !! 🎉🎉

[2017-09-04 10:36] anouchk commented on #327
This is wonderful !! 🎉🎉

[2017-09-04 10:42] anouchk commented on #327
Also here is the acurate link for the data :
https://www.data.gouv.fr/fr/datasets/donnees-2005-2016-du-marche-europeen-des-quotas-de-co2-ets/

[2017-09-04 11:17] danielhjames commented on #84
Hi Sarah, headphones would be fine for the Science Fair, thanks! I can bring a four-way headphone amp so that people can listen and play with their friends, it's more fun that way. You are quite right that we can get loud if left unchecked :-)

[2017-09-04 12:36] gangadharansp commented on #301
That's fantastic! Super looking forward. I can't tell by this thread... but something is happening with Chupadados? Either way, excited to meet you Joana. :)

[2017-09-04 12:37] gangadharansp commented on #453
Hi Joana... Don't know if we have met before (maybe???). But just wanted to say and am excited to hear more about the Latin America context and your work. :)

[2017-09-04 13:15] connieimdialog commented on #823
hello, i am just linking to this session since there are some intersecting project themes: https://github.com/MozillaFoundation/mozfest-program-2017/issues/829

if there are any questions i can answer for you, please just let me know.  cheers!

[2017-09-04 13:54] bunnybooboo commented on #405
@mickfuzz please be aware your email is pinging an out of office response from June 😉

[2017-09-04 15:01] Carotejada commented on #353
Hola @edovio! That's great!!! Sooo excited about this. Thanks so much  🎉
@barrosgeraldo

[2017-09-04 15:25] gautha91 commented on #308
@edovio  That's a great news. I will wait for the next steps. Wooh wooh..

[2017-09-04 15:27] dvigneshwer commented on #308
Yay!! Congratulations @gautha91 :)

[2017-09-04 15:44] phillipadsmith commented on #712
Moving this to Open Innovation for the moment.

[2017-09-04 15:47] phillipadsmith commented on #712
@mjhannan Would you be open to collaborating with Newseum on this session?

[2017-09-04 15:49] Saallen commented on #752
@JWexlerBM The science fari showcases interesting projects, individuals and prototypes that are not sessions over the weekend. Its a networking event on the Friday night from 6-9pm and we give you a table, screen, wifi and power outlets. You could share what you have been working on as people pass through the space. How does that sound?

[2017-09-04 15:49] phillipadsmith commented on #737
@flukeout I invited Tessa to submit, so -- yes -- for the moment I'll move this over to our pool of candidates. :)

[2017-09-04 15:59] gautha91 commented on #308
Thanks @vigneshwerd

[2017-09-04 17:04] kenyatta1 commented on #197
@psubhashish Thank you for your quick response.  We will be in touch soon to see if we can conduct a remote session.

[2017-09-04 18:13] KirstieJane commented on #833
Hi @EPIKhub - I don't think open innovation will have space for this session - does that mess up your plans? Would you still like to take the session?

[2017-09-04 18:26] EPIKhub commented on #833
@KirstieJane I can take this within the youth zone space, shall I add our milestone?

[2017-09-04 18:31] KirstieJane commented on #833
@epikhub - yes please!

[2017-09-04 18:33] EPIKhub commented on #833
@KirstieJane any other VR related sessions you cant take please CC me so i can look at it, we have a VR room being settup in the youth zone so we can mop up a number of VR sessions

[2017-09-04 18:40] EPIKhub commented on #200
@ryanwarsaw - You have been confirmed as getting a Mozilla Stipend! Grats :) Can I have your dads name?

[2017-09-04 18:43] EPIKhub commented on #190
@viswanathamsantosh you have been confirmed as getting a Mozilla Stipend - Grats! :) This will cover your travel and accomodation - We recommend you attend Friday to Sunday

[2017-09-04 18:43] AndreaPocketsChange commented on #733
Hi Edovio - Thank you! That's incredible news! I'm thrilled to be part of Mozfest. Look forward to hearing more about how to move forward.

[2017-09-04 18:47] EPIKhub commented on #507
@marcwalsh Please close this session, it can no longer take place

[2017-09-04 18:50] dvigneshwer commented on #190
Congratulations @viswanathamsantosh :)

[2017-09-04 19:14] KirstieJane commented on #803
Hi @EPIKhub and @bunnybooboo! I don't think Open Innovation are able to accept this session as we don't have enough space for all the great proposals! Let me know if you want to take it to another space :smile:

[2017-09-04 19:15] EPIKhub commented on #250
@KirstieJane where you at with this one?

[2017-09-04 19:15] EPIKhub commented on #250
@jwulf - would this work on a Pi?

[2017-09-04 19:25] KirstieJane commented on #737
Hi @phillipadsmith - can you take another look at this session before we make our final decision for Open Innovation?

[2017-09-04 19:31] joenash commented on #237
Hey @pietrop, just dropped you another email re. your stipend request.

[2017-09-04 19:34] KirstieJane commented on #701
Hi @cubicgarden, @bunnybooboo and @janetchapman - I don't think Open Innovation will be able to accept this session due to space and time in the schedule for all the great options. Let me know if you'd like to find it another home!

[2017-09-04 19:39] KirstieJane commented on #628
Hi @msaunby - I don't think Open Innovation are going to be able to accept this session. Do you want to include it in Digital Inclusion?

[2017-09-04 19:56] EPIKhub commented on #542
@emrysgreen @flukeout - thanks for the patience, you can change the milestone to web lit

[2017-09-04 20:04] KirstieJane commented on #250
Hi @EPIKhub - Open Innovation are looking forward to accepting this session....but we haven't yet decided about stipends. Sorry to be so slow on this front! 😞

[2017-09-04 20:06] EPIKhub commented on #250
@KirstieJane np just let me know before the stipend deadline if you can, I have 1 stipend left and short listing for it - for it to work for us it would have to be able to work on a Pi tho @jwulf

[2017-09-04 20:07] KirstieJane commented on #451
@villaronrubia! Better late than never! I've fixed the title :taco:

[2017-09-04 20:12] KirstieJane commented on #421
Hi @georgiamoon, @Solanasaurus, @brettgaylor & @bunnybooboo!

Open Innovation would be delighted to accept this proposal, but I'm confused about whether it's different to #615 or not? It doesn't have to be in our space if it's already going to be featured in Privacy & Security, but we'd be very happy for it to be a gallery in Open Innovation.

What do you think?

[2017-09-04 20:21] KirstieJane commented on #411
Hi @Saallen, @shwetal27, @EPIKhub, @msaunby, @kenyatta1 - I don't think Open Innovation will be able to accept this session. I'm going to remove the milestone. Sorry for being so slow in this process 😞

[2017-09-04 20:29] KirstieJane commented on #372
Hi @kenyatta1, @flukeout & @edovio - There was a mistake with the labelling for this session that we at Open Innovation missed. I haven't re-assigned the labels (just removed Open Innovation) because I don't want to mess up any systems you have, but if you could look over this session that would be really great. Thank you!

@EPIKhub - here's a VR session that we might not be able to take, just in

[2017-09-04 20:30] mickfuzz commented on #405
@bunnybooboo thanks for the heads up! That's sorted now. We are looking forward to this. Just had a great chat with @chrisdavidmills today about this and related tings, I wonder if he'll make this session.

[2017-09-04 20:32] KirstieJane commented on #365
Hi @bacharakis! We at Open Innovation missed this session because it was misassigned (and we didn't check!) Can you take a quick look to see whether it can fit in with the other rust sessions we're planning to accept?

[2017-09-04 20:40] KirstieJane commented on #247
Hi @phillipadsmith! What do you think about this for Open Innovation?

[2017-09-04 20:45] KirstieJane commented on #412
Hi @bunnybooboo - I think Open Innovation is likely to accept this session. Where are you at curating other mapping ones? Should we try to combine? Happy either way :smile:

[2017-09-04 20:46] KirstieJane commented on #412
Hi @bunnybooboo - I think Open Innovation is likely to accept this session. Where are you at curating other mapping ones? Should we try to combine? Happy either way :smile:

[2017-09-04 20:48] KirstieJane commented on #231
Hey @kenyatta1 - do you have space for this in digital inclusion?

[2017-09-04 20:55] KirstieJane commented on #183
Hi @teonbrooks & @aj-ptw! There are two sessions that are pretty similar: yours and @jdpigeon #264. I think we're going to accept #264 but maybe you can merge aspects of the projects together? What do you think?

[2017-09-04 20:57] bunnybooboo commented on #226
@mariot I'm sorry to have to tell you your proposal has not made it through to our final selection. It was so close, but we had a large number proposals. Some excellent ones, like yours, had to reluctantly be refused. It's a really great idea that I do hope you get to explore further.

[2017-09-04 21:02] KirstieJane commented on #142
Hey @saallen - We're looking to accept this session in Open Innovation but we don't have a huge amount of space. The plan was to turn this into a gallery session to have people drop by and watch @mikeconley livehack. If you have more space and can host this as a shed or learning zone then let me know 😄

[2017-09-04 21:05] KirstieJane commented on #126
Hi @flukeout & @edovio - I don't think we're able to accept this in Open Innovation. Do you have space in web literacy?

[2017-09-04 21:06] andrewjaykeller commented on #183
@KirstieJane seems reasonable to join them. @jdpigeon and I were already going to start working to get OpenBCI WiFi Shield into EEG101.

[2017-09-04 21:12] KirstieJane commented on #99
Hi @vigneshwerd - we don't have space in Open Innovation to accept this session. Passing it over to you in Decentralization - sorry for being so late in this process :disappointed:

[2017-09-04 21:13] KirstieJane commented on #183
@aj-ptw - that's great!! Thank you! :sparkles: :tada:

[2017-09-04 21:17] dchassaing commented on #751
@flukeout No worries, maybe next year! Thanks for your consideration and I hope the event is successful.

[2017-09-04 21:21] KirstieJane commented on #82
Hi @phillipadsmith - just pinging you to see what you think about this session for Open Innovation?

[2017-09-04 21:31] cubicgarden commented on #556
Yes its accepted... @Melechuga was going to cover it but sounds like there is no need now?

[2017-09-04 21:34] cubicgarden commented on #701
Sorry we are pretty full of sessions and have zero travel stipends left now. Thanks for submitting it,

[2017-09-04 21:35] ryanwarsaw commented on #200
@EPIKhub That's fantastic news! Sure, can we move this to email? Mine is me@ryanwarsaw.com, I'm also happy to email you as well. I'm also @ryanwse on Twitter if you'd prefer to use that instead.

[2017-09-04 21:36] KirstieJane commented on #320
Hi @flukeout and @edovio - I don't think Open Innovation will be able to accept this session so pinging you in case you want it in Web Literacy.

[2017-09-04 21:46] KirstieJane commented on #179
@phillipadsmith @auremoser - could we replace the withdrawn #286 session (Internet Archive) with this one?

[2017-09-04 21:47] KirstieJane commented on #179
@phillipadsmith @auremoser - could we replace the withdrawn #286 session (Internet Archive) with this one?

[2017-09-04 21:48] bunnybooboo commented on #412
@KirstieJane Awesome! We only had one in contention in our space which we reluctantly had to drop it. I'm a regular humanitarian mapper for OSM so always stoked to see people sharing its value.

[2017-09-04 22:19] bunnybooboo commented on #319
Hey @princiya CONGRATULATIONS! The P&S team have decided at the last moment to accept your proposal. Please be on the lookout for an email I just sent to you. I need the information requested as a matter of urgency.

cc/ @acabunoc

[2017-09-04 22:34] bunnybooboo commented on #196
Submitter clarified all additional facilitators have means of getting to Mozfest of their own. So..

CONGRATULATIONS!! Karolina your proposal is one of the last few we are able to take in the Privacy and Security space. Please look out for the email I just sent to you. It contains a request for travel information, which I require as a matter of urgency.

[2017-09-04 22:34] bunnybooboo commented on #196
cc/ @auremoser

[2017-09-05 04:09] pietrop commented on #117
Also In the meanwhile I've made an open source app (a working proof of concept) to take this to the next level, easier to use and setup for the users.

- [github](https://github.com/pietrop/annotated_article_generator)
-  [demo](http://pietropassarelli.com/annotated_article_generator/)

[2017-09-05 05:27] chrisdavidmills commented on #405
I do hope so; sounds like a really compelling learning experience!

[2017-09-05 06:00] phillipadsmith commented on #247
Hi @KirstieJane:  Considering it, yes. :)

[2017-09-05 06:29] kenyatta1 commented on #231
@KirstieJane we unfortunately do not have space.  We had an overwhelming amount of amazing sessions in the digital inclusion milestone.

[2017-09-05 06:31] kenyatta1 commented on #372
@KirstieJane thanks for flagging this however its not a good fit for the digital inclusion space.

[2017-09-05 06:31] KirstieJane commented on #231
I completely believe that @kenyatta1!! Thank you for letting me know 😄

[2017-09-05 06:43] KirstieJane commented on #372
No problem. Thank you for taking a look @kenyatta1 :sparkles:

[2017-09-05 07:52] dvigneshwer commented on #99
@KirstieJane Thanks for looping me in :) @mehan amazing session, currently we have no space available in decentralization. I will get back to you if anything opens up.

[2017-09-05 08:59] joenash commented on #237
Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-05 09:05] bacharakis commented on #365
Thanks @KirstieJane , noted :)

[2017-09-05 09:09] pietrop commented on #237
Awesome, thanks!

[2017-09-05 09:11] Saallen commented on #86
@bunnybooboo @Zebetus do you want to run this as an emerging session at MozFest? You just add it to the schedule and book a table with the volunteers on Saturday morning.

[2017-09-05 09:14] jessicarose commented on #813
How exciting, I'll look foward to joining you all soon!

[2017-09-05 09:25] thornet commented on #215
We'll take this session in the Unbox space, if it's not accepted elsewhere.

[2017-09-05 10:02] marcwalsh commented on #507
Thanks @EPIKhub

Closing - Can no longer take place.

[2017-09-05 10:02] #507 closed, assigned to nobody

[2017-09-05 10:06] Saallen commented on #830
@solanasaurus

[2017-09-05 10:08] Saallen commented on #823
tagging @solanasaurus

[2017-09-05 10:14] bunnybooboo commented on #521
We're in the final days of deliberation and this proposal is still in our draft @avadacatavra
There is discussion of the similarity between this and @franziskuskiefer #243 (also still in consideration) to the point that we may combine the 2 into 1 session. Might this work for you both?

[2017-09-05 10:17] bunnybooboo commented on #538
CONGRATULATIONS! Your session proposal has been accepted.

@01fade our team will be in further contact with you via email in the coming days.

[2017-09-05 10:19] Mte90 commented on #8
What is the approved talk?

[2017-09-05 10:19] Saallen commented on #809
TAGGING @solanasaurus

[2017-09-05 10:21] Saallen commented on #829
cc @solanasaurus

[2017-09-05 10:21] Saallen commented on #825
cc @solanasaurus

[2017-09-05 10:22] Saallen commented on #811
cc @solanasaurus

[2017-09-05 10:23] Saallen commented on #810
cc @solanasaurus

[2017-09-05 10:24] rikardlinde commented on #427
Will you share the results of this? I won't be able to Attendo MozFest :( but this topic really interests me.

[2017-09-05 10:28] chadsansing commented on #592
@tromand, congratulations! More info to follow.

[2017-09-05 10:28] chadsansing commented on #195
Congratulations, @barrosgeraldo! More info soon.

[2017-09-05 10:29] chadsansing commented on #205
Congratulations, @cryptomancer-actual! More info soon.

[2017-09-05 10:29] chadsansing commented on #526
Congrats, @anterobot! More info soon.

[2017-09-05 10:30] chadsansing commented on #194
Awesome, @bunnybooboo - many thanks!

[2017-09-05 10:32] franziskuskiefer commented on #521
Right, I've seen this. I'd be happy to combine the two and work with Diane on this.
This sounds more like a general crypto 101 while we (Mark and I in #243) wanted to go a little more into the direction of combining this with what people see when using the internet. I think that works better than only trying to explain crypto related concepts without the context. But I'm sure we can work together

[2017-09-05 11:19] bunnybooboo commented on #421
@KirstieJane this is up for discussion _today_

[2017-09-05 12:27] Saallen commented on #142
@KirstieJane - love this idea of Mike live hacking in the gallery

[2017-09-05 13:20] avadacatavra commented on #521
I'm happy to work with @franziskuskiefer on this

Mine is definitely intended as a true 101 for people who don't have any foundation/understanding of what crypto is (and glosses over mathematical details).

[2017-09-05 13:41] bunnybooboo commented on #521
cc/ @brettgaylor

[2017-09-05 13:42] jdpigeon commented on #264
I should note that I now have a job and can afford to travel!

[2017-09-05 13:43] jdpigeon commented on #264
Also, I'm looking forward to collaborating with @teonbrooks and @aj-ptw on this

[2017-09-05 15:30] twhy commented on #282
Hi @hannahkane, since this session is not quite right for the Digital Inclusion space this year, I'm wondering is there any other spaces for this session? Thanks!

[2017-09-05 16:00] JWexlerBM commented on #752
Sad to not be a session, but otherwise that sounds great! We do have lots of awesome 3D prints and VR stuff we can bring along : )

[2017-09-05 16:17] phillipadsmith commented on #737
@KirstieJane I would propose to accept it and ask Tessa to explore if her company can cover the travel.

[2017-09-05 16:17] phillipadsmith commented on #712
@mjhannan Ping?

[2017-09-05 16:19] phillipadsmith commented on #247
@KirstieJane Per email. What are the implications of accepting this session?

[2017-09-05 16:33] renataaquino commented on #358
This is fantastic news @hannahkane Super happy that this work will be presented.
And thanks to email guidance and support too I was able to harmonize the invite and presentation dates with other ongoing work and can confirm we'll be in full strength at Mozfest. Ultra-awesome.

[2017-09-05 16:34] Saallen commented on #752
Cool we will take this as the science fair table if @KirstieJane and open innovation don't want it as a session

[2017-09-05 16:39] JWexlerBM commented on #752
Thanks!

[2017-09-05 16:39] spMohanty commented on #837
@KirstieJane : Any advice on which space is the best for this session proposal 👼.

We are working towards involving the general population in Applied Machine Learning and Artifiicial Intelligence. And we also have a leaderboard full of hopping/running/walking AI powered skeleton simulations built by participants all over the world. Artificial Intelligence for everyone.
https://www.crowdai.org/chal

[2017-09-05 16:55] Saallen commented on #222
linking myself in here

[2017-09-05 16:56] Saallen commented on #99
looping myself in and @edrushka

[2017-09-05 16:57] edrushka commented on #769
looping in @edrushka @Saallen

[2017-09-05 16:57] Saallen commented on #214
looping myself in and @edrushka

[2017-09-05 16:58] edrushka commented on #670
Looping in @edrushka @Saallen

[2017-09-05 16:58] Saallen commented on #493
looping myself and @edrushka

[2017-09-05 16:59] jenntbeard commented on #99
I am also looping myself in as co-presenter.

[2017-09-05 17:04] Wiroll commented on #493
It seems like this is universally a terrible idea - but I think having an
interactive (analog or digital) board, with the preface of "What is your
tech community doing to promote smart, equitable, and inclusive growth?"
with a few prompts and visual mapping could make for some interesting
dialogue. Something like that may very well already be planned.

On Tue, Sep 5, 2017 at 11:58 AM, Sarah Allen

[2017-09-05 17:35] cyb3113 commented on #221
Hi @bunnybooboo,
is still some chance to present my project at Mozfest?

[2017-09-05 17:44] KirstieJane commented on #570
Hi @npscience, @SamanthaHindle & @dasaderi! Thank you all for submitting so many amazing proposals! We're having a really tough time narrowing down our accepted list, so I wonder how you'd feel about working together on a session merging this one with the preprint journal club proposal: #757? Seems like some of the other ideas could be merged in really nicely. Happy to discuss!

[2017-09-05 17:59] KirstieJane commented on #506
Hi @monsauce! We aren't able to accept your session to Open Innovation, and we don't have any stipends left, but IF you can make it over to MozFest we'd love for you to work with Chris Bresky to create a session that merges his proposal #231 and yours! Let me know if you think that might work and we'll put you in touch!

[2017-09-05 18:23] edrushka commented on #796
looping in @edrushka @Saallen

[2017-09-05 18:38] dasaderi commented on #570
@KirstieJane, thank you for your note and for all the hard work you and other Mozillians are putting into the MozFest organization.

I think merging the two sessions would make a lot of sense. @npscience, @SamanthaHindle and I have a phone call scheduled for next week to talk about a collaborative post to release on OAweek, and I suppose we could talk about this as well.

[2017-09-05 18:39] vi5halc commented on #109
Thank you so much @edovio and team. Really excited to attend Mozfest and collaborate with everyone :)

[2017-09-05 18:40] kenyatta1 commented on #231
@KirstieJane Hive Chicago will support travel for this session.

[2017-09-05 18:43] kenyatta1 commented on #499
@EPIKhub  @31466 Hive Chicago will support with 1 travel Stipend.

[2017-09-05 18:44] KirstieJane commented on #231
That's fantastic @kenyatta1! Thank you ✨

I'd really like to see if we could incorporate proposal #506 by @monsauce into this idea, I think it would be a good combination 😄

[2017-09-05 18:48] KirstieJane commented on #837
Hi @spMohanty - I'm really sorry - I don't think we're going to be able to take CrowdAI this year in Open Innovation 😞 . We've just had so many great proposals!

I'm not sure if it fits in other spaces either.....

[2017-09-05 19:44] hanasun commented on #283
Hello @EPIKhub @flukeout !  Just wanted to let you know you can tag me for questions on this.  This session was submitted by partners to Hive NYC & Hive Chicago.  Sorry for the delayed follow up--just seeing this one now.

[2017-09-05 19:51] bunnybooboo commented on #475
@tiagofassoni I have a hard deadline for this information request, it's needed by the end of tomorrow. Thanks in advance.

[2017-09-05 19:55] tiagofassoni commented on #475
Okay, I'm gathering the info (also waiting for approval from the corporate overlords of Wu Hsien Ming).

I can give you some of the docs tonight - do you want me to send an email with some parts of the information yet?

[2017-09-05 19:56] bunnybooboo commented on #475
No problem. Just be wary of this deadline. It can wait until tomorrow.

[2017-09-05 20:00] tiagofassoni commented on #475
okay, thanks!

[2017-09-05 20:07] bunnybooboo commented on #778
@antiboredom please be wary of this rapidly approaching hard deadline, end of September 6. I need this requested travel information asap.

[2017-09-05 20:21] eledroos commented on #523
@cubicgarden Hi! Could we get an update please? Thanks!

[2017-09-05 20:24] bunnybooboo commented on #319
@princiya please be wary of the pending hard deadline, end of September 6, for this travel information requested in the email I sent yesterday. I do need this asap.

[2017-09-05 21:10] claudijd commented on #700
@bunnybooboo where does this stand in the aceptance/non-acceptance status?

/cc @April

[2017-09-05 21:28] bunnybooboo commented on #826
Ahh I see what you mean about the official acceptance email here @Melechuga at last. Waving hello and welcoming this awesome session into the Privacy and Security space. Looking forward to meeting you!

[2017-09-05 21:42] bunnybooboo commented on #554
@Melechuga confirming acceptance email was sent Monday

[2017-09-05 21:49] auremoser commented on #179
I'm o.k. with that, thanks @KirstieJane

[2017-09-05 21:51] auremoser commented on #82
Sorry for the delayed reply @phillipadsmith, wading through a lot of github these days and my apologies, but I believe we've moved this into our acceptance queue and it may in fact be part of @Melechuga 's Advocacy pathway.

[2017-09-05 21:52] bunnybooboo commented on #700
Actually @claudijd yours is one of the few today I CAN give an answer to..

CONGRATULATIONS! Your proposal has made it through to selection in the Mozfest Privacy and Security space.

Look out for further contact from the team over coming days. I will send an email immediately to you with confirmation details

cc/ @april

[2017-09-05 21:54] auremoser commented on #72
Pinging @phillipadsmith + @KirstieJane to see if there is still interest in incorporating this session into our space at Open Innovation.

Unfortunately, we have allocated the few stipends that we have, and I'm sorry if this makes acceptance invalid for facilitators :(. At this stage, I'm not sure it's appropriate to apply another milestone/space to the session. I love Duck Duck Go but I think it

[2017-09-05 21:56] auremoser commented on #348
Unfortunately Open Innovation has already allocated our travel stipends so we have none available to share. I'm so sorry. We could potentially accept this session in Open Innovation but would not be able to provide travel support. Let me know if this is acceptable?

Thanks @kenyatta1 for pinging us, sorry for the late reply.
cc/ @KirstieJane

[2017-09-05 22:00] auremoser commented on #603
Unfortunately, we also cannot accommodate this session and no longer have travel stipends available to support additional sessions, so we're removing our milestone as well.

Thank you for your time here, the project sounds great, but we have already distributed our stipends and unless you are able to attend without a stipend, I'm afraid we cannot accept the session.

[2017-09-05 22:00] flukeout commented on #283
Hello @hanasun - unfortunately, we have decided not to include this session in the Web Literacy space this year. However, if you have travel funds available, it's come to our attention that there may be another sessions within your network that could use it - session #733 - one that we accepted that didn't indicate it needed a travel stipend.

cc @XtianBerrisoup

[2017-09-05 22:03] auremoser commented on #841
Apologies for my delayed reply on this one. I very much like this session, but I'm afraid we have no more stipends to allocate for the Open Innovation floor and our schedule is already quite full of sessions. If the session leader could operate without a stipend, I might be able to squeeze it in, but I would feel terrible asking someone to travel so far without support.

I'm removing our milestone

[2017-09-05 22:07] auremoser commented on #682
I'm adding our label back for Open Innovation and cc'ing @KirstieJane ; If Davis' travel is covered, I see no reason to not accept this session at least in our Gallery if possible.

Would it be possible to feature the session in our Gallery? I think our Shed slots might be limited.

[2017-09-05 22:07] hannahkane commented on #282
Hi @twhy - the curators for the other spaces have the opportunity to view this proposal as well. You'll hear from them if they think it's a fit for their space. Cheers!

[2017-09-05 22:09] auremoser commented on #19
Thank you for pinging us about this session, unfortunately, our schedule is rather taxed right now, but am I correct in understanding that this session does not require a stipend? cc @kenyatta1
If not, then perhaps we could accommodate it in our Gallery, cc @KirstieJane ?

[2017-09-05 22:10] auremoser commented on #225
Thanks @flukeout
Hi @trallard, unfortunately we have allocated all of our stipends for the Open Innovation space this year (I'm sorry, we only had 11 to distribute :(. Is there a way you can attend without a stipend?

[2017-09-05 22:13] auremoser commented on #598
I'm not sure we have enough space in our schedule this year, so I'm pinging @natalia44 + @KirstieJane + @phillipadsmith to assess whether we might be able to accommodate this in our Gallery, perhaps as part of our original idea to provide a persistent gallery of open computing?

For now, I've temporarily re-added our milestone. Let me know if I should add this to our spreadsheet, all.

[2017-09-05 22:16] bunnybooboo commented on #243
CONGRATULATIONS! @franziskuskiefer your session has made it to our final Privacy and Security schedule.

Please look out for further communications from our team in coming days.

[2017-09-05 22:17] bunnybooboo commented on #521
CONGRATULATIONS! @avadacatavra your session has made it to our final Privacy and Security schedule.

Please look out for further communications from our team in coming days.

[2017-09-05 22:50] phillipadsmith commented on #737
@TessaSproule We're accepting your session into the Open Innovation space. That includes registration to MozFest, but not a travel stipend. Let us know if that impacts your ability to attend.

[2017-09-05 22:50] hanasun commented on #283
@flukeout thanks for the heads up.  these folks were able to support their own travel so, sadly, this doesn't free up funds on our end.

[2017-09-05 22:54] phillipadsmith commented on #247
@Audesome I've asked @secmorris if she's consider collaborating on her approved session with you and she indicated that she'd be open to exploring that. Can you two sync up? :)

Here's Sarah's session:
https://github.com/MozillaFoundation/mozfest-program-2017/issues/247

[2017-09-05 22:55] phillipadsmith commented on #712
@natalia44 I need another 12 hours to see if I hear back from @mjhannan. Please keep the OI milestone on this for now.

[2017-09-05 23:14] Melechuga commented on #82
@auremoser Heyo~ Not part of the Advocacy pathway this year, but happy to vouch for Rafael's awesomeness. Great to hear he's part of the Open Innovation space!

[2017-09-05 23:35] kenyatta1 commented on #19
Hey @auremoser!  Totally understand.  This session does not require a stipend.

[2017-09-05 23:37] kenyatta1 commented on #348
@aromartins can you let us know about the stipend asap?

[2017-09-05 23:52] claudijd commented on #700
@bunnybooboo w00t! thanks!

[2017-09-06 01:29] Jayapreethi commented on #274
@jonathanprozzi @flukeout @bunnybooboo its a great disspointment for us ...we proposed 19 sessions in total most of our sessions got rejected only because of stipend issue . we understand the demand for stipend but still shortlisting the stipend and removing the label  , sending a positive response at beginning and ending into rejection is totally not fair ! we worked hard to get into this mozfest

[2017-09-06 01:31] Monsauce commented on #231
Colour me very interested! I hope we can find a way to double the awesome and incorporate [#506](https://github.com/MozillaFoundation/mozfest-program-2017/issues/506)

[2017-09-06 02:35] avilarenata commented on #556
I am covered, but Paz Peña is not but I could conduct the session alone (however it would be great to see her there https://twitter.com/pazpena?lang=en)

R

[2017-09-06 03:02] kenyatta1 commented on #348
@auremoser What do you mean?

[2017-09-06 05:23] mariot commented on #226
Hi!

Thanks for reviewing my applications. There's always next time.

Cheers,
Mariot.

[2017-09-06 07:08] natalia44 commented on #712
Ok

[2017-09-06 07:10] natalia44 commented on #598
Honestly, the description is pretty vague and I cannot see how it is related to open innovation, but it doesn't mean veto from my side. If we decide to accept this is should be gallery.

[2017-09-06 07:41] 01fade commented on #538
Great news! I am excited!

[2017-09-06 08:05] bunnybooboo commented on #421
@Saallen @Solanasaurus @brettgaylor @georgiamoon  is this a pan-space issue? #615 is my final blocker before locking down the P&S schedule. It's accepted in principle, but current generic form has me hesitant when it blocks more targeted P&S content.

[2017-09-06 08:17] princiya commented on #319
Submitted, thanks :) Sorry for the delay.

On 5 September 2017 at 22:24, David Ross <notifications@github.com> wrote:

[2017-09-06 09:24] cubicgarden commented on #99
Just debating on behalf of Decentralisation, hope to have a answer one way or another by end of the day

[2017-09-06 10:00] Saallen commented on #421
Hey jumping in here- as far as I am aware from previous conversations- this is more of an installation- set up on the Friday and left for guests to interact with all weekend- so just wall space and in compliment to #615

[2017-09-06 10:02] Solanasaurus commented on #421
Actually, I think we could merge this with #618 which will be rewritten as an "Internet Research Hub" and will include @georgiamoon and others. @kaodro

[2017-09-06 10:03] Saallen commented on #421
what about #615- move too or stay in P&S floor? @Solanasaurus

[2017-09-06 10:13] Solanasaurus commented on #421
#615 could be anywhere, the topic selected was random because we didn't know what to pick for pan-issue. I did still want to have a publicly scheduled brainstorm (around a table?) with people about what they would like to see in the report, but we could also do it in the hub space.

[2017-09-06 10:23] kaodro commented on #615
Agree, we had the same issue with #618, i simply didn't find any "pan" option when submitting so feel free to change it to "pan".

[2017-09-06 10:25] davidhoness commented on #559
Can I confirm if this has beep accepted? I can see the `Session accepted` label there but I haven't had an email. Many thanks

[2017-09-06 10:40] Saallen commented on #615
I have a MozFest session milestone we can use, for these kinda sessions- if P&s are happy with me adding it and removing this from their space? @brettgaylor @bunnybooboo

[2017-09-06 10:51] gbaman commented on #559
Yes it has, we just haven't got around to sending out the YouthZone acceptance emails yet :)

[2017-09-06 11:08] kaodro commented on #618
(Updated version) We transformed the idea into

 **The Internet Research Hub**

**What will happen**
Mozfest is an excellent meeting point for one of our core audience and contributor groups - including those who study Internet health. We would like to use the event to bring researchers together and create an easy-going space for discussions and networking both with the IHR team and among research

[2017-09-06 11:18] Saallen commented on #421
@KirstieJane are you ok with this session moving out of your space??
cc @kaodro

[2017-09-06 11:18] Saallen commented on #710
Hey @prefontaine! @kaodo has some pretty cool ideas.......has she  been in touch?

[2017-09-06 11:57] bunnybooboo commented on #615
YES!! This is really helpful @Saallen

[2017-09-06 11:59] Saallen commented on #615
@cubicgarden @jontutcher is this cool as you are secondary space?

[2017-09-06 12:10] festolangat commented on #216
Hi @XtianBerrisoup  thank you for seeking clarification. My proposal is a
continuation of the research which i participate in my country(
https://mozillafoundation.github.io/digital-skills-observatory/)
and during the entire workshops , we find that , there is need in our
community to educate the youth on  internet(Global network of networks) and
digital skills as majority of population who will s

[2017-09-06 12:18] Monsauce commented on #506
Definitely put me in touch would love to make some awesome together!

[2017-09-06 12:20] auremoser commented on #598
Fair, I think our schedule is too taxed anyway, I'm removing our label.

[2017-09-06 12:23] auremoser commented on #348
@kenyatta1 If multiple stipends are required for this session, we can't accommodate it. I'm sorry, we've already allocated our stipends. I gather from the thread here, that all three presenters would need support, and we unfortunately don't have any stipends left. I hope that makes sense. It's an excellent session idea, but I'm afraid we can't include it in our floor this year.

[2017-09-06 12:41] bunnybooboo commented on #468
Hey @projectsbyif
CONGRATULATIONS!! Your proposal has made it through to the Mozfest Privacy and Security team's final selection. We'll be reaching out with further information in the coming days.

[2017-09-06 13:04] prefontaine commented on #710
We had a preliminary chat where we realized there were some overlaps. I'll reach out now. Thanks!

[2017-09-06 13:16] prefontaine commented on #618
@kaodro Agreed good to have these close together. Happy to chat more!

[2017-09-06 13:18] bunnybooboo commented on #171
agghhhh!!!!! @siddhartharao17 I'm so sorry but your session has not made it through to the final Privacy and Security selection.

Our team thought your proposal was `OUTSTANDING` and we've tried every possible angle to fit it in, but we have to reject at this late stage of consideration. I hope you get a chance to turn this idea into reality somewhere soon. Thank you so much for being patient with

[2017-09-06 13:22] bunnybooboo commented on #171
cc/ @flukeout @jonathanprozzi @edovio

[2017-09-06 13:25] bunnybooboo commented on #694
Hey @leez @rachelweidinger

[2017-09-06 13:26] mjhannan commented on #712
Hello,

Mr. Spikes and I would be happy to collaborate with the Newseum on this
presentation.

Thanks
mike hannan

On Wed, Sep 6, 2017 at 2:09 AM, natalia44 <notifications@github.com> wrote:

[2017-09-06 13:28] bunnybooboo commented on #694
This issue should not have been closed. I wiped my keyboard with my hand and this closed by accident!

[2017-09-06 13:36] bunnybooboo commented on #694
@leez and @rachelweidinger I'm very sorry to say your awesome project has not made it through to the final Privacy and Security schedule. It's been on the board right up to the final moments.

Our team additionally flagged your application as `Outstanding`. If we had a space 2-3 times the size to play with, there is no doubt we would have accommodated you. Thanks so much for taking the time to app

[2017-09-06 13:54] prefontaine commented on #710
@Saallen @kaodro I've updated the description. Pinging @jessevondoom + Paul Zenke

[2017-09-06 14:05] msaunby commented on #628
@KirstieJane have done.  Will discuss with fellow wranglers.

[2017-09-06 14:06] msaunby commented on #845
See also https://github.com/MozillaFoundation/mozfest-program-2017/issues/628

[2017-09-06 14:07] msaunby commented on #845
See also https://github.com/MozillaFoundation/mozfest-program-2017/issues/832

[2017-09-06 14:08] bunnybooboo commented on #257
Ugh, Holly I'm sorry to say that we've had to not accept your proposal in the Privacy and Security space. It's been in consideration right up to today.

Additionally our team have flagged this proposal as `Outstanding`, and we really tried so many ways to accommodate you due to this. Thanks so much for taking the time to submit a proposal, and showing patience through this rigorous process.

[2017-09-06 14:17] bunnybooboo commented on #774
@biakira I'm sorry to inform you that we've had to not accept your session through to the final Privacy and Security schedule. I was an early fan of this one too, so it breaks my heart to have to finally say no.

Additionally our team flagged this proposal as `Outstanding`, so we've been trying every possible way to include it. Thanks so much for taking the time to submit this great idea to us, an

[2017-09-06 14:22] siddhartharao17 commented on #171
Hi @bunnybooboo ,

I feel sad to hear that, but better luck next time maybe :) I will try again next year.
Have fun at MozFest!

[2017-09-06 14:26] phillipadsmith commented on #712
@natalia44 I'm going to accept this session for the moment, pending some fine-tuning that I'll do with Michael over email.

cc @mjhannan

[2017-09-06 14:32] siddhartharao17 commented on #171
Hi @bunnybooboo ,
Thanks for letting me know :) Sad to hear that.
Does this also mean that I'm out of the web literacy track as well?

[2017-09-06 15:13] prefontaine commented on #710
@Saallen A note on our stipend request. When making our budget we ran across flight + lodging for 3 people at a super reasonable cost, so we went ahead and purchased. If our session is accepted we can work out details with your team and @chrislarry33.

[2017-09-06 15:28] flukeout commented on #712
Great to hear @phillipadsmith

[2017-09-06 15:28] Btayeg commented on #784
@cubicgarden the web literacy folks will cover my travels.  So I will be able to run this session.

[2017-09-06 16:09] flukeout commented on #274
Hello @Jayapreethi - I'm sorry that we sent the wrong message when requesting additional information about the travel stipend. We are all first-time wranglers for the festival this year and were encouraged to check in on stipend requests early in the process to make session selection easier. I'm sorry that it sent the wrong message and created an expectation that the session was shortlisted, that

[2017-09-06 16:24] bunnybooboo commented on #171
@siddhartharao17 They will have to speak on their own behalf. Each team is curating in their own way, so I'm not sure. We're pummeled by deadlines this final week of curation, so comms may be super brief. Let's see how the dust settles.

[2017-09-06 16:56] cyb3113 commented on #221
Hi @bunnybooboo,
do I have any chance to present my project at Mozfest?

[2017-09-06 17:01] cubicgarden commented on #615
You want to put it in decentralisation or taking it sorry?

[2017-09-06 17:07] Jayapreethi commented on #274
@flukeout you are atleast encouraging us before but now you stated that as a wrong message and justifying . we consider this as great loss. All those 19 sessions became ineffectual now, wondering why atleast 2 have not get selected for this mozfest .  we feel all the selected sessions are almost equal to our session and i also promise we can give best execution of any session which we proposed. it

[2017-09-06 17:13] cubicgarden commented on #523
This is a yes - its accepted... but will will need to talk about 90mins

[2017-09-06 17:14] cubicgarden commented on #784
Great thanks...

[2017-09-06 17:14] eledroos commented on #523
@cubicgarden Great, thanks! Sure. We're open to other options, if that would be better suited for MozFest. Let me know.

[2017-09-06 17:17] cubicgarden commented on #556
We can't cover another person sorry... maybe @Melechuga might be able to?

[2017-09-06 17:38] bunnybooboo commented on #704
@mgoessen I'm genuinely so sorry, but the Privacy and Security team have had to not add your session to our final program schedule. I liked this one a lot.

We collective deemed this proposal as `Outstanding` which has made our decision all the more difficult. We ended up doing around SIX phases of selection and you got through five of them. Really nice work!!.

If you get to explore this topic fu

[2017-09-06 17:46] bunnybooboo commented on #477
Hey Yasmina, I'm sorry to have to tell you this proposal has just missed out on being selected for the Privacy and Security space.

We loved it so much that we'd highlighted it as `Outstanding`! We ultimately have strictly limited floor space and are having to reject truly great session idea like yours. You managed to break through FIVE of our six phases of deliberation, which is a testament to yo

[2017-09-06 17:57] kenyatta1 commented on #406
@hannahkane remv

[2017-09-06 17:59] bunnybooboo commented on #124
Hey @plaperdr sorry we seem to have gone quiet for way too long. I'm sorry to have to tell you that your proposal has not been selected for the Privacy and Security space. You got through to the last phase of deliberation, which means you busted through FIVE deliberation phases. That's a great reflection on how great an idea this is.

We collectively deemed this proposal `Outstanding` which makes

[2017-09-06 18:08] aromartins commented on #348
Hi, apologies for the delay we have been considering the feasibility. Will
reach out with a final answer today still.
Thank you for your patience.

On Wed 6 Sep 2017 at 01:37 Kenyatta <notifications@github.com> wrote:

--

Ana Raquel O Martins
PharmD, PhD (Neuroscience)

[2017-09-06 18:11] bunnybooboo commented on #715
Hey Karina I'm sorry to have to communicate that this proposal did not make the final selection in the Privacy and Security space. You did such a superb job though, that we collectively agreed that it was `Outstanding`. It's so tough having to ultimately reject such high quality sessions like this idea.

Thanks so much for taking the time to send is your proposal and your patience in this rigorous

[2017-09-06 18:19] bunnybooboo commented on #802
AaaGhhh!! I'm sorry Dragana but we've been unable to take you proposal into the final Privacy and Security program schedule. We've collectively agreed it was so good we marked it as `Outstanding`. Really hard to have to say no to such a great proposal.

It's been very inspiring to us to experience such passion for communicating Privacy and Security amongst our peers. Thanks for taking the time to

[2017-09-06 18:22] kenyatta1 commented on #149
@Sylvia-Kanari Just wanted to send you an update. I’ll be removing the Digital Inclusion milestone.  You may receive an email from the Mozfest team closing out your proposal.  If you are able to secure alternative funding, just reach back out to the digital inclusion team and we will gladly reopen your session proposal.

[2017-09-06 18:27] Melechuga commented on #556
Hey @cubicgarden  -- thanks for being on top of things! I'll take all discussions about stipends from here (and probably off of GH).

Hi Renata @avilarenata
Let's talk about this over email; I wrote to your webfoundation address -- is that the right one?

[2017-09-06 18:36] KirstieJane commented on #628
✨ Thank you @msaunby!

[2017-09-06 18:38] KirstieJane commented on #506
Fantastic! Thank you @Monsauce! You'll get a form "rejection" email this week, but please don't worry. We'll be putting you in touch with Chris early next week so you can figure out plans ✨

[2017-09-06 18:40] KirstieJane commented on #421
Hi @Saallen @erikao @Solanasaurus @georgiamoon - very happy for this to be in whichever space makes most sense. I'm not going to remove the milestone *just in case* you accidentally get rejected, but please reassign to whichever label makes most sense! Very excited about the installation ✨

[2017-09-06 18:44] KirstieJane commented on #99
Thank you @cubicgarden! @mehan and @jenntbeard, given that you're going to be wrangling the Open Innovation space, I'm thinking that we should accept this session! I'm adding the Open Innovation milestone back on! ✨

(Let me know if you'd rather not facilitate as well as wrangle, but I get the feeling you can kick ass at both!)

[2017-09-06 18:45] aromartins commented on #348
Due to logistics, our session would have to be led no earlier than in the
late afternoon Saturday - would this be an issue?

On Wed 6 Sep 2017 at 20:08 Raquel Martins <rachovsky@gmail.com> wrote:

Ana Raquel O Martins
PharmD, PhD (Neuroscience)

[2017-09-06 18:45] KirstieJane commented on #19
Let's do it! I'm adding the milestone! ✨ 🙌

[2017-09-06 18:46] bunnybooboo commented on #457
Hey @PatrickWeaver you did a really top job with this proposal. Unfortunately the Privacy and Security team have been unable to take this through to our final schedule. It was so close!! And we collective marked it as `Outstanding` which made this final phase all the more difficult.

We ended up with over 170 proposals to run through in only 4 weeks in this space. It's been genuinely inspiring to

[2017-09-06 18:47] KirstieJane commented on #82
Let's do it! I've added the Open Innovation milestone! ✨ 🎈 🍰

[2017-09-06 18:54] kenyatta1 commented on #648
@stepaola . we would like to offer a travel stipend however we only have one available. Would you be able to facilitate this session with one presenter and perhaps the others remotely?

[2017-09-06 18:56] bunnybooboo commented on #232
You folks know I loved this proposal. I personally asked my network to send us proposals and you certainly delivered. I'm really sorry to say that we have been unable to take you through to our final schedule. We even marked this as `Outstanding` and having to refuse such high quality ideas is tough on us.

To see our network of peers outputting such highly ethical Privacy and Security related eff

[2017-09-06 18:56] KirstieJane commented on #247
Thank you @phillipadsmith! Just confirming that there's no milestone on this issue so @Audesome will get a form "rejection" email later this week, but we would still love for you and @secmorris to work together! We're looking forward to seeing you both at MozFest!

[2017-09-06 18:58] KirstieJane commented on #682
Let's do it! We can take a look at the schedule and see where it fits best! Really important topic! 🙌

[2017-09-06 19:00] KirstieJane commented on #72
Thank you @auremoser. I agree. Unfortunately we are not going to be able to accept this session.

@ManrajGrover as @bunnybooboo pointed out - there really are so many incredible sessions that it's terribly hard to make our decisions, and saying no to Duck Duck Go is one of those moments. Thank you so much for submitting your proposal.

[2017-09-06 19:03] KirstieJane commented on #179
Milestone added!

[2017-09-06 19:05] KirstieJane commented on #570
I'm removing the Open Innovation milestone. @npscience, you'll get a form "rejection" email for this session, but that's just paperwork: we'd love for you to merge the idea with #757! Thank you for all the great proposals ✨

[2017-09-06 19:06] leahcatherine commented on #647
@Mothercyborg

On behalf of the Digital Inclusion team for the Mozilla Festival, I'd like to invite you to join us in London for MozFest from October 26th - 29th, 2017 at Ravensbourne College!

We think you'd make a valuable contribution to the event, and to support your participation, we would like to offer you a travel and accommodation stipend. **As an invitee, your accommodation and travel cos

[2017-09-06 19:07] mozfest-bot opened #854 "Finding Fantastic Mr (fire)Fox | Build your own Pi-powered camera trap"
**[ UUID ]** be8d83d8-2a43-445a-a0d3-2ba7a412aed3

**[ Session Name ]** Finding Fantastic Mr (fire)Fox | Build your own Pi-powered camera trap
**[ Primary Space ]** Youth Zone

**[ Submitter's Name ]** Alasdair Davies
**[ Submitter's Affiliated Organisation ]** Arribada Initiative & Naturebytes
**[ Submitter's Github ]** al2ka

**[ Additional facilitators ]** Michael Sunbury,Jon Rodgers,Stephen Mo

[2017-09-06 19:09] bunnybooboo commented on #388
@ameellio I'm gutted to have to tell you that we've been unable to take your proposal to the final Privacy and Security schedule. You made it through FIVE selection phases which in itself is an amazing achievement.

Such top quality ideas like these make our task all the harder, and we'd even collectively marked it as `Outstanding`. Seeing our network of peers communicating Privacy and Security in

[2017-09-06 19:10] kenyatta1 commented on #325
@hicagoChickTech Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-06 19:11] kenyatta1 commented on #647
@Mothercyborg  Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-06 19:19] bunnybooboo commented on #287
Hey @biancadanforth we discussed your proposal at length. Ultimately, we've been unable to take this idea through to our final Privacy and Security schedule. It was so good, it was one that we marked as `Outstanding`, and after making it through FIVE deliberation phases we absolutely mean it.

Thank you for taking the creative time to send such a brilliant proposal to us. To see people like you sw

[2017-09-06 19:19] aromartins commented on #348
Hello again,
I am tentative on being able to take a vacation day on Monday 30th October
to accommodate travel and should hear from employer on this matter by
tomorrow. I also notice that the tickets cost ~45pounds - am I right to
assume we will get free admission ? If so, would it be possible to get one
extra ticket for my wife who will be traveling w me?

On Wed 6 Sep 2017 at 20:45 Raquel Martins

[2017-09-06 19:21] SamanthaHindle commented on #570
Hi @KirstieJane
I would love to work with @npscience and @dasaderi and merge with our #757 proposal. Thank you so much for all your hard work, and sorry for my delayed reply.

[2017-09-06 19:29] kenyatta1 commented on #348
@aromartins I'm finding your responses very hard to follow.  Can you conduct the session by yourself and have your other facilitators participate remotely?  We only have 1 travel stipend.  We can figure out the other logistics later.  Please confirm within 30mins or this stipend will be reallocated.

[2017-09-06 19:35] bunnybooboo commented on #475
Confirming receipt of the the requested information.

[2017-09-06 19:37] bunnybooboo commented on #510
Confirming receipt of the requested information.

[2017-09-06 19:38] Mike321123 commented on #787
@shwetal27 - I just wanted to check-in with you & see if there was anything else I can share with you about the session.  I like your idea around gamification!  I can be available for a skype call, just let me know.

[2017-09-06 19:40] bunnybooboo commented on #615
@Saallen ^^

[2017-09-06 19:51] bunnybooboo commented on #642
Hey Susan this was a really great proposal. Hence why I escalated it! Unfortunately we've been unable to bring this through to the final Privacy and Security schedule. It was one we marked as `Outstanding` so please appreciate how solid an idea we thought it was.

Seeing a network of Privacy and Security peers send us such brilliant ideas is a real thrill. It's our first year with a P&S space at M

[2017-09-06 19:54] prefontaine commented on #710
@rtufail Pinging you in case this aligns with any other engagement / movement-building efforts at MozFest.

[2017-09-06 20:01] prefontaine commented on #710
Also... I think the title needs work. Needs to be shifted to speak more to festival participants. Ideas? @OpenMatt @ankuhl

[2017-09-06 20:02] kenyatta1 commented on #348
@aromartins Hello Ana, we've reallocated the stipend to another session.  We also realized that you would be unable to attend the session facilitators meeting scheduled for Friday morning, Oct 27th.  Thank you for submitting a fantastic proposal.  I'll be removing the milestone.

[2017-09-06 20:03] bunnybooboo commented on #719
Hey @zminster this was a top quality proposal! We even marked it `Outstanding` in our deliberation process, but unfortunately we've been unable to bring this in to our final Privacy and Security schedule.

You made it through FIVE selection phases and that's a true indication of how difficult it is to finally have to say no to you. We get such a buzz seeing peers in our network output such engagin

[2017-09-06 20:21] billfitzgerald commented on #530
Woohoo! We are all very excited!!!!

[2017-09-06 20:24] XtianBerrisoup commented on #648
@stepaola - Nos gustaría ofrecer un estipendio de viaje, pero solo tenemos uno disponible. ¿Podrías facilitar esta sesión con un presentador y quizá los otros a distancia (por video)?

[2017-09-06 20:36] biancadanforth commented on #287
Okay no problem, thank you for considering me. :)

[2017-09-06 20:57] bunnybooboo commented on #196
Confirming receipt of the requested information.

[2017-09-06 21:01] bunnybooboo commented on #319
Confirming receipt of the requested information.

[2017-09-06 21:02] shwetal27 commented on #787
Hi @Mike321123 I am happy with the session the way it is flowing now, I am not available to skype until Monday next week, so if there is anything in particular you would like to discuss let me know

[2017-09-06 21:10] Mike321123 commented on #787
@shwetal27 - does this mean the session is accepted?

[2017-09-06 21:27] aromartins commented on #348
Hi Kenyatta - the issue I was trying to make clear was that the session
would not work with only one moderator present and we were determining the
feasibility of the others self funding which is why it took a bit of time.
Once that was established, we were working on setting up logistics. I was
not aware of such a tight deadline for a decision, but in any case thank
you for your time spent in this

[2017-09-06 21:30] npscience commented on #570
My sincere apologies for the radio silence!

Many thanks for handling @KirstieJane, and yes I'd absolutely like to work with @dasaderi and @SamanthaHindle on their proposal. As said, let's discuss this on our upcoming call!

Thanks so much to everyone who showed interest here. Do join the convo at #757

[2017-09-06 21:40] bunnybooboo commented on #255
Hi @RibeiroAna apologies for big delay here. We go through a number of phases during our selection process, well the Privacy and Security wranglers did - I can't speak for other spaces. At some points we looked at different aspects than previously. Some of those aspects helped us shape the overall experience of our space.

Don't be too hung up on the choice of words there, it was just a snapshot i

[2017-09-06 21:53] shwetal27 commented on #787
Yes congratulations, the youth zone have accepted this session

On 6 Sep 2017 23:52, "Michael Lemon" <notifications@github.com> wrote:

[2017-09-06 22:24] RibeiroAna commented on #255
Thank you @bunnybooboo ! Your feedback was useful for make me think about how to make a more dynamic session! If I apply for next year's Mozfest, I'll definitely take this into consideration. Meanwhile, if there is some other event where I could do this or other sessions, I would be open! I love speaking haha =)

[2017-09-06 22:24] bunnybooboo commented on #187
FINALLY I'm able to get back to you @rdanieloliver, I know right!?

I really like this proposal. I also absolutely loved your responses above. It fills me excitement to read someone so switched on to Privacy and Security. You're undoubtedly a strong part of our peer network. Great work!

It meant a lot to me to personally try everything I could to get your team as far as possible through our selec

[2017-09-06 22:30] flukeout commented on #171
@siddhartharao17 Unfortunately, we are all full up in the Web Literacy space and have awarded all of our travel stipends. We will be unable to accept your session, thank you for your understanding.

[2017-09-06 22:50] flukeout commented on #803
Discussed with @grigoryk - will not be accepting the session, but he's agreed to help us out with the "Thimble Zone" (cc @jonathanprozzi)

[2017-09-06 22:58] AndreaPocketsChange commented on #733
Looking forward to being part of Mozfest. I was able to secure another funding source to cover my travel. Thank you! cc @XtianBerrisoup @flukeout

[2017-09-06 23:12] Mike321123 commented on #787
@shwetal27 - wonderful! Thank you!

[2017-09-07 02:25] chrislarry33 commented on #530
Hi Bill!

Our paths cross again! Exciting you will be coming to Mozfest.

Sent from my iPhone

[2017-09-07 04:29] billfitzgerald commented on #530
Hello, @chrislarry33 !

Really looking forward to it! It'll be great to catch up!

[2017-09-07 07:14] EPIKhub commented on #188
@syswsi Ill take your session into the youth zone

[2017-09-07 07:24] EPIKhub commented on #284
Holding session for further discuson

[2017-09-07 07:45] EPIKhub commented on #782
Holding session for further discusion

[2017-09-07 07:49] EPIKhub commented on #356
@ashwin-phadke the team felt we could not accept this session in the end, please do apply again next year.

[2017-09-07 07:53] EPIKhub commented on #170
@tbalouet your session has been accepted into the youth zone, also awarded to you is 1 stipend, please reach out to other funding options for your co-facilitators

[2017-09-07 09:14] Saallen commented on #710
@prefontaine please dont make any edits to title or description comment- add new comment below with updated title or text- there is a script running and if you delete anything from the top comment you break the script and the session will not appear on our schedule 🔥

[2017-09-07 09:28] Saallen commented on #615
@cubicgarden do you want this session in your space?

[2017-09-07 09:31] EPIKhub commented on #110
@poojapurswani Ive accepted this session for our VR track together with the Pi musical stairs and the Pi tweeter bot. The stipend will cover 1 persons travel and accomodation, the room can be a double room so you could share it with your co-facilitator but @dimonga will have to fund his own travel.

[2017-09-07 09:34] jontutcher commented on #615
This looks good, am double checking with @maboa that we can schedule it! Is it still going to be pan-space, touring around type of thing?

[2017-09-07 09:36] Saallen commented on #421
hello Digital inclusion team @sedgwickkm @kenyatta1 @XtianBerrisoup - as you are secondary label here, you get first refusal- would you like this session in your space or can I take it?

[2017-09-07 09:37] Saallen commented on #615
Morning @jontutcher
Pan space means sitting outside of a space specific floor- we will have an area for the IH report team outside of a space area. Love the touring idea though :)

[2017-09-07 09:47] EPIKhub commented on #192
@msaunby as this session is primarly a demo - we dont feel it would work as part of our theme this year so will remove our lable - Sorry this session has not made it past our final curation stage

[2017-09-07 09:52] ghost commented on #170
That's a really great news Dorine! Thanks for accepting us!
For the stipend one of us is based in London, so all good, the two others are based in Lille (France) and Brussels (Belgium). One of us could find a place to stay in London so would eventually just need transportation mean, the other is looking for something similar, should be fixed by mid-september.

What would be the next discussion ste

[2017-09-07 09:58] emrysgreen commented on #175
Hiya @phillipadsmith is this one you are programming to Open Innovation too under the youth led strand?

[2017-09-07 10:00] emrysgreen commented on #542
Hiya @flukeout - this currently has no milestone.  Are you guys happy to programme this in to Web Literacy?  It is an @ArtsAward centre with a year 6 pupil helping to lead the session so will be a great youth led one.

[2017-09-07 10:04] EPIKhub commented on #170
@tbalouet when you confirm your details with the Mozilla travel team you can opt to pay extra for 1 person to have a double twin room, I think its like £20 ish that might help you a bit

[2017-09-07 10:06] EPIKhub commented on #170
@tbalouet - From a logistics side of things please plan to be at the festival from FRIDAY 27th Oct 9am as you are part of our Youth Zone VR lab.

[2017-09-07 10:09] emrysgreen commented on #190
Just to confirm @flukeout I have allocated this in my list as a Youth Zone session; unless you have wanted to include additionally in the Web Lit space? Just making sure we've got a consistent list

[2017-09-07 10:10] emrysgreen commented on #254
Wonderful.  Thanks @edovio

[2017-09-07 10:11] emrysgreen commented on #251
Wonderful, thanks @kenyatta1

[2017-09-07 10:11] emrysgreen commented on #853
Wonderful, thanks @bunnybooboo

[2017-09-07 10:22] emrysgreen commented on #446
I just added the web lit milestone for you @edovio - hope that's ok

[2017-09-07 10:23] EPIKhub commented on #112
Stipend awarded to When VR meets Internet of things: Life beyond second life #110 same facilitator

[2017-09-07 10:23] EPIKhub commented on #133
Stipend awarded to When VR meets Internet of things: Life beyond second life #110 same facilitator

[2017-09-07 10:27] HollyBurton commented on #613
Hi

Really sorry for slow reply - I've been working with the group to decide on what we'd like to do...

and now I have an update on our session idea:

The young people would really like to work with batch.works - [](https://batch.works/ ) - they print for and collaborate with others, to make 3D printed consumer products part of people's everyday lives.

The initial idea is:

60 minute sessions on

[2017-09-07 10:30] emrysgreen commented on #613
This sounds fantastic @HollyBurton - great to have something tangible to take away.  But it is @EPIKhub space so will let Dorine come back with thoughts and advice on your questions :)

[2017-09-07 10:44] EPIKhub commented on #613
@HollyBurton sounds good at this end re the plan. Logistics wise we would need to have a conversation with batch.works on GitHub so we can ask technical questions :) so please invite them to create a GitHub account and share their username. Once we've got the tech questions out of the way, we can look at how many session/s are feasable.

[2017-09-07 10:49] EPIKhub commented on #613
@gbaman should we settup a print lab to house this and other related stuff in one of the small rooms?

[2017-09-07 10:51] HollyBurton commented on #613
Ah really pleased you like the idea! I'm speaking to the batch.work lot tomorrow morning so I'll ask them to create a GitHub account and join the conversation.

I'm on holiday from tomorrow until next Thursday 14th but if they sign up then hopefully you can continue the conversation with them until I get back

[2017-09-07 10:52] cvitolo commented on #192
I'd like to add two additional facilitators: Gordon Rates and Laurens Geffert (@JanLauGe)

[2017-09-07 11:41] prefontaine commented on #710
@saallen Oh no! Noted. My apologies.

[2017-09-07 12:47] JanLauGe commented on #192
Thanks!
Gordon Rates is @wegiangb

[2017-09-07 13:02] Saallen commented on #615
Morning @jontutcher
Pan space means sitting outside of a space specific floor- we will have an area for the IH report team outside of a space area. Love the touring idea though :)

[2017-09-07 13:02] Saallen commented on #421
hello Digital inclusion team @sedgwickkm @kenyatta1 @XtianBerrisoup - as you are secondary label here, you get first refusal- would you like this session in your space or can I take it?

[2017-09-07 13:33] dwhly commented on #570
Hi!  A note that I will try to be there for Mozfest, and was planning to attend and would be delighted to bring the viewpoint of Hypothesis with respect to supporting annotation via open source software.

[2017-09-07 13:52] jessicarose commented on #813
So excited to be joining you all soon

[2017-09-07 13:54] TopeOgundipe commented on #63
Hi Melissa, @Melechuga
Hi David  @bunnybooboo
My name is Tope Ogundipe, Director of Programs at Paradigm Initiative, where @TomiwaIlori works as a program assistant supporting our digital rights advocacy program. Tomiwa would be leaving our organization soon, and I want to have a conversation about what is required to transfer his sponsorship to his manager; Boye (he is yet to be included on this

[2017-09-07 13:59] jontutcher commented on #615
@Saallen @Solanasaurus Confirmed with the team - we're happy to host this in decentralization.

So the team will have a physical space outside of decentralization for the whole of mozfest, but will be doing a 60 min session in a decentralization space at some point over the weekend? Sorry if I'm not getting it - just trying to clarify how much space/time we need to schedule, or how else the sessio

[2017-09-07 14:11] ppolsinelli commented on #52
Here is the GitHub [CoopsAndDragons](https://github.com/ppolsinelli/CoopsAndDragons) where the game will be published; you can already find the design of the full card deck and player deck boards.

[2017-09-07 15:37] mgoessen commented on #704
Hi @bunnybooboo !

No worries, we saw the amount of proposal and are sure that difficult choices has to be made.

We will sure continue to work on this topic. Feel free to reach me at mathieu@mozfr.org if you want to discuss a bit more about (or cryptobib-request@groupes.renater.fr, also read by the others).

Anyway, thanks for your work, and enjoy the Mozfest !

Cheers,

[2017-09-07 15:42] arroway commented on #289
Hello @rowdymehul,
thank you for your enthusiasm and your commitment! :)
As you might know, we received a huge amount of sessions for MozFest, and the final decisions are really tough to take, as we have to balance our decisions with a number of competing factors.
Your proposal made it until the very last round - which demonstrates its qualities -, but I'm sorry to tell you it is not part of the a

[2017-09-07 16:14] flukeout commented on #542
Yes, adding now - sorry about the confusion.

[2017-09-07 16:22] emrysgreen commented on #542
Cool thanks @flukeout :)

[2017-09-07 16:47] kenyatta1 commented on #628
@msaunby how about combining this with https://github.com/MozillaFoundation/mozfest-program-2017/issues/251

[2017-09-07 16:49] npscience commented on #570
Hi @dwhly - thank you! I'll repost this on #757 for follow up.

[2017-09-07 16:51] kenyatta1 commented on #406
@danaevalentina . Great news!  Please check your email and respond ASAP!

[2017-09-07 16:51] npscience commented on #757
Dan whaley @dwhly from hypothesis has offered to give his view on annotating

[2017-09-07 18:06] poojapurswani commented on #110
@EPIKhub  Thanks a lot for selecting this proposal and awarding the stipend, however, I am afraid that it would be not possible for me to handle the event alone as my co-facilitator @dimonga is a student and would not be able to arrange the fund for his travel. He is the one who does most part of the assembly and testing of hardware, while I take care of code, presentation and some part of the har

[2017-09-07 18:11] Melechuga commented on #63
Hi @TopeOgundipe -
Thanks for being in touch! I've reached out to both @TomiwaIlori and Boye via email. There's no problem is having Boye join us in MozFest to facilitate this session. If we could move this conversation to email, that might be easier -- please ask Tomiwa or Boye to add you into the thread if needed. Thanks!
Melissa

[2017-09-07 19:05] EPIKhub commented on #110
@poojapurswani -  Thank you for the quick response. Unfortunately all stipends have been allocated and in each case all stipends awards are for 1 person only. As this session require the both of you I unfortunately have no choice but to withraw our offer of a stipend. Please do apply again next year! cc/ @Saallen

[2017-09-07 19:09] dimonga commented on #110
@EPIKhub Okay thanks for letting me know, please do not withdraw the stipend, as we are trying to get the stipend arranged from other sources for @dimonga, in worst case if anything is not arranged for my co-facilitator, I can bring the already build setup and showcase it there

[2017-09-07 19:10] poojapurswani commented on #110
@EPIKhub Okay thanks for letting me know, please do not withdraw the stipend, as we are trying to get the stipend arranged from other sources for @dimonga, in worst case if anything is not arranged for my co-facilitator, I can bring the already build setup and showcase it there

[2017-09-07 19:13] EPIKhub commented on #110
@poojapurswani I feel that on balance now you having explained the situation that the session/s would not be a good fit simply as a demo, I am really sorry but as this is a team piece this session should run as a team or not at all. cc/ @Saallen

[2017-09-07 19:24] flukeout commented on #190
Hey @emrysgreen - were you thinking to have this session run twice, once in each space? We seem to have quite a full set of sessions, so would be OK to exclude this one. Let me know.

[2017-09-07 19:31] poojapurswani commented on #110
@EPIKhub Thanks for info, I will keep you updated once travel stipend for my co-facilitator is arranged

[2017-09-07 19:34] lequanne commented on #783
Thank you again!

[2017-09-07 20:25] Solanasaurus commented on #615
Hi @jontutcher that sounds exactly right, we wanted a session on the program. To make it fit well in the space, we can give special attention to decentralization topics in the conversation.

[2017-09-07 21:15] TessaSproule commented on #737
We're in and good with attending without a stipend :)

[2017-09-07 21:21] sedgwickkm commented on #336
Congratulations! We are very happy to announce that we have accepted your session at the festival this year! We will be in touch with additional information in the coming weeks.

[2017-09-07 21:36] emrysgreen commented on #190
Hiya,

That was my thought - they're getting a stipend so also thought would be good to make best use of it, but running just once on Youth Zone is fine as you do have many sessions!

Emrys Green MInstLM LCGI FRSA BA(Hons)
www.cloudartisans.co.uk
07905 253099

Please consider the environment when printing this email.  Please refer to the sending domain's terms and conditions for Email usage & data

[2017-09-08 01:40] kenyatta1 commented on #421
@KirstieJane @Saallen We could but do not have anymore stipends to allocate.

[2017-09-08 06:13] likhitha20 commented on #485
Hello @flukeout
I just wanted to confirm if there is any chance my session would be selected. We are awaiting for your response. Hoping to hear a positive reply.
Thank you.

[2017-09-08 10:34] mozfest-bot opened #855 "Artist Open studio + Xiao Mina"
**[ UUID ]** d8d58397-d1d9-45d9-a4f7-6ad9c4c44821

**[ Session Name ]** Artist Open studio + Xiao Mina
**[ Primary Space ]** Web Literacy

**[ Submitter's Name ]** Xiao Mina

### What will happen in your session?
Technologist, writer and artist, An Xiao Mina, leads the product team at Meedan where they are building Check, a platform for collaboratively verifying news in real time, and Bridge, a pl

[2017-09-08 10:36] mozfest-bot opened #856 "Artist Open Studio + Paolo Cirio"
**[ UUID ]** 5d45ef6b-b2a9-4bd6-9423-9a2a75fece93

**[ Session Name ]** Artist Open Studio + Paolo Cirio
**[ Primary Space ]** Privacy and Security

**[ Submitter's Name ]** Paolo Cirio

### What will happen in your session?
Paolo Cirio’s art practice considers how society is affected by the distribution, organization, and control of information. He engages with legal, economic, and semiotic syste

[2017-09-08 10:38] mozfest-bot opened #857 "Artist Open Studio + Archana Prasad"
**[ UUID ]** 7b4ea499-b7db-461a-8d1b-163e6fcce8bb

**[ Session Name ]** Artist Open Studio + Archana Prasad
**[ Primary Space ]** Decentralization

**[ Submitter's Name ]** Archana Prasad

### What will happen in your session?
Archana, whose work brings together visual art, technology and urban community art, steeped in design and research methodologies, has been actively engaged with community ar

[2017-09-08 10:39] mozfest-bot opened #858 "Artist Open Studio + Gretta Louw"
**[ UUID ]** 22ebf4f9-2d22-4e77-997c-7a77d8339531

**[ Session Name ]** Artist Open Studio + Gretta Louw
**[ Primary Space ]** Open Innovation

**[ Submitter's Name ]** Gretta Louw

### What will happen in your session?
German-Australian artist, curator and writer, Gretta Louw, is working predominantly with digital media and networked performance. Her artistic practice explores how new digital tec

[2017-09-08 10:41] mozfest-bot opened #859 "Artist Open Studio + Brooklyn J. Pakathi"
**[ UUID ]** fc0d8de3-0458-44c7-b5cf-0fb2eeb55cf0

**[ Session Name ]** Artist Open Studio + Brooklyn J. Pakathi
**[ Primary Space ]** Digital Inclusion

**[ Submitter's Name ]** Brooklyn J. Pakathi

### What will happen in your session?
South African filmmaker and photographer, Brooklyn Pakathi’s work explores the self, identity, youth culture and how technology and the internet can shape these.

[2017-09-08 10:41] marcwalsh commented on #371
Hi @dyalekt - after speaking with @Saallen we think this is a great fit for between talk in our D&D space. @XtianBerrisoup will help with arranging your travel and accommodation at MozFest. We can't wait to see you in London.

Let's have a catch up soon about the artwork work and the layout of the space, and I'll forward you on floor plans once I have them.

Cheers,

Marc

[2017-09-08 10:41] Saallen commented on #769
Hi @annmarie123 we would love to see this session happen at MozFest.
We will have a set area for sessions that sit outside a space, but are still on the schedule.
Would you be interested in still running this session but in our emergent session area?

[2017-09-08 10:43] marcwalsh commented on #852
Closing - Submitted incorrectly.

[2017-09-08 10:43] #852 closed, assigned to nobody

[2017-09-08 10:43] marcwalsh commented on #851
Closing - Submitted incorrectly.

[2017-09-08 10:43] #851 closed, assigned to nobody

[2017-09-08 10:43] marcwalsh commented on #850
Closing - Submitted incorrectly.

[2017-09-08 10:43] #850 closed, assigned to nobody

[2017-09-08 10:43] marcwalsh commented on #849
Closing - Submitted incorrectly.

[2017-09-08 10:43] #849 closed, assigned to nobody

[2017-09-08 10:43] marcwalsh commented on #848
Closing - Submitted incorrectly.

[2017-09-08 10:43] #848 closed, assigned to nobody

[2017-09-08 10:46] marcwalsh commented on #694
Reopening to ensure the submitted receives an email update.

[2017-09-08 10:46] mozfest-bot opened #860 "Do we live in a world where inclusion is for all?"
**[ UUID ]** 5844f0dd-e29b-4ff3-95cd-6d310504e0a3

**[ Session Name ]** Do we live in a world where inclusion is for all?
**[ Primary Space ]** Privacy and Security

**[ Submitter's Name ]** Hannah Prentice

### What will happen in your session?
Start of session, I will introduce myself and speak bit about my background [living with Tourettes] and why I am here today. Set them a task to work in pa

[2017-09-08 10:46] Saallen commented on #493
Hi @Wiroll We think this could be interesting.
We will have space at the venue that you can schedule a session that sits outside the spaces.
If you are happy to have your installation, running all weekend and schedule a time for the dialogue we would be happy to cater for it

[2017-09-08 10:47] marcwalsh commented on #853
Closing - Submitted incorrectly. Replaced with #860

[2017-09-08 10:47] #853 closed, assigned to nobody

[2017-09-08 10:47] annmarie123 commented on #769
@Saallen Absolutely! Just send me details about the emergent area space you are planning when you can so I can adjust the presentation accordingly. Thanks!

[2017-09-08 10:49] batch-works commented on #613
Hi, this is Dylan from Batch.Works. Really glad you all like the idea for the workshop, we're really excited to make it happen! Thanks @HollyBurton. @EPIKhub fire away any technical questions you may have - we may not be able to answer all of them yet, but I'll do my best.

[2017-09-08 10:53] emrysgreen commented on #419
Hi @EPIKhub & @flukeout - Helix have asked if they can be scheduled for Saturday currently because they'll travel down for the briefing Friday and then may have to travel back Saturday depending on the price of the hotels they need to get for the group.  Hopefully they can stretch it to Sunday morning attendance too but being cautious on budget...  Is that Ok to consider in your scheduling please?

[2017-09-08 10:53] Saallen commented on #258
HI @kristiprogri, unfortunately, we don't have stipends available for the science fair.
sorry and hopefully we can get you to MozFest next year

[2017-09-08 10:54] emrysgreen commented on #254
Hiya @edovio & @flukeout - please could we request that the session is scheduled somewhere between 2pm Saturday & 2pm Sunday as they will likely need to travel down from Scotland and back again.  Is that OK to consider in your scheduling please?

[2017-09-08 11:05] TopeOgundipe commented on #63
Thank you @Melechuga I have done as you suggested.

[2017-09-08 11:08] EPIKhub commented on #419
@emrysgreen @flukeout I was hoping they would stay in the youth zone from at least Lunch onwards on Sat as I would like to invite them to take part in the fire side chat we are organising for youth. Additionally we are hosting training for youth on Friday 13:00 onwards to prepare for the fire side chat and as their primary space is the youth zone on Friday they should be with our group.

[2017-09-08 11:11] emrysgreen commented on #419
Thanks @EPIKhub - could you also send me some details on the youth training plan as where youth led track participants are coming - is it worth them aiming to join that even if presenting in other spaces?

[2017-09-08 11:21] EPIKhub commented on #613
@batch-works awesome to have you with us, looking forward to the collaboration. @gbaman our technical lead is on hols right now, he will have questions. Some logistics questions first:

1. Do you plan to be at the festival for the full 3 days? Friday is settup day for incoming gear and training for facilitators.
2. How much time does it take to settup your gear?
3. What's your print time per item

[2017-09-08 11:28] EPIKhub commented on #419
@emrysgreen @flukeout - "ALL" session leaders leading in the youth zone as their primary space (i.e has our milestone) will be expected to attend the Friday youth zone gathering and be part of our group. We are drafting an email to all our accepted sessions to that effect, once the email is ready Ill cc you in the email. cc/ @Saallen

[2017-09-08 11:39] emrysgreen commented on #419
That's great @EPIKhub .  But I'm just thinking about those who are accepted under web lit etc only - is it worth inviting those session leaders too where possible in order to retain the valuable connection with the youth zone? Ofcourse some won't make it on other days due to the costs - even with Arts Award support it may not cover 2 nights unfortunately; although happy to try and work that up som

[2017-09-08 11:47] bunnybooboo commented on #63
Logistics internal details have been edited accordingly. This issue can be edited to reflect this change, ahead of Mozfest Program deadline, at a later date.

[2017-09-08 11:49] EPIKhub commented on #419
@emrysgreen - Any young person leading at MozFest is welcome to be part of our Friday youth zone group and would be very welcome irrespective of of which is their primary space allocation. That said, traditionally what happens as part of the big "Gathering" is we get sorted into our primary spaces as one big group. We then after the end of the training we get during the gathering go to our invidid

[2017-09-08 11:51] emrysgreen commented on #419
Awesome.  Let's chat some more offline then @EPIKhub and we'll work out how best to treat this aspect.  There'll be a little bit of working out how many / who we'll have around and I'll perhaps pick up with Dirk too.

[2017-09-08 12:57] mozfest-bot opened #861 "Designing Network-Centric Resources"
**[ UUID ]** d3adc869-1486-43d0-aa2e-001cdc1618d6

**[ Session Name ]**  Designing Network-Centric Resources
**[ Primary Space ]** Digital Inclusion
**[ Secondary Space ]** Web Literacy

**[ Submitter's Name ]** Dirk Slater

### What will happen in your session?
 In this session we will look at what it takes to design resources that are people powered and participatory, and support the sharing and

[2017-09-08 13:02] EsmeSimcox commented on #861
Hey @kenyatta1  @hannahkane  @joenash  @msaunby @sedgwickkm @ArtsAward @flukeout @jonathanprozzi @mwakaswanga @edovio This is a proposal from one of our facilitator Dirk, who was on the call last night, and is helping with the facilitator training. This session would be great for one of spaces! But if you can't fit into your space no worries, just comment below and we can fit this into one of the

[2017-09-08 13:27] jessicarose commented on #813
If there's any way to not book this on the Sunday, that would be massively helpful for me in being able to also cover another volunteer opportunity!

[2017-09-08 13:40] kenyatta1 commented on #813
@hannahkane flagging the above request for scheduling.

[2017-09-08 14:43] bunnybooboo commented on #815
Confirming receipt of email requested information.

[2017-09-08 14:45] prefontaine commented on #710
@kaodro Here are the questions https://storyengine.io/questions/

[2017-09-08 14:48] georgiamoon commented on #784
I'll be there too! Sounds good. Thanks all!

[2017-09-08 14:49] georgiamoon commented on #539
thanks @edovio ! see you there!

[2017-09-08 15:35] kenyatta1 commented on #861
@EsmeSimcox Thanks for the ping but I think we are good to go in the DI space.  I'll be removing the milestone.

[2017-09-08 15:54] flukeout commented on #545
Hi @01fade - unfortunately we will be unable to accommodate your session at this year's festival in our space. It sounds like an interesting session but feel that the concepts might be a bit advanced for the type of audience we are aiming for. Thanks for your understanding.

[2017-09-08 15:55] flukeout commented on #566
@khoslamegha - unfortunately we will not be accepting your session in the Web Literacy space this year. Thank you for applying and thank you for understanding - we had many session proposals and not enough space and stipends for everyone.

[2017-09-08 16:02] hannahkane commented on #260
@Saallen - Starting to work on scheduling now. Is it possible to include this in the Friday demo party?

[2017-09-08 16:10] millzpaugh commented on #236
@bunnybooboo Do you know when I'll hear about whether this proposal was accepted? Thanks!

[2017-09-08 16:10] flukeout commented on #485
Hello @likhitha20 - unfortunately we are not accepting your session for this year's festival. There were very many submissions and only a few travel stipends to give away so we had to make some tough decisions. Thank you for your understanding and for submitting your proposal.

[2017-09-08 16:26] bunnybooboo commented on #236
Should be any day @millzpaugh. Some teams have been running full pelt last couple of days to get things finalised. Sorry if comms has been non-existent on this one. Absolutely unintentional. Focus has been getting all cards in order. I'm a big fan of Mapbox, but no idea the type of schedule they're putting together in this space.

[2017-09-08 16:35] millzpaugh commented on #236
@bunnybooboo Thanks for the update!

[2017-09-08 17:04] Saallen commented on #573
Hi @npscience this session has not been accepted under a space - but we can have this session take place in our emergent session areas- that sits outside the space- let me know if this is of interest?

[2017-09-08 17:09] Saallen commented on #411
@chloeatplay we have plenty of space at mozFest this year for emergent sessions and will have tables ppl can grab to host sessions over the weekend- do you think you will make it over without a stipend?

[2017-09-08 17:12] Saallen commented on #214
Hi @chadsansing it appears that this session has not been accepted within a space however at Mozfest this year we have emergent session space, that sits outside a space and can host sessions all weekend- would this be of interest?

[2017-09-08 17:13] chadsansing commented on #214
Yes, @Saallen - and it might include an Open Leadership Map focus group piece.

[2017-09-08 18:18] chloeatplay commented on #411
hey @Saallen unfortunately not! thanks for the suggestion though :)

[2017-09-08 18:28] gmillener commented on #779
Thank you, @KirstieJane! (We do our best.)

[2017-09-08 18:31] flukeout commented on #41
Hello @shillontheroad - unfortunately we have decided not to include your session in the Web Literacy Space this year. We had many excellent submissions and unfortunately could accommodate only a small amount. Thank you for understanding and for submitting.

[2017-09-08 18:37] flukeout commented on #620
Okay, will keep the milestone on this session for now as we figure out if @tinchoforever is able to attend without a stipend.

[2017-09-08 19:12] #416 closed, assigned to nobody

[2017-09-08 19:12] #420 closed, assigned to nobody

[2017-09-08 19:12] #422 closed, assigned to nobody

[2017-09-08 19:12] #424 closed, assigned to nobody

[2017-09-08 19:12] #426 closed, assigned to nobody

[2017-09-08 19:12] #430 closed, assigned to nobody

[2017-09-08 19:12] #431 closed, assigned to nobody

[2017-09-08 19:12] #436 closed, assigned to nobody

[2017-09-08 19:12] #443 closed, assigned to nobody

[2017-09-08 19:12] #444 closed, assigned to nobody

[2017-09-08 19:12] #445 closed, assigned to nobody

[2017-09-08 19:12] #450 closed, assigned to nobody

[2017-09-08 19:12] #451 closed, assigned to nobody

[2017-09-08 19:12] #454 closed, assigned to nobody

[2017-09-08 19:12] #455 closed, assigned to nobody

[2017-09-08 19:12] #459 closed, assigned to nobody

[2017-09-08 19:12] #461 closed, assigned to nobody

[2017-09-08 19:12] #463 closed, assigned to nobody

[2017-09-08 19:12] #465 closed, assigned to nobody

[2017-09-08 19:12] #467 closed, assigned to nobody

[2017-09-08 19:12] #470 closed, assigned to nobody

[2017-09-08 19:12] #474 closed, assigned to nobody

[2017-09-08 19:12] #476 closed, assigned to nobody

[2017-09-08 19:12] #478 closed, assigned to nobody

[2017-09-08 19:12] #479 closed, assigned to nobody

[2017-09-08 19:12] #480 closed, assigned to nobody

[2017-09-08 19:12] #482 closed, assigned to nobody

[2017-09-08 19:12] #483 closed, assigned to nobody

[2017-09-08 19:12] #484 closed, assigned to nobody

[2017-09-08 19:12] #485 closed, assigned to nobody

[2017-09-08 19:12] #486 closed, assigned to nobody

[2017-09-08 19:12] #514 closed, assigned to nobody

[2017-09-08 19:12] #516 closed, assigned to mmmavis

[2017-09-08 19:12] #517 closed, assigned to nobody

[2017-09-08 19:12] #518 closed, assigned to nobody

[2017-09-08 19:12] #520 closed, assigned to hannahkane

[2017-09-08 19:12] #524 closed, assigned to nobody

[2017-09-08 19:12] #532 closed, assigned to nobody

[2017-09-08 19:12] #535 closed, assigned to nobody

[2017-09-08 19:12] #536 closed, assigned to nobody

[2017-09-08 19:12] #540 closed, assigned to nobody

[2017-09-08 19:12] #543 closed, assigned to nobody

[2017-09-08 19:12] #544 closed, assigned to nobody

[2017-09-08 19:12] #545 closed, assigned to nobody

[2017-09-08 19:12] #547 closed, assigned to nobody

[2017-09-08 19:12] #548 closed, assigned to nobody

[2017-09-08 19:12] #549 closed, assigned to nobody

[2017-09-08 19:12] #551 closed, assigned to nobody

[2017-09-08 19:12] #552 closed, assigned to nobody

[2017-09-08 19:12] #555 closed, assigned to nobody

[2017-09-08 19:12] #560 closed, assigned to nobody

[2017-09-08 19:12] #563 closed, assigned to nobody

[2017-09-08 19:12] #566 closed, assigned to nobody

[2017-09-08 19:12] #567 closed, assigned to nobody

[2017-09-08 19:12] #569 closed, assigned to nobody

[2017-09-08 19:12] #570 closed, assigned to nobody

[2017-09-08 19:12] #571 closed, assigned to nobody

[2017-09-08 19:12] #576 closed, assigned to nobody

[2017-09-08 19:12] #581 closed, assigned to nobody

[2017-09-08 19:12] #583 closed, assigned to nobody

[2017-09-08 19:12] #604 closed, assigned to erikao

[2017-09-08 19:12] #607 closed, assigned to nobody

[2017-09-08 19:12] #608 closed, assigned to nobody

[2017-09-08 19:12] #609 closed, assigned to nobody

[2017-09-08 19:12] #610 closed, assigned to hannahkane, sedgwickkm

[2017-09-08 19:12] #611 closed, assigned to nobody

[2017-09-08 19:12] #612 closed, assigned to nobody

[2017-09-08 19:12] #614 closed, assigned to nobody

[2017-09-08 19:12] #617 closed, assigned to nobody

[2017-09-08 19:12] #622 closed, assigned to mmmavis

[2017-09-08 19:12] #623 closed, assigned to nobody

[2017-09-08 19:12] #625 closed, assigned to nobody

[2017-09-08 19:12] #628 closed, assigned to nobody

[2017-09-08 19:12] #629 closed, assigned to nobody

[2017-09-08 19:12] #630 closed, assigned to nobody

[2017-09-08 19:12] #634 closed, assigned to nobody

[2017-09-08 19:12] #638 closed, assigned to nobody

[2017-09-08 19:12] #639 closed, assigned to nobody

[2017-09-08 19:12] #640 closed, assigned to nobody

[2017-09-08 19:12] #641 closed, assigned to nobody

[2017-09-08 19:12] #670 closed, assigned to nobody

[2017-09-08 19:12] #673 closed, assigned to nobody

[2017-09-08 19:12] #677 closed, assigned to nobody

[2017-09-08 19:12] #680 closed, assigned to nobody

[2017-09-08 19:12] #683 closed, assigned to erikao

[2017-09-08 19:12] #686 closed, assigned to nobody

[2017-09-08 19:12] #687 closed, assigned to nobody

[2017-09-08 19:12] #688 closed, assigned to nobody

[2017-09-08 19:12] #689 closed, assigned to nobody

[2017-09-08 19:12] #690 closed, assigned to nobody

[2017-09-08 19:12] #692 closed, assigned to nobody

[2017-09-08 19:12] #694 closed, assigned to nobody

[2017-09-08 19:12] #695 closed, assigned to nobody

[2017-09-08 19:12] #696 closed, assigned to hannahkane

[2017-09-08 19:12] #697 closed, assigned to nobody

[2017-09-08 19:12] #699 closed, assigned to nobody

[2017-09-08 19:12] #701 closed, assigned to nobody

[2017-09-08 19:12] #702 closed, assigned to nobody

[2017-09-08 19:12] #703 closed, assigned to nobody

[2017-09-08 19:12] #704 closed, assigned to nobody

[2017-09-08 19:12] #705 closed, assigned to nobody

[2017-09-08 19:12] #706 closed, assigned to nobody

[2017-09-08 19:12] #707 closed, assigned to nobody

[2017-09-08 19:12] #711 closed, assigned to nobody

[2017-09-08 19:12] #716 closed, assigned to nobody

[2017-09-08 19:12] #718 closed, assigned to nobody

[2017-09-08 19:12] #719 closed, assigned to nobody

[2017-09-08 19:12] #720 closed, assigned to nobody

[2017-09-08 19:12] #721 closed, assigned to hannahkane

[2017-09-08 19:12] #727 closed, assigned to nobody

[2017-09-08 19:12] #781 closed, assigned to nobody

[2017-09-08 19:12] #785 closed, assigned to nobody

[2017-09-08 19:12] #786 closed, assigned to nobody

[2017-09-08 19:12] #788 closed, assigned to nobody

[2017-09-08 19:12] #789 closed, assigned to nobody

[2017-09-08 19:12] #791 closed, assigned to nobody

[2017-09-08 19:12] #793 closed, assigned to nobody

[2017-09-08 19:12] #794 closed, assigned to nobody

[2017-09-08 19:12] #795 closed, assigned to nobody

[2017-09-08 19:12] #797 closed, assigned to nobody

[2017-09-08 19:12] #798 closed, assigned to nobody

[2017-09-08 19:12] #799 closed, assigned to nobody

[2017-09-08 19:12] #801 closed, assigned to nobody

[2017-09-08 19:12] #802 closed, assigned to nobody

[2017-09-08 19:12] #803 closed, assigned to nobody

[2017-09-08 19:12] #812 closed, assigned to nobody

[2017-09-08 19:12] #816 closed, assigned to nobody

[2017-09-08 19:12] #818 closed, assigned to kenyatta1

[2017-09-08 19:12] #824 closed, assigned to nobody

[2017-09-08 19:12] #825 closed, assigned to nobody

[2017-09-08 19:12] #830 closed, assigned to nobody

[2017-09-08 19:12] #837 closed, assigned to nobody

[2017-09-08 19:12] #841 closed, assigned to nobody

[2017-09-08 19:12] #842 closed, assigned to nobody

[2017-09-08 19:12] #64 closed

[2017-09-08 19:12] #68 closed

[2017-09-08 19:12] #72 closed

[2017-09-08 19:12] #93 closed

[2017-09-08 19:12] #104 closed

[2017-09-08 19:12] #107 closed

[2017-09-08 19:12] #108 closed

[2017-09-08 19:12] #112 closed

[2017-09-08 19:12] #113 closed

[2017-09-08 19:12] #118 closed

[2017-09-08 19:12] #119 closed

[2017-09-08 19:12] #126 closed

[2017-09-08 19:12] #128 closed

[2017-09-08 19:12] #153 closed

[2017-09-08 19:12] #155 closed

[2017-09-08 19:12] #199 closed

[2017-09-08 19:12] #201 closed

[2017-09-08 19:12] #206 closed

[2017-09-08 19:12] #207 closed

[2017-09-08 19:12] #213 closed

[2017-09-08 19:12] #216 closed

[2017-09-08 19:12] #217 closed

[2017-09-08 19:12] #218 closed

[2017-09-08 19:12] #221 closed

[2017-09-08 19:12] #233 closed

[2017-09-08 19:12] #236 closed

[2017-09-08 19:12] #242 closed

[2017-09-08 19:12] #245 closed

[2017-09-08 19:12] #248 closed

[2017-09-08 19:12] #249 closed

[2017-09-08 19:12] #255 closed

[2017-09-08 19:12] #261 closed

[2017-09-08 19:12] #265 closed, assigned to nobody

[2017-09-08 19:12] #266 closed, assigned to nobody

[2017-09-08 19:12] #269 closed, assigned to nobody

[2017-09-08 19:12] #270 closed, assigned to nobody

[2017-09-08 19:12] #271 closed, assigned to nobody

[2017-09-08 19:12] #347 closed, assigned to nobody

[2017-09-08 19:12] #348 closed, assigned to nobody

[2017-09-08 19:12] #349 closed, assigned to nobody

[2017-09-08 19:12] #362 closed, assigned to nobody

[2017-09-08 19:12] #363 closed, assigned to nobody

[2017-09-08 19:12] #372 closed, assigned to nobody

[2017-09-08 19:12] #374 closed, assigned to nobody

[2017-09-08 19:12] #375 closed, assigned to nobody

[2017-09-08 19:12] #377 closed, assigned to nobody

[2017-09-08 19:12] #379 closed, assigned to nobody

[2017-09-08 19:12] #380 closed, assigned to nobody

[2017-09-08 19:12] #381 closed, assigned to nobody

[2017-09-08 19:12] #382 closed, assigned to nobody

[2017-09-08 19:12] #383 closed, assigned to nobody

[2017-09-08 19:12] #387 closed, assigned to nobody

[2017-09-08 19:12] #388 closed, assigned to nobody

[2017-09-08 19:12] #389 closed, assigned to nobody

[2017-09-08 19:12] #390 closed, assigned to nobody

[2017-09-08 19:12] #391 closed, assigned to nobody

[2017-09-08 19:12] #393 closed, assigned to nobody

[2017-09-08 19:12] #397 closed, assigned to nobody

[2017-09-08 19:12] #401 closed, assigned to nobody

[2017-09-08 19:12] #402 closed, assigned to nobody

[2017-09-08 19:12] #403 closed, assigned to nobody

[2017-09-08 19:12] #408 closed, assigned to nobody

[2017-09-08 19:12] #409 closed, assigned to nobody

[2017-09-08 19:12] #410 closed, assigned to nobody

[2017-09-08 19:12] #411 closed, assigned to nobody

[2017-09-08 19:12] #415 closed, assigned to nobody

[2017-09-08 19:12] #417 closed, assigned to nobody

[2017-09-08 19:12] #447 closed, assigned to nobody

[2017-09-08 19:12] #448 closed, assigned to nobody

[2017-09-08 19:12] #457 closed, assigned to nobody

[2017-09-08 19:12] #458 closed, assigned to nobody

[2017-09-08 19:12] #462 closed, assigned to nobody

[2017-09-08 19:12] #471 closed, assigned to nobody

[2017-09-08 19:12] #477 closed, assigned to nobody

[2017-09-08 19:12] #481 closed, assigned to nobody

[2017-09-08 19:12] #488 closed, assigned to nobody

[2017-09-08 19:12] #495 closed, assigned to nobody

[2017-09-08 19:12] #496 closed, assigned to nobody

[2017-09-08 19:12] #497 closed, assigned to nobody

[2017-09-08 19:12] #500 closed, assigned to nobody

[2017-09-08 19:12] #501 closed, assigned to nobody

[2017-09-08 19:12] #502 closed, assigned to nobody

[2017-09-08 19:12] #503 closed, assigned to nobody

[2017-09-08 19:12] #504 closed, assigned to nobody

[2017-09-08 19:12] #506 closed, assigned to nobody

[2017-09-08 19:12] #508 closed, assigned to nobody

[2017-09-08 19:12] #509 closed, assigned to nobody

[2017-09-08 19:12] #511 closed, assigned to nobody

[2017-09-08 19:12] #527 closed, assigned to nobody

[2017-09-08 19:12] #528 closed, assigned to nobody

[2017-09-08 19:12] #529 closed, assigned to nobody

[2017-09-08 19:12] #550 closed, assigned to nobody

[2017-09-08 19:12] #553 closed, assigned to nobody

[2017-09-08 19:12] #557 closed, assigned to nobody

[2017-09-08 19:12] #562 closed, assigned to nobody

[2017-09-08 19:12] #584 closed, assigned to nobody

[2017-09-08 19:12] #585 closed, assigned to nobody

[2017-09-08 19:12] #588 closed, assigned to nobody

[2017-09-08 19:12] #590 closed, assigned to nobody

[2017-09-08 19:12] #591 closed, assigned to nobody

[2017-09-08 19:12] #593 closed, assigned to nobody

[2017-09-08 19:12] #596 closed, assigned to nobody

[2017-09-08 19:12] #597 closed, assigned to nobody

[2017-09-08 19:12] #601 closed, assigned to nobody

[2017-09-08 19:12] #602 closed, assigned to nobody

[2017-09-08 19:12] #603 closed, assigned to nobody

[2017-09-08 19:12] #633 closed, assigned to nobody

[2017-09-08 19:12] #635 closed, assigned to nobody

[2017-09-08 19:12] #642 closed, assigned to nobody

[2017-09-08 19:12] #643 closed, assigned to nobody

[2017-09-08 19:12] #645 closed, assigned to nobody

[2017-09-08 19:12] #646 closed, assigned to nobody

[2017-09-08 19:12] #666 closed, assigned to gbaman

[2017-09-08 19:12] #668 closed, assigned to nobody

[2017-09-08 19:12] #729 closed, assigned to nobody

[2017-09-08 19:12] #731 closed, assigned to nobody

[2017-09-08 19:12] #732 closed, assigned to nobody

[2017-09-08 19:12] #736 closed, assigned to mmmavis

[2017-09-08 19:12] #738 closed, assigned to nobody

[2017-09-08 19:12] #739 closed, assigned to nobody

[2017-09-08 19:12] #741 closed, assigned to nobody

[2017-09-08 19:12] #742 closed, assigned to nobody

[2017-09-08 19:12] #743 closed, assigned to nobody

[2017-09-08 19:12] #744 closed, assigned to nobody

[2017-09-08 19:12] #745 closed, assigned to nobody

[2017-09-08 19:12] #747 closed, assigned to nobody

[2017-09-08 19:12] #754 closed, assigned to nobody

[2017-09-08 19:12] #755 closed, assigned to nobody

[2017-09-08 19:12] #756 closed, assigned to nobody

[2017-09-08 19:12] #758 closed, assigned to nobody

[2017-09-08 19:12] #759 closed, assigned to nobody

[2017-09-08 19:12] #761 closed, assigned to nobody

[2017-09-08 19:12] #764 closed, assigned to nobody

[2017-09-08 19:12] #767 closed, assigned to nobody

[2017-09-08 19:12] #772 closed, assigned to nobody

[2017-09-08 19:12] #773 closed, assigned to hannahkane

[2017-09-08 19:12] #774 closed, assigned to mmmavis

[2017-09-08 19:12] #775 closed, assigned to nobody

[2017-09-08 19:12] #776 closed, assigned to nobody

[2017-09-08 19:12] #777 closed, assigned to nobody

[2017-09-08 19:12] #779 closed, assigned to nobody

[2017-09-08 19:12] #780 closed, assigned to nobody

[2017-09-08 19:12] #790 closed, assigned to nobody

[2017-09-08 19:12] #806 closed, assigned to nobody

[2017-09-08 19:19] #164 closed

[2017-09-08 19:19] #187 closed

[2017-09-08 19:19] #226 closed

[2017-09-08 19:19] #283 closed, assigned to nobody

[2017-09-08 19:19] #302 closed, assigned to nobody

[2017-09-08 19:19] #304 closed, assigned to EPIKhub

[2017-09-08 19:19] #310 closed, assigned to nobody

[2017-09-08 19:19] #315 closed, assigned to nobody

[2017-09-08 19:19] #317 closed, assigned to nobody

[2017-09-08 19:19] #323 closed, assigned to nobody

[2017-09-08 19:19] #328 closed, assigned to nobody

[2017-09-08 19:19] #329 closed, assigned to nobody

[2017-09-08 19:19] #334 closed, assigned to hannahkane

[2017-09-08 19:19] #800 closed, assigned to nobody

[2017-09-08 19:19] #23 closed

[2017-09-08 19:19] #31 closed

[2017-09-08 19:19] #32 closed

[2017-09-08 19:19] #34 closed

[2017-09-08 19:19] #39 closed

[2017-09-08 19:19] #40 closed

[2017-09-08 19:19] #42 closed

[2017-09-08 19:19] #44 closed

[2017-09-08 19:19] #45 closed

[2017-09-08 19:19] #47 closed

[2017-09-08 19:19] #49 closed

[2017-09-08 19:19] #51 closed

[2017-09-08 19:19] #54 closed

[2017-09-08 19:19] #56 closed

[2017-09-08 19:19] #59 closed

[2017-09-08 19:19] #60 closed

[2017-09-08 19:19] #61 closed

[2017-09-08 19:19] #70 closed

[2017-09-08 19:19] #94 closed

[2017-09-08 19:19] #110 closed

[2017-09-08 19:19] #111 closed

[2017-09-08 19:19] #115 closed

[2017-09-08 19:19] #121 closed

[2017-09-08 19:19] #122 closed

[2017-09-08 19:19] #123 closed

[2017-09-08 19:19] #127 closed

[2017-09-08 19:19] #133 closed

[2017-09-08 19:19] #137 closed

[2017-09-08 19:19] #138 closed

[2017-09-08 19:19] #139 closed

[2017-09-08 19:19] #163 closed

[2017-09-08 19:19] #171 closed

[2017-09-08 19:19] #172 closed

[2017-09-08 19:19] #174 closed

[2017-09-08 19:19] #177 closed

[2017-09-08 19:19] #178 closed

[2017-09-08 19:19] #184 closed

[2017-09-08 19:19] #186 closed

[2017-09-08 19:19] #211 closed

[2017-09-08 19:19] #223 closed

[2017-09-08 19:19] #224 closed

[2017-09-08 19:19] #225 closed

[2017-09-08 19:19] #227 closed

[2017-09-08 19:19] #228 closed

[2017-09-08 19:19] #296 closed, assigned to nobody

[2017-09-08 19:19] #298 closed, assigned to nobody

[2017-09-08 19:19] #299 closed, assigned to nobody

[2017-09-08 19:19] #300 closed, assigned to nobody

[2017-09-08 19:19] #303 closed, assigned to nobody

[2017-09-08 19:19] #306 closed, assigned to nobody

[2017-09-08 19:19] #307 closed, assigned to nobody

[2017-09-08 19:19] #311 closed, assigned to nobody

[2017-09-08 19:19] #313 closed, assigned to nobody

[2017-09-08 19:19] #314 closed, assigned to nobody

[2017-09-08 19:19] #316 closed, assigned to nobody

[2017-09-08 19:19] #318 closed, assigned to nobody

[2017-09-08 19:19] #320 closed, assigned to nobody

[2017-09-08 19:19] #321 closed, assigned to nobody

[2017-09-08 19:19] #324 closed, assigned to nobody

[2017-09-08 19:19] #326 closed, assigned to nobody

[2017-09-08 19:19] #330 closed, assigned to nobody

[2017-09-08 19:19] #331 closed, assigned to nobody

[2017-09-08 19:19] #335 closed, assigned to nobody

[2017-09-08 19:19] #337 closed, assigned to nobody

[2017-09-08 19:19] #442 closed, assigned to nobody

[2017-09-08 19:19] #490 closed, assigned to hannahkane, sedgwickkm

[2017-09-08 19:19] #534 closed, assigned to nobody

[2017-09-08 19:19] #589 closed, assigned to nobody

[2017-09-08 19:19] #600 closed, assigned to nobody

[2017-09-08 19:19] #627 closed, assigned to nobody

[2017-09-08 19:19] #649 closed, assigned to nobody

[2017-09-08 19:19] #651 closed, assigned to mmmavis

[2017-09-08 19:19] #654 closed, assigned to hannahkane

[2017-09-08 19:19] #656 closed, assigned to nobody

[2017-09-08 19:19] #657 closed, assigned to nobody

[2017-09-08 19:19] #659 closed, assigned to nobody

[2017-09-08 19:19] #662 closed, assigned to nobody

[2017-09-08 19:19] #730 closed, assigned to nobody

[2017-09-08 19:19] #751 closed, assigned to nobody

[2017-09-08 19:19] #765 closed, assigned to nobody

[2017-09-08 19:19] #792 closed, assigned to nobody

[2017-09-08 19:19] #810 closed, assigned to nobody

[2017-09-08 19:19] #822 closed, assigned to nobody

[2017-09-08 19:19] #827 closed, assigned to nobody

[2017-09-08 19:19] #834 closed, assigned to nobody

[2017-09-08 19:19] #839 closed, assigned to nobody

[2017-09-08 19:19] #843 closed, assigned to emrysgreen, shwetal27, EPIKhub

[2017-09-08 19:19] #6 closed

[2017-09-08 19:19] #7 closed

[2017-09-08 19:19] #15 closed

[2017-09-08 19:19] #20 closed

[2017-09-08 19:19] #21 closed

[2017-09-08 19:19] #22 closed

[2017-09-08 19:19] #143 closed

[2017-09-08 19:19] #145 closed

[2017-09-08 19:19] #230 closed

[2017-09-08 19:19] #232 closed

[2017-09-08 19:19] #247 closed

[2017-09-08 19:19] #256 closed

[2017-09-08 19:19] #258 closed

[2017-09-08 19:19] #339 closed, assigned to nobody

[2017-09-08 19:19] #340 closed, assigned to nobody

[2017-09-08 19:19] #341 closed, assigned to nobody

[2017-09-08 19:19] #343 closed, assigned to nobody

[2017-09-08 19:19] #344 closed, assigned to nobody

[2017-09-08 19:19] #345 closed, assigned to nobody

[2017-09-08 19:19] #346 closed, assigned to nobody

[2017-09-08 19:19] #351 closed, assigned to nobody

[2017-09-08 19:19] #352 closed, assigned to nobody

[2017-09-08 19:19] #356 closed, assigned to nobody

[2017-09-08 19:19] #359 closed, assigned to nobody

[2017-09-08 19:19] #360 closed, assigned to hannahkane

[2017-09-08 19:19] #361 closed, assigned to nobody

[2017-09-08 19:19] #366 closed, assigned to nobody

[2017-09-08 19:19] #369 closed, assigned to nobody

[2017-09-08 19:19] #370 closed, assigned to nobody

[2017-09-08 19:19] #376 closed, assigned to nobody

[2017-09-08 19:19] #378 closed, assigned to nobody

[2017-09-08 19:19] #394 closed, assigned to nobody

[2017-09-08 19:19] #395 closed, assigned to nobody

[2017-09-08 19:19] #404 closed, assigned to nobody

[2017-09-08 19:19] #456 closed, assigned to nobody

[2017-09-08 19:19] #8 closed

[2017-09-08 19:19] #11 closed

[2017-09-08 19:19] #79 closed

[2017-09-08 19:19] #80 closed

[2017-09-08 19:19] #85 closed

[2017-09-08 19:19] #86 closed

[2017-09-08 19:19] #87 closed

[2017-09-08 19:19] #88 closed

[2017-09-08 19:19] #90 closed

[2017-09-08 19:19] #91 closed

[2017-09-08 19:19] #95 closed

[2017-09-08 19:19] #98 closed

[2017-09-08 19:19] #100 closed

[2017-09-08 19:19] #146 closed

[2017-09-08 19:19] #147 closed

[2017-09-08 19:19] #148 closed

[2017-09-08 19:19] #149 closed

[2017-09-08 19:19] #150 closed

[2017-09-08 19:19] #152 closed

[2017-09-08 19:19] #154 closed

[2017-09-08 19:19] #156 closed

[2017-09-08 19:19] #157 closed

[2017-09-08 19:19] #158 closed

[2017-09-08 19:19] #159 closed

[2017-09-08 19:19] #162 closed

[2017-09-08 19:19] #263 closed

[2017-09-08 19:19] #267 closed, assigned to nobody

[2017-09-08 19:19] #273 closed, assigned to nobody

[2017-09-08 19:19] #275 closed, assigned to nobody

[2017-09-08 19:19] #276 closed, assigned to nobody

[2017-09-08 19:19] #278 closed, assigned to nobody

[2017-09-08 19:19] #279 closed, assigned to nobody

[2017-09-08 19:19] #280 closed, assigned to nobody

[2017-09-08 19:19] #282 closed, assigned to hannahkane

[2017-09-08 19:19] #74 closed

[2017-09-08 19:19] #103 closed

[2017-09-08 19:19] #105 closed

[2017-09-08 19:26] #35 closed

[2017-09-08 19:26] #36 closed

[2017-09-08 19:26] #41 closed

[2017-09-08 19:26] #46 closed

[2017-09-08 19:26] #48 closed

[2017-09-08 19:26] #53 closed

[2017-09-08 19:26] #204 closed

[2017-09-08 19:26] #489 closed, assigned to nobody

[2017-09-08 19:26] #579 closed, assigned to nobody

[2017-09-08 19:26] #658 closed, assigned to nobody

[2017-09-08 19:26] #660 closed, assigned to nobody

[2017-09-08 19:26] #663 closed, assigned to nobody

[2017-09-08 19:26] #664 closed, assigned to nobody

[2017-09-08 19:26] #665 closed, assigned to nobody

[2017-09-08 19:26] #669 closed, assigned to nobody

[2017-09-08 19:26] #782 closed, assigned to kenyatta1, sedgwickkm

[2017-09-08 19:26] #804 closed, assigned to nobody

[2017-09-08 19:26] #55 closed

[2017-09-08 19:51] SOFTowaha commented on #35
OK; Thank you @bunnybooboo , @EPIKhub , @mmmavis , @acabunoc 👍

[2017-09-08 19:52] msaunby commented on #192
Added back to Digital Inclusion.  Will add to Shed program

[2017-09-08 20:49] rabimba commented on #91
@flukeout Understandable :)

[2017-09-08 21:03] gigipolo commented on #478
Thanks for letting me know! Have a very successful event.

Regards,
Gigi Polo
Myellow Boots Studio
Part-Time Associate Teaching Professor, Parsons The New School for Design

[2017-09-08 21:27] daviserinanderson commented on #650
Thanks for considering our proposal for the youth zone & and apologies for my late reply. I'll check in with my project collaborator and will be in touch. (If we have waited too long and there is no longer space, please let me know.)

[2017-09-08 22:13] omnignorant commented on #655
@phillipadsmith @acabunoc @edrushka FYI this is a ATX Hack for Change project and related to this team too: https://github.com/MozillaFoundation/mozfest-program-2017/issues/750

[2017-09-08 22:14] omnignorant commented on #655
Can you confirm if Amy is receiving a stipend?

[2017-09-08 23:21] EPIKhub commented on #305
@marcwalsh I missed this session we could actually host it in the youth zone

[2017-09-09 00:14] chrisbresky commented on #231
We've  been doing this rapid prototyping with pvc with great success, I would change the hands on portion from cardboard to pre cut pvc with various elbows  https://youtu.be/FzJCz3KWlc8

[2017-09-09 00:22] chrisbresky commented on #231
@monsauce I am an actor and improviser by trade and always love to incorporate improv into my work. It's exactly the "yes and" mentality that got this project off the ground and gets students and teachers to think bigger and reach farther than they would have normally. It is a wonderful way to "prime the pump"  for innovation. I'm a little uncertain how best to proceed, @monsauce, thoughts? Would

[2017-09-09 20:05] cbaba20 commented on #412
Hello @bunnybooboo I am still keeping my fingers cross . :) Can I know whether this project make into finals or not ?

[2017-09-09 20:08] KirstieJane commented on #412
Hi @cbaba20 - we're delighted that your session will be accepted into the Open Innovation space! You'll get more information by email early next week :raised_hands:

[2017-09-10 11:27] toh82 commented on #66
@flukeout Sorry for the late reply was on holiday last weeks.
The coding demo Idea sounds great. How do we proceed?

[2017-09-10 11:31] toh82 commented on #67
@EPIKhub The session in the web lit was not accepted, but there was an idea to make a demo out of the other talk for the youth zone.

Another thing I wanted to ask:
Do I have to buy a ticket for the Conference? And I would love to bring my Girlfriend with me, is there a possibility to have a discount for her ticket?

[2017-09-10 14:27] EPIKhub commented on #67
@toh82 We have accepted your session in the Youth Zone, as an idea we could add your GF as a co-facilitator if she is willing to help you out in your session? Then she could get a free ticket as will you.

[2017-09-10 16:48] vongomben commented on #215
@mozfest-bot, I assumed I've been assigned to [UnBox](https://github.com/MozillaFoundation/mozfest-program-2017/labels/UnBox), why are you sending me out?!

Please, let me come to Mozfest!

[2017-09-11 10:13] bunnybooboo commented on #215
@thornet ^^

[2017-09-11 10:14] dvigneshwer commented on #519
@weskandar Congratulations! We are very happy to announce that the decentralization space has accepted your session at the festival this year. We have reached out to you via email regarding the next steps.

[2017-09-11 10:18] ghost commented on #170
Hi @EPIKhub, thanks again for trusting us and accepting us into the Youth Zone!
We made some great progress on the game already at a VR Painting Jam this weekend:
https://twitter.com/thomasbalou/status/906565164107014152
https://twitter.com/utopiah/status/906577836613554176

Also we were wondering what the agenda would be like for presenting our project and engage people to play/remix/customize it

[2017-09-11 11:08] thornet commented on #215
@bunnybooboo @mozfest-bot Yes, this session was accepted in the Unbox track. Please keep it!

[2017-09-11 11:12] thornet commented on #587
FYI, @babegeorge @ileddigital and I accepted this session in the Unbox (craft / decentralized IoT) track.

[2017-09-11 11:14] UoBEdTechSTEMM commented on #285
Hi @gbaman yes we have our own robots. I'll check with my team but I think if you have the Pis, screens, keyboards and mice, that should be fine. Can the Pis be removed to put in the robots? I guess you are using PiTops

[2017-09-11 11:18] gbaman commented on #285
@UoBEdTechSTEMM We would prefer to leave the Pis in the PiTops to avoid a logistical nightmare. All our Pis at Mozfest will be running with PiNet, which requires a wired network connection to operate. If you are needing to have the attendees work on something on the Pis with monitor, then moving that over to the robot, my suggestion would be flashing your own set of SD cards with all you need, the

[2017-09-11 12:04] EsmeSimcox commented on #861
Update on information

- What is the goal or outcome your session?
Outcomes I am hoping to achieve:
To create a list of best practices for creating network-centric resources based on participant’s experiences
To get participants engaged in our network on creating network-centric resources
To connect participants to each other, so they can learn from each others experiences.

- After the festival,

[2017-09-11 12:55] rwb27 commented on #305
Thanks - I'm not sure if that changes how I should run things?

[2017-09-11 13:09] ameellio commented on #388
Thanks to you all, and best wishes for a successful MozFest. I'm sorry I won't be able to join, but will follow along on Twitter. Cheers!

[2017-09-11 13:25] KirstieJane commented on #231
@chrisbresky and @Monsauce - thank you! This makes me so happy!

You'll hear more information from us over the next couple of weeks - including more information on the "gallery" format 😄

[2017-09-11 13:52] ileddigital commented on #434
Hello @mozfest-bot @Saallen we have moved this into our Unbox space as it fits well with us and our wider IoT/inclusion work.

[2017-09-11 13:54] ileddigital commented on #398
@cubicgarden @Saallen @mozfest-bot i've added Unbox label  and moved into our space. Only requirement (and i've emailed Andrew to say this) is that it will need to be 60mins to fit with our schedule.

[2017-09-11 14:00] Saallen commented on #434
Hi @ileddigital
please email the facilitators of this session as they will have recieved an email from us accepted this email as curation closed last week- I am very happy you are accepting this

[2017-09-11 14:20] bunnybooboo commented on #215
Hey @marcwalsh wtd in this scenario? and #587

[2017-09-11 14:22] marcwalsh commented on #215
Hi @vongomben, sorry for the confusion. I've added the Unbox milestone to the session so it gets picked up in future.

Please also ignore the email that was sent to you.

[2017-09-11 14:23] timcowlishaw commented on #385
Hi there @jharris1679, this sounds really interesting - however we don't really have space for another all-weekend session in the decentralisation space. Would you be able to format this as a one hour discussion session perhaps?

[2017-09-11 14:24] bunnybooboo commented on #398
cc/ @marcwalsh

[2017-09-11 14:36] chrisbresky commented on #231
Look forward to it! Thanks :)
________________________________________
From: Kirstie Whitaker [notifications@github.com]
Sent: Monday, September 11, 2017 8:25 AM
To: MozillaFoundation/mozfest-program-2017
Cc: Christopher Bresky; Mention
Subject: Re: [MozillaFoundation/mozfest-program-2017] On the Hunt for Meteorites: Narrative as a motivator for science exploration (#231)

@chrisbresky<https://git

[2017-09-11 14:48] timcowlishaw commented on #234
Hi @rschulman we should have a decision for you imminently - one quick question - would you like a timetable session to talk about the Matrix technology, or is the installation alone sufficient?

[2017-09-11 15:15] daviserinanderson commented on #650
We'd be interested in modifying this for the youth zone, including a manifesto at the end. Thanks for considering us!

[2017-09-11 15:25] ara4n commented on #234
Hi @timcowlishaw - it would be wonderful to have a timetable session to talk about Matrix if at all possible; both to publicise the chat server but also to tell the Mozfest community about the project and the importance of decentralised, e2e encrypted open communication :)

[2017-09-11 15:46] quesoboard commented on #786
Hi @bunnybooboo and @mozfest-bot:  Thank you the update and letting us know.

We managed to secure travel support (just now!), so if a session is cancelled for any reason, we would gladly take the opportunity to deliver this session, as we see the questions key to building an open internet in the future.  Thank you again!

[2017-09-11 16:15] ghost commented on #125
Hey @amirad while doing teach the web session you can also use [localweb](https://github.com/drashti4/localisationofschool) project. I feel somehow both of the project working on same direction. You can take this project inside your session :smile:

[2017-09-11 17:16] npscience commented on #573
Hi @Saallen - thanks for the consideration. Yes that could be of interest. However, I feel #71 is a more compelling event, and I would be happy to attend/participate in that one in lieu of this. Plus, the comments already collected around the topic on that thread go some way to helping to answer some of the Qs set out above.

I would be happy to leave this, should you feel my attention could be be

[2017-09-11 18:13] Saallen commented on #259
If your session requires additional materials or electronic equipment, please outline your needs.
* Big screen, intermediate space, lots of foot traffic
* table for zine-
* surround information on consent

Time needed
All weekend- does not need managed by team but self driven interaction by audience

[2017-09-11 18:24] dvigneshwer commented on #234
Adding @marcwalsh

[2017-09-11 18:24] Saallen commented on #260
If your session requires additional materials or electronic equipment, please outline your needs.

    Big screen, intermediate space, lots of foot traffic
    table for zine-
    surround information on consent

Time needed
All weekend- does not need management by team but self-driven interaction by audience.

Questions-
What does it mean to interact with this tool, what questions arise, what are

[2017-09-11 18:43] EPIKhub commented on #305
@rwb27 we can have a conversation to explore

[2017-09-11 19:07] EPIKhub commented on #170
@tbalouet more info to follow via email within the next 2 weeks :)

[2017-09-11 19:34] amirad commented on #125
Thanks @drashti4

[2017-09-11 20:31] shillontheroad commented on #12
@edovio thanks for the great news. See you at the festival!

[2017-09-11 23:02] Monsauce commented on #231
Same here! Stoked for you email.

[2017-09-11 23:03] Monsauce commented on #231
@chrisbresky let's wait to here more about the gallery format and then maybe let's set up a call to see how we can incorporate all our ideas together?

[2017-09-11 23:34] chrisbresky commented on #231
Yes, that is a good plan
--
Christopher Bresky
Teen Programs Manager

Adler Planetarium
1300 South Lake Shore Dr.
Chicago, IL  60605
312.542.2211
adlerplanetarium.org<http://www.adlerplanetarium.org/>

SPACE IS FREAKING AWESOME.

From: Monica Granados <notifications@github.com<mailto:notifications@github.com>>
Reply-To: MozillaFoundation/mozfest-program-2017 <reply@reply.github.com<mailto:reply@re

[2017-09-11 23:47] techkim commented on #373
@edovio We're super excited! When will we receive more details about moving forward with the proposal?

[2017-09-12 00:28] leez-zz commented on #694
@bunnybooboo thanks for the words of encouragement and the transparency. I reckon y'all have a wicked-cool program planned. As for us, we'll be over the disappointment shortly and will return ;)

[2017-09-12 00:39] mehan commented on #99
Hi @KirstieJane and @auremoser, many thanks for reconsidering and accepting this session! Apologies for the delayed response on this (wanted to consult with Lindsey before making a firm decision) but Jenn and I have decided that if it's alright with both of you, we'd rather not host this session after all. The way we originally envisioned the session would require a good deal of engagement and exp

[2017-09-12 06:39] JonathanWatkins commented on #285
@gbaman This sounds fine. The SD card swapping solution works perfectly. What version of Raspberry Pi and OS are you running?

[2017-09-12 09:59] cubicgarden commented on #398
Ok cool @ileddigital

[2017-09-12 10:37] cubicgarden commented on #857
Still like to introduce #565

[2017-09-12 13:23] Saallen commented on #823
Hello @connieimdialog We would love to extend an invitation to MozFest - we closed this session too quickly and I hope you can join us over the weekend

cc @Solanasaurus

[2017-09-12 13:31] Saallen commented on #811
reopening this session as a science fair table

[2017-09-12 14:14] connieimdialog commented on #823
hello @Saallen --- thanks so much for the update and note.  would love to join!  also happy to learn what you would recommend about the format, etc. for the space you have in mind.

[2017-09-12 14:37] auremoser commented on #99
Totally makes sense @mehan thanks to you and @jenntbeard for stepping up on the Open Innovation team and for your thoughtful withdrawl here. Our label's been removed, thanks again!

[2017-09-12 21:01] prefontaine commented on #710
Created a board for interview pod inspiration: https://www.pinterest.com/prefontaine/mozfest/

[2017-09-12 22:20] syswsi commented on #188
Hi!

So has the project been selected?  If so, is there any special preparations for the Youth zone?

[2017-09-13 00:02] prefontaine commented on #710
How might we use Hypothes.is Annotatathons for more participatory StoryEngine analysis? [Notes from convo with Jeremy Dean](https://docs.google.com/document/d/13gp-AZCUR3Kr-YQzFUtowfHlAiCYDRhnz6o_zhGW7Mg/edit?usp=sharing).

[2017-09-13 02:37] flukeout commented on #373
Hi @techkim - I sent an email a little earlier today welcoming all of the Web Lit folks. Did you get it? I'm curious because I haven't heard anything back so I want to make sure it sent correctly.

We'll be reaching out in the next week or so with more information and support for your session, as well as scheduling information. Do you have any specific questions right now? Let us know, cheers.

[2017-09-13 06:28] EPIKhub commented on #188
@syswsi we are still curating the final few sessions that did not pick the youth zone as their first space choice. We will let you know over the weekend cc/ @gbaman

[2017-09-13 09:03] RebeccaEvans22 commented on #840
Hello @edovio thats great news, myself and Lubomila are excited to deliver the session.  When does the schedule get solidified?

[2017-09-13 11:30] vongomben commented on #215
Thanks @bunnybooboo @marcwalsh @thornet

[2017-09-13 14:18] shwetal27 commented on #284
If we were to accept this for the youth zone, would you be willing to customize the session a  bit?

[2017-09-13 18:04] EPIKhub commented on #499
@31466 I am wondering how you are doing re getting any of your youth to come and if that is not possible how do you plan to remix the session?

[2017-09-13 18:10] 31466 commented on #499
Hi Dorine,

How are you.?  We did receive a travel grant form Chicago HIVE.  I am
currently working on getting at least 3 students and myself to this event.
Is there an agenda for this event, what hotel do you recommend we select to
stay in and what time does the event end on Sunday.  Also, will my students
be able to participate in the science fair?

Best
Marnie

On Wed, Sep 13, 2017 at 1:04 PM,

[2017-09-13 18:16] EPIKhub commented on #499
@31466 awesome news :) re accomodation I would recommend you rent privately through someone like AirBnB they have a wide range of appartments to rent, hotels are really expensive especially central London ones. Look at places in the Lewisham area that are near the DLR (Overgound train) as a starting point

[2017-09-13 18:28] jeffsolin commented on #639
Sorry, I didn't see that there were comments looking for feedback. Not sure why, but I probably missed any notifications from it in email. If something does open back up, or I can answer the question above, please let me know, and thanks for your time.

[2017-09-13 19:51] prefontaine commented on #710
@Saallen This session's title will change to "Humans of the Internet" and I'll be working with @kaodro to adjust the question set. I'll also adjust the session description (in the comments!) to reflect changes. I've sent brief to Ravensbourne for student participation. Will forward copy of that draft to Georgia as well to see if she has any ideas.

**QUESTION:** _We will still move forward with th

[2017-09-13 20:24] shwetal27 commented on #819
congrats your session has been accepted

[2017-09-13 20:25] shwetal27 commented on #817
congrats your session has been accepted

[2017-09-13 20:25] shwetal27 commented on #762
congrats your session has been accepted  @GinaGrant

[2017-09-13 20:27] shwetal27 commented on #650
congrats your session has been accepted

[2017-09-13 20:27] shwetal27 commented on #637
congrats your session has been accepted @racheltoogood

[2017-09-13 20:27] shwetal27 commented on #355
congrats your session has been accepted

[2017-09-13 20:28] shwetal27 commented on #290
congrats your session has been accepted

[2017-09-13 20:29] shwetal27 commented on #124
congrats your session has been accepted

[2017-09-13 20:54] natalia44 commented on #425
@emrysgreen @gbaman do you need anything regarding curation of this session from Open Innovation team? We're happy to help, but don't want to double communication etc.

[2017-09-14 04:38] nifrasismail commented on #39
Hi,

Thank you for review my proposal. Hope I would be able to submit a best
proposal in future events.

Regards
Nifras

*Nifras Ismail*
Software Engineer,
TechOrin (Pvt) Ltd.

Mobile      : +94 77 89 90 300
Home       : +94 75 80 363 00
Twitter      : nifras_tweety
Facebook : nifras.ismail
Skype       : nifras0094

On Sat, Sep 9, 2017 at 4:28 AM, mozfest-bot <notifications@github.com>
wrote:

[2017-09-14 09:20] plaperdr commented on #124
Wow! That's fantastic news! I did not expect to be selected after last week's rejection.
Since I'm not familiar with the Youth Zone, what is the difference in terms of session/format/audience compared to the one of the Security and Privacy track?

[2017-09-14 09:24] shwetal27 commented on #124
over 2/3rds of session are being led by young people as young as 8+ and the audience that comes to attend the sessions on the youth zone are between 8-20, we would thus request you to customize the session a bit keeping that audience in mind and your session as youth centric.   your session has been additionally selected as topic of interest to the makers and leaders of our tomorrow that fit withi

[2017-09-14 09:55] cubicgarden commented on #14
Changed to Decentralised zone

[2017-09-14 11:19] cubicgarden commented on #831
Sounds good... we'll be in touch soon

[2017-09-14 12:49] cbaba20 commented on #362
Hello @msaunby @sedgwickkm it would be helpful if you can give some feedback on this, as a developer for this open project, I wanted to know what makes it better so this can attain a bigger crowd .

[2017-09-14 13:15] toh82 commented on #67
@EPIKhub Dunno what co-facilitator means exactly.
Should I buy her a ticket before or is that also possible directly at the venue?

About the other Session, I'm confused now since I got some emails about a not accepted session.
Is the Session "How I accidentally build a static page generator" now accepted or dropped? Actually, I think it might be even more useful than this session. In it, I give s

[2017-09-14 13:26] EPIKhub commented on #67
@toh82 you submitted 2 sessions, I picked this one up for the youth zone and invited you as a result to come play with us :)  re facilitators, you are the lead facilitator, a co-facilitator is someone who helps you run your session, working together to make it awesome! and the bonus is co-facilitators get a free ticket :)

The other session was not accepted hence why you got an email saying it was

[2017-09-14 13:41] caffebd commented on #631
Hello everyone. Sorry for the late reply. We are incredibly excited to be taking part in MozFest and look forward to meeting lots of new people.

[2017-09-14 16:21] emrysgreen commented on #175
Only running in Youth Zone.

[2017-09-14 17:26] thomaswillz commented on #323
Hello @vigneshwerd @maboa
we dont require the stipend to attend this mozfest , so is it possible to choose our session now ?

[2017-09-14 17:37] Jayapreethi commented on #274
Hello @flukeout
Sorry for the inconvenience that may have caused you ! We dont require the stipend to attend the mozfest ...Is it possible to choose our session now ?

[2017-09-14 17:39] Jayapreethi commented on #324
Hello @flukeout
we dont require the stipend to attend this mozfest , so is it possible to choose our session now ?

[2017-09-14 18:23] Melechuga commented on #653
Hey @natalia44
Is the Open Innovation space happy to cover Deji's travel stipend? If so, that would be great; I have also been in contact with him about a different session, so that's good to know.

[2017-09-14 18:27] natalia44 commented on #653
Hey Melissa, unfortunately we had only 10 stipends to distribute, but I see in our spreadsheet the note "decentralisation fund" - @auremoser could you elaborate more?

[2017-09-14 19:28] Melechuga commented on #685
Tech Policy Fellow's session; putting this into Open Policy + Advocacy emergent space for Saturday morning.
@Saallen

[2017-09-14 19:42] bunnybooboo commented on #685
Confirming change @Melechuga

[2017-09-14 20:20] Saallen commented on #573
Hey- ok
It looks like you are already deep in conversation with #71 so I will close this session. If you do join forces with that group let me know as would be eager to follow. Think there is lots of space there to co facilitate

[2017-09-14 20:20] #573 closed, assigned to nobody

[2017-09-14 20:24] Saallen commented on #823
Hello
Let me get a meeting in the diary for us in two weeks and we can discuss more

[2017-09-14 20:29] Melechuga commented on #653
@natalia44 @auremoser
Oh I get it; because I told Decentralisation that I will be covering Deji's stipend, that's what this means. No problem! I can still cover his travel. I'm going to take off the "stipend request" label.
Thanks!

[2017-09-14 21:31] Melechuga commented on #619
Another session for the Open Policy + Advocacy space.
@bunnybooboo and I have appropriately back-channeled!

[2017-09-14 21:32] bunnybooboo commented on #619
Confirming changes

[2017-09-15 03:07] phillipadsmith commented on #655
@omnignorant Confirmed. @AmyMcCullough should have received a separate email about the stipend. I'm sending a session confirmation message now.

[2017-09-15 03:14] daniellecrobinson commented on #96
👍 so into this session

[2017-09-15 05:03] flukeout commented on #274
Hello @Jayapreethi - thank you for the update. I'll be meeting with the rest of the scheduling team for our space tomorrow, so I'll get back to you after that.

[2017-09-15 09:13] cbaba20 commented on #412
Wow... Thanks @KirstieJane for the update. Thrilled to meet with network of collaborates. However I am thinking about preparation . So looking for any update soon about travel and accommodation. Since minimum 3 weeks are required to get the visa and other relevant stuff.

[2017-09-15 10:08] ppolsinelli commented on #52
GitHub [CoopsAndDragons](https://github.com/ppolsinelli/CoopsAndDragons) updated with version 2 and rules draft.

[2017-09-15 10:41] Saallen commented on #821
cc  @Solanasaurus could be super interesting- more info to come

[2017-09-15 11:19] EPIKhub commented on #821
@Saallen @Solanasaurus ive updated it now with the why and how; Ill get it editted to be more readable before it hits the shedule to be more interesting from an audience perspective.

[2017-09-15 11:29] EPIKhub commented on #821
Sessions helping out with this project are:
https://github.com/MozillaFoundation/mozfest-program-2017/issues/67
https://github.com/MozillaFoundation/mozfest-program-2017/issues/819
https://github.com/MozillaFoundation/mozfest-program-2017/issues/817
https://github.com/MozillaFoundation/mozfest-program-2017/issues/787 TBC
https://github.com/MozillaFoundation/mozfest-program-2017/issues/762 TBC

Ses

[2017-09-15 12:47] Saallen commented on #175
Request for audience to bring laptops with latest version of open source blender installed

[2017-09-15 13:28] paulinabustos commented on #533
Hi @maboa - Do you have a date to announce accepted proposals? My team need a little clarity on this to start coordinating travel logistics. Thanks!

[2017-09-15 13:29] EPIKhub commented on #175
@Saallen that will be very hard as an expectation. Wha they need to do is have it on a memory stick and install it for people instead

[2017-09-15 13:48] mozfest-bot opened #862 "Using Advanced Web Technologies to Address Threats to the Health of the Internet"
**[ UUID ]** d256df4d-9a38-4841-b17a-5894205bb645

**[ Session Name ]** Using Advanced Web Technologies to Address Threats to the Health of the Internet
**[ Primary Space ]** Decentralization
**[ Secondary Space ]** Privacy and Security

**[ Submitter's Name ]** Ruth Nicholls
**[ Submitter's Affiliated Organisation ]** Ravensbourne

**[ Additional facilitators ]** Tor-Arne Njamo,Amy Jackson-Bruce

[2017-09-15 15:49] HollyBurton commented on #613
@EPIKhub  @gbaman

**1.** We were planning to only be at the festival on Saturday. Do we need to setup on Friday or can we arrive early and setup on the Saturday? What does the facilitator training involve? Does everyone who is going to be helping need to attend, including the young people who'll be supporting delivery of our session?

**2 and 3.** @batch-works can you answer these two?

[2017-09-15 17:37] esylvan commented on #717
@maboa Hi, is there a timeframe for notification? We'd like to book our tickets soon, if need be, so that we can keep costs down. Thank you!

[2017-09-15 19:24] sedgwickkm commented on #89
@hannahkane I can see this working as a drop in table set up all weekend.

[2017-09-15 19:25] sedgwickkm commented on #832
@hannahkane I can see this one working as a drop-in all weekend. (Perhaps with a scheduled session early on to kick things off.)

[2017-09-16 12:50] RaulvE commented on #681
Hello!
It appears I am late to the conversation. So sorry.
Yes, 90 minutes will be needed to allow participants to build their own PNK.
Please let me know if you have any more questions.
Sincerely,
Raul

[2017-09-16 13:30] Saallen commented on #862
Hey @brettgaylor @cubicgarden - this is a project run by the students of Ravensbourne- do you have space for this session in either of your programs?

[2017-09-17 01:41] Jayapreethi commented on #274
thanks for the response @flukeout

[2017-09-17 10:59] bunnybooboo commented on #862
@Saallen on the table for discussion. Personally I'd say YES, but need consensus.

[2017-09-17 19:22] cbaba20 commented on #412
Hello Team, @natalia44 @KirstieJane @bunnybooboo any update on this? I am so much in thinking .

[2017-09-18 06:30] auremoser commented on #653
Apologies for the delayed reply, I'm so sorry I missed this notification but it looks like it's been taken care of. Thank you @natalia44 and @Melechuga

[2017-09-18 07:04] natalia44 commented on #412
@cbaba20 sorry for a delay - today you'll get an email with all info! have a good day

[2017-09-18 08:25] booyaa commented on #322
@skade - we've got a meetup this Wednesday. I'll ask for volunteers then.

[2017-09-18 09:18] batch-works commented on #613
**2.** It depends on how much extra material we'll be bringing along to the event, but just the printers by themselves usually take us just under an hour to setup from door to print. I can't imagine we'd need much more than the printers and a few handouts/info sheets but we'll have a clearer picture of exactly what we'll be bringing along after the workshop with the crafts council and @HollyBurton

[2017-09-18 09:34] EPIKhub commented on #613
@batch-works yes and great you are testing it out to see how things flow. Keep us updated. Re - Friday, as your stuff is quick to install you dont need to bring it on that day if you dont want to. The session on the Friday is for all the facilitators and co-facilitators including the youth who are taking part. As MozFest is a participation conferance and so very different to most other conferances

[2017-09-18 10:50] maboa commented on #717
@esylvan If you haven't received an email confirming your session's acceptance, you should receive one very soon. We're very excited to be including this session and will be reaching out to you shortly :)

[2017-09-18 11:29] cbaba20 commented on #412
Hey @natalia44 the mail says **I have to do it on my own** but I requested for travel and accommodation from day 1 of submission. So, I request you to please recheck the mail and send me revised one. Since I am unable to join the fest without stipend.
I hope the mail I got is not as per my request so please check and revert.

One Update I believe should be done:  Inside my talk Participants will d

[2017-09-18 11:39] bunnybooboo commented on #412
@cbaba20 is the email giving you a link to Egencia? We won't make the booking for you, but would potentially cover the costs. This means you have to book your flights etc yourself through that platform.

[2017-09-18 12:38] connieimdialog commented on #823
perfect, thanks!

[2017-09-18 13:34] cbaba20 commented on #412
Hello @bunnybooboo ,pardon me,as I can't see any link in the mail. So can You can forward it again. I will ask to my reps mentor or other collaborator about rest process.

Btw,Thank you for clarification.

Regards,
Chandan

[2017-09-18 13:48] bunnybooboo commented on #412
@cbaba20 I wanted to check for clarity, in case your query could have been fixed relatively quickly.  I've not been part of the selection in this space, but that's how it would work.

Please note that I have edited my previous response. I'd made an assumption, without clarifying with anyone else.

The number of stipends, and access to them, is not something I have access to outside of the scope of

[2017-09-18 13:55] natalia44 commented on #412
Dear @cbaba20, unfortunately the number of stipends this year was really limited and we weren't able to grant you one as Open Innovation team. We got many great proposals (yours in one of them) but couldn't accommodate everyone needs. But we would love to have you at Mozfest, and since your topic is really awesome we believe you'll be able to find some external financing to come to London.

[2017-09-18 14:03] cbaba20 commented on #412
Oh.. @natalia44 , Sadly I am not able to come for the Mozfest due to stipend issue and its heart breaking. if I could ever know about stipend limitation(as seen others issues how the stickers sticked on them, and this is most shell shocked part) during deliberation I can even try ,but now its all gone. :(

May be not this time, but while I have waited for 4 years into mozfest, this year considerin

[2017-09-18 14:08] natalia44 commented on #412
@cbaba20 please believe me we are also heartbroken we can't cover stipends for all great participants;( But please never give up!

[2017-09-18 14:24] phillipadsmith commented on #712
Unfortunately, these facilitators are unable to attend.

[2017-09-18 14:26] cbaba20 commented on #412
Yeah Sure, Thats what I always believe in(and presented up again this year) . However fun thing is during this entire process I was so attached that even I have built a good community in my region for OSM and turned many pathblocks(including government services expedition).
@bunnybooboo Thank you for your strong back, from the day I putted this I was following you and other OSM mappers and tried t

[2017-09-18 14:29] seplute commented on #735
hi all! when should we expect to get an answer on this? :innocent:

[2017-09-18 15:07] cbaba20 commented on #412
@natalia44  Btw Please feel free to accommodate me if anyone from open innovation is not able to join . May be this one #712 .

[2017-09-18 15:27] thornet commented on #169
Hi @natalia44 and @bunnybooboo, has this session been accepted in your areas? If not, we'd be more than happy to house it in the Unbox one.

[2017-09-18 15:28] natalia44 commented on #169
@thornet @bunnybooboo it was accepted by Open Innovation team:)

[2017-09-18 15:30] thornet commented on #169
Thank you!

[2017-09-18 15:56] mozfest-bot opened #863 "Ding! Talks: a magazine about the internet and things"
**[ UUID ]** 114df9df-c402-4398-bb09-3a20618df5a1

**[ Session Name ]** DING: Talks about the internet and things
**[ Primary Space ]** Decentralization

**[ Submitter's Name ]** Jon Rogers
**[ Submitter's Affiliated Organisation ]** Mozilla Open IoT Studio
**[ Submitter's Github ]** @ileddigital

**[ Additional facilitators ]** Pete Thomas

### What will happen in your session?
We'll discuss DING

[2017-09-18 16:12] natalia44 commented on #599
@auremoser so I un-assigned myself from this session:)

[2017-09-18 16:51] zlechelt commented on #644
Confirming I'll be coming.

Is it possible to do this as a drop in on only one of the days rather than both? cheers!

[2017-09-18 16:53] sarahlongfield commented on #254
Hi
A little late to the game, but have now registered on github and am on board.  Really looking forward to running the session with Shelby.
Sarah

[2017-09-18 16:54] Carotejada commented on #353
@barrosgeraldo and I confirm our participation.

[2017-09-18 16:58] emrysgreen commented on #254
Welcome @sarahlongfield !

[2017-09-18 16:59] sarahlongfield commented on #254
better late than never :) @Emyrsgreen!

[2017-09-18 16:59] sarahlongfield commented on #254
doh! @emrysgreen

[2017-09-18 17:01] edovio commented on #644
Hello, @zlechelt !
We will evaluate if is possible! :) thanks for your quickly feedaback!
( @flukeout @jonathanprozzi )

[2017-09-18 17:04] cs4allnyc commented on #753
Confirming our attendance! Thanks again!

[2017-09-18 17:08] edovio commented on #753
Thanks for your quickly reply!!! :)